@import "global";

footer{
	font-family: 'Roboto','arial','tahoma';
	background-color: #232323;
	padding: 24px 0px;

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 222px;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0px;
	}

	li{
		display: inline-block;
		margin: 8px 0px;
	}

	li.title-footer{
		width: 150px;
		color: $color-secondary;
		font-size: 18px;
		font-weight: bold;
	}

	a{
		font-size: 16px;
		color: #fff;
		margin-left: 24px;
		transition: ease all 0.2s;
	}

	a:hover{
		color: $color-secondary;
		text-decoration: none;
	}

	a:focus{
		color: $color-secondary;
		text-decoration: none;
	}
}

.social-footer{
	background-color: #fff;
	color: #232323;
	text-align: center;
	border-radius: 6px;
	padding: 4px 4px;
	font-size: 17px;
	transition: ease all 0.2s;

	&:hover{
		background-color: $color-secondary;
		color: #fff;
		text-decoration: none;
	}
}

.copyright{
	background-color: $color-primary;
	font-size: 14px;
	text-align: center;
	color: #fff;
	padding: 12px 0px 0px;
	margin-top: 24px;
}

.rendering{
	background-color: $color-primary;
	font-size: 12px;
	text-align: center;
	color: #fff;
	padding: 0px 0px 12px;
}