$color-primary: #0db2f0;
$color-secondary: #f47920;
$color-caption: #000000;
$color-menu: #2f2f2f;

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-bold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-medium;
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-semi;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: "Roboto", Arial, Tahoma !important;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #fff !important;
    background-image: none !important;
}

h1{
    line-height: 1.5 !important;
}

.container{
    width: 1280px !important;
    max-width: 1280px !important;
    padding: 0px !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 222px;    /* Footer height */
}

.sin-row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.sin-clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.ads300 {
    width: 300px;
    margin-left: auto;
    margin-right: auto
}
.ads320 {
    width: 320px;
    margin-left: auto;
    margin-right: auto
}
.ads336 {
    width: 336px;
    margin-left: auto;
    margin-right: auto
}
.ads1x1 {
    width: 1px;
    height: 1px
}
.mt8{
    margin-top: 8px;
}
.mt16 {
    margin-top: 8px;
}
.mt24 {
    margin-top: 24px;
}
.mb16 {
    margin-bottom: 16px;
}
.mt-mb-32 {
    margin: 32px 0px;
}
.pt-pb-32 {
    padding: 32px 0px;
}
.pt16 {
    padding-top: 16px;
}
.pb16 {
    padding-bottom: 16px;
}
.embed-video, .embed-social{
    margin: 16px auto;
    text-align: center;
}



// /* Works on Firefox */
// * {
//   scrollbar-width: thin;
//   scrollbar-color: $sin-primary #eee;
// }

// /* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//   width: 6px;
// }

// *::-webkit-scrollbar-track {
//   background: #eee;
// }

// *::-webkit-scrollbar-thumb {
//   background-color: $sin-primary;
//   border: none;
// }