@import 'global';

// Header Top
.nav-top{
	background-color: #f0f0f0;
	padding: 14px;
}

.media-nav-top{
	width: 70%;
	float: left;

	ul{
		list-style-type: none;
		margin:0;
		padding: 0;
	}

	li{
		display: inline-block;
		margin-right: 20px;
	}

	a{
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		transition: ease all 0.3s;
	}

	a:hover, a:focus{
		color: $color-primary;
		text-decoration: none;
	}
}

.social-nav-top{
	width: 30%;
	float: left;
	text-align: right;

	ul{
		list-style-type: none;
		margin:0;
		padding: 0;
	}

	li{
		display: inline-block;
		margin-left: 16px;
	}
}

.social-header{
	text-align: center;
	border-radius: 6px;
	padding: 4px 4px;
	font-size: 17px;
	transition: ease all 0.2s;
}

.social-fb{
	background-color: #2e4d87;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: #2e4d87;
		text-decoration: none;
	}
}

.social-tw{
	background-color: #01b5db;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: #01b5db;
		text-decoration: none;
	}
}

.social-ig{
	background-color: #dd0033;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: #dd0033;
		text-decoration: none;
	}
}

.social-yt{
	background-color: #c01b30;
	color: #fff;

	&:hover{
		background-color: #fff;
		color: #c01b30;
		text-decoration: none;
	}
}

// Warp Logo
.warp-logo{
	padding: 20px 0px;
	display: flex;
	flex-wrap: wrap;
}

.birthday-img{
	width: 20%;
	text-align: left;

	img{
		width: 70%;
		height: auto;
	}
}

.logo-header{
	padding: 30px 0px;
	width: 60%;

	img{
		width: 680px;
		height: 80px;
		display: block;
		margin: auto;
	}
}

.award-img{
	width: 20%;
	text-align: right;

	img{
		width: 130px;
		height: 130px;
	}
}

// Navigasi Utama
nav{
	background-color: #f3f3f3;
	padding: 16px 0px;
	width: 1400px;
	margin: 0px auto;
	border: 1px solid #f3f3f3;
}

// Header Profile
.warp-nav-form, .warp-nav-page{
	width: 100%;
	background-color: #f3f3f3;
	border-bottom: 3px solid $color-primary;
	padding: 20px 60px;
	color: #494949;
	font-size: 16px;
	padding: 8px 0px;
	font-weight: 500px;
}

.warp-nav-page{
	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		display: inline-block;
		color: #464646;
		font-size: 14px;
	}

	a{
		color: #464646;
		font-size: 14px;
		font-style: italic;
		margin: 0px 8px;

		&:hover, &:focus{
			color: $color-primary;
			text-decoration: none;
		}
	}
}

.logo-nav-form{
	float: left;
	width: 190px;
	padding: 3px 0px;

	img{
		width: 100%;
	}
}

.logo-nav-form-pembayaran{
	float: left;
	width: 190px;
	padding: 3px 0px;

	img{
		width: 100%;
	}
}

.nav-form{
	width: 770px;
}

.title-nav-form{
	font-family: "Roboto-medium",'arial','tahoma';
	float: right;
	width: 600px;
	padding: 3px 0px;
	font-size: 20px;
	color: #464646;
	text-align: right;
}

.nav-header{
	width: 70%;
}

.nav-form, .nav-header{
	float: left;
	font-size: 16px;
	font-weight: 500;

	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		display: flex;
	}

	li{
		display: inline-block;
		padding: 3px 12px;
	}

	a{
		color: #494949;
		transition: ease all 0.2s;
	}

	a:hover{
		color: $color-primary;
		text-decoration: none;
	}

	a:focus{
		text-decoration: none;
		color: #494949;
	}
}

.nav-form{
	li:first-child{
		border-left: 2px solid #c4c4c4;
		margin-left: 20px;
		padding-left: 20px;
	}
}

.nav-form-icon, .nav-header-icon{
	width: 20px;
	margin-right: 12px;
}

.avatar{
	width: 22px;
	height: 22px;
	object-fit: cover;
	border-radius: 50px;
	margin-right: 12px;
}

.date-form{
	width: 300px;
}

.date-header{
	width: 30%
}

.date-form, .date-header{
	float: left;
	text-align: right;
	padding: 3px 0px;
	font-size: 16px;

	img{
		width: 18px;
		margin-right: 12px;
	}
}

// Header About
.container-nav{
	width: 77%;
	margin: auto;
}

.nav-about{
	background-color: #fff;
	padding: 15px 0px;
}

.nav-left{
	width: 70%;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		margin-right: 60px;
		display: inline-block;
	}

	a{
		color: #000;
		font-size: 14px;
		padding-bottom: 17px;

		img{
			width: 24px;
			height: 24px;
			margin-right: 7px;
		}
	}

	a:hover, a:focus{
		text-decoration: none;
		color: #ec414b;
		border-bottom: 3px solid #ec414b;

		img{
			filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
		}
	}
}

.nav-right{
	width: 30%;
	text-align: right;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		margin-left: 15px;
		display: inline-block;
	}

	a{
		color: #fff;
		font-size: 16px;
	}
}