$color-primary: #0db2f0;
$color-secondary: #f47920;
$color-caption: #000000;
$color-menu: #2f2f2f;

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-bold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-medium;
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-semi;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

html, body{
    height: 100%;
    margin: 0;
}

body{
    font-family: "Roboto", Arial, Tahoma !important;
    line-height: 1.5;
    scroll-behavior: smooth;
    background-color: #fff !important;
    background-image: none !important;
}

.warp-form-profile{
	background-color: #f3f3f3;
	padding: 60px 0px 129px;
}

.container{
    width: 100%;
    max-width: 100%;
    padding: 0px !important;
}

.text-right{
	text-align: right;
}

// Invoice
.card-invoice{
	width: 595px;
	border-left: 22px solid $color-primary;
	margin: auto;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
}

.header-invoice{
	background-color: rgba(13, 178, 240, 0.1);
	padding: 24px 24px 21px;
}

.warp-logo-invoice{
	margin-bottom: 14px;
	display: flex;
}

.logo-invoice{
	border-right: 2px solid #494949;
	margin-right: 8px;
	padding: 8px 8px 8px 0px;
	width: 40%;

	img{
		width: 100%;
	}
}

.title-invoice{
	width: 58%;
	font-size: 30px;
	font-family: "Roboto",'arial','tahoma';
	font-weight: bold;
}

.warp-alamat-invoice{
	display: flex;
	font-size: 14px;
	color: #494949;
}

.contact-invoice{
	width: 50%;
	text-align: left;
}

.alamat-invoice{
	width: 50%;
	text-align: right;
}

.container-inv{
	padding: 0px 20px;
}

.detail-invoice{
	width: 100%;
	padding: 32px 0px 0px 0px;
	display: flex;
}

.warp-left{
	width: 40%;
	padding-right: 30px;
}

.warp-mid{
	width: 30%;
	padding: 0px 16px;
}

.warp-right{
	width: 30%;
}

.warp-mid-inv-date{
	width: 35%;
	padding: 0px 16px;
}

.warp-right-inv-date{
	width: 25%;
}

.title-detail-invoice{
	font-weight: bold;
	font-size: 14px;
	color: rgba(73, 73, 73, 0.6);
	margin-bottom: 5px;
}

.name-bill{
	font-size: 14px;
	font-weight: bold;
	color: #494949;
	margin-bottom: 4px;
}

.address-bill{
	font-size: 14px;
	color: #494949;
}

.invoice-number{
	font-size: 14px;
	font-weight: bold;
	color: #494949;
	margin-bottom: 20px;
}

.order-number{
	font-size: 14px;
	font-weight: bold;
	color: #494949;
}

.invoice-rp{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 24px;
	color: #0db2f0;
	text-align: right;
}

.warp-date-due{
	padding: 20px 0px 20px 0px;
	display: flex;
	border-bottom: 2px solid rgba(73, 73, 73, 0.12);
}

.name-packet{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 18px;
}

.date-due-invoice{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 14px;
}

.warp-item-detail{
	padding: 20px 0px 20px 0px;
	display: flex;
	border-bottom: 1px solid rgba(73, 73, 73, 0.12);

	table{
		width: 100%;
	}
}

.packet-detail-name, .detail-bill{
	font-size: 14px;
	color: #494949;
	margin-top: 20px;
	margin-bottom: 5px;
}

.detail-bill{
	font-weight: bold;
}

.packet-detail-desc{
	font-size: 12px;
	color: rgba(73, 73, 73, 0.6);
}

.warp-note-inv{
	padding: 20px 0px 32px 0px;
	display: flex;
}

.note-inv{
	width: 50%;
	font-size: 12px;
	color: rgba(73, 73, 73, 0.8);

	table{
		width: 100%;
	}
}

.bank-name{
	font-weight: bold;
	color: #0db2f0 !important;
}

.total-inv{
	width: 50%;
	text-align: right;
	padding-left: 60px;

	table{
		width: 100%;
	}
}

.title-total-inv{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 14px;
	margin-bottom: 12px;
	color: rgba(73, 73, 73, 0.6);
	text-align: left;
}

.isi-total-inv, .isi-total-inv-all{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 14px;
	margin-bottom: 12px;
	color: #494949;
	text-align: right;
}

.isi-total-inv-all{
	font-size: 16px !important;
}

.toc-inv{
	padding: 32px 0px 27px;
}

.desc-toc-inv{
	font-size: 12px;
}