@import 'global';

// Coming Soon
.coming-soon{
	background-color: #eaf9ff !important;
	padding: 50px 30px 0px !important;
	text-align: center;
	height: 100%;
	width: 100%;

	img{
		display: block;
		margin: auto;
	}
}

.title-comming-soon{
	font-size: 100px;
	margin-bottom: 40px;
}

.logo-comming-soon{
	width: 580px;
	margin-bottom: 200px !important;
}

.img-comming-soon{
	width: 80%;
}

// Util
.container-form-bg{
	background-image: url('../images/bg-form.png') !important;
	width: 100%;
	height: 100%;
	background-size: cover;
	background-attachment: fixed;
}

.warp-form{
	background: linear-gradient(0deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.5) 100%);
	width: 547px;
	padding: 44px 60px 32px 60px;
	border-radius: 0px 0px 20px 20px;
	margin: 24px auto;
}

.warp-form-profile{
	background-color: #f3f3f3;
	padding: 60px 0px 129px;
}

.warp-form-notifikasi{
	background-color: #f3f3f3;
	padding: 8px 0px 129px;
}

.form-profile{
	width: 329px;
	margin: auto;
}

.img-logo-form{
	width: 100%;
	margin-bottom: 30px;

	img{
		width: 384px;
		margin: auto;
		display: block;
	}
}

hr.hr-logo {
  border-top: 1px solid #8692a6;
  width: 80%;
}

.title-form{
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin: 12px 0px;
}

.desc-form{
	font-size: 16px;
	margin-bottom: 12px;
}

.tos-form{
	color: #494949;
	font-size: 14px;
	margin-top: 12px;

	.check-mark{
		margin-right: 10px;
	}

	.warp-checkbox label {
	  background-color: #fff;
	  border: 1px solid #ccc;
	  border-radius: 5px;
	  cursor: pointer;
	  height: 20px;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 20px;
	  margin-right: 10px;
	}

	.warp-checkbox label:after {
	  border: 3px solid #fff;
	  border-top: none;
	  border-right: none;
	  content: "";
	  height: 7px;
	  left: 3px;
	  opacity: 0;
	  position: absolute;
	  top: 4px;
	  transform: rotate(-45deg);
	  width: 13px;
	}

	a{
		color: $color-primary;
		text-decoration: underline;

		&:hover, &:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}
}

.label-form{
	font-size: 12px;
	font-weight: bold;
	color: #494949;
	margin: 8px 0px;
	width: 100%;
}

.label-form-big{
	font-size: 18px;
	font-weight: bold;
	color: #464646;
	margin: 8px 0px;
	width: 100%;
}

.required-label-form{
	color: #ce1723;
}

.form-text-blue{
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #8692a6;
	background-color: #fff;
	color: #494949;
	width: 100%;
	padding: 11px 65px 10px 16px;

	&:focus{
		outline: none;
		color: #000;
		border: 1px solid #1565d8;
		box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
	}
}

.btn-primary{
	border: none;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	background: $color-primary;
	text-align: center;
	width: 100%;
	border-radius: 6px;
	padding: 9px 0px;
	margin-top: 6px;
	cursor: pointer;

	&:focus{
		outline: none;
	}
}

.disabled-form{
    pointer-events: none;
}

.enabled-form{
	pointer-events: fill;
}

.btn-password-show-edit{
	display: none;
	position: absolute;
	z-index: 30;
	right: 60px;
	top: 0;
	height: 42px;
	width: 28px;
	background-size: 23px;
	background-repeat: no-repeat;

	animation: fadein 1s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
}

.eye-hide{
	background-image: url("../images/icon/eye-hide.svg");
	background-position-x: 2px;
	background-position-y: 10px;
}

.eye-show{
	background-image: url("../images/icon/eye-show.svg");
	background-position-x: 2px;
	background-position-y: 9px;
}

.form-fill{
	color: #000 !important;
	background-color: #fff !important;

	&:focus{
		outline: none;
		color: #000;
		border: 1px solid #1565d8;
		box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
	}
}

.form-empty{
	color: #8692a6 !important;
	background-color: rgba(255,255,255,0) !important;
	transition: all ease .3s;

	&:focus{
		color: #000 !important;
		background-color: #fff !important;
	}
}

.btn-back{
	margin-top: 86px;

	a{
		font-size: 16px;
		color: #fff;
	}

	a:hover{
		text-decoration: none;
		color: #fff;
	}

	a:focus{
		text-decoration: none;
		color: #fff;
	}
}

.btn-back-to{
	color: #093753 !important;
	font-weight: bold;
}

.btn-back-default{
	margin: 63px 0px 73px;

	a{
		font-size: 16px;
		color: #464646;
	}

	a:hover{
		text-decoration: none;
		color: #464646;
	}

	a:focus{
		text-decoration: none;
		color: #464646;
	}
}

.btn-back-to-default{
	color: $color-primary !important;
	font-weight: bold;
}

.btn-2top {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 88;
	border: none; 
	outline: none; 
	background-color: rgba(5, 126, 255, 0.5); 
	color: #fff;
	cursor: pointer;
	padding: 9px 15px 13px;
	border-radius: 50px;
	font-size: 17px;

	&:focus{
		outline: none; 
	}
}

// Form Group
.group-form{
	position: relative;
}

.btn-group-form-cancel{
	display: none;
	position: absolute;
	z-index: 30;
	left: 0;
	top: 0;
	padding: 10px 0px;
	width: 33px;
	animation: fadein 1s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
	cursor: pointer;

	img{
		width: 20px;
		height: 20px;
		margin: auto;
		display: block;
	}
}

.btn-group-form-cancel-blue{
	display: none;
	position: absolute;
	z-index: 30;
	right: 0;
	top: 0;
	padding: 13px 0px;
	width: 45px;
	animation: fadein 1s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
	cursor: pointer;

	img{
		width: 17px;
		height: 17px;
		margin: auto;
		display: block;
	}
}

.btn-group-form{
	position: absolute;
	z-index: 30;
	right: 0;
	top: 0;
	font-size: 10px;
	font-weight: bold;
	padding: 12px 0px;
	width: 50px;
	text-align: center;
	cursor: pointer;
}

.btn-form-edits{
	color: #494949;
	background-color: #fff;
	border-top: 1px solid #8692a6;
	border-right: 1px solid #8692a6;
	border-bottom: 1px solid #8692a6;
	border-radius: 0px 6px 6px 0px;
	cursor: pointer;
}

.btn-form-show-pass{
	color: #494949;
	font-size: 12px;
	cursor: pointer;
}

.btn-form-done{
	color: #fff;
	background-color: $color-secondary;
	border: 1px solid $color-secondary;
	border-radius: 6px;
	cursor: pointer;
	animation: fadein 1s;
	-moz-animation: fadein 1s; /* Firefox */
	-webkit-animation: fadein 1s; /* Safari and Chrome */
	-o-animation: fadein 1s; /* Opera */
}

.group-form-text-red{
	font-size: 12px;
	border-radius: 6px;
	border: 1px solid #8692a6;
	background-color: #fff !important;
	color: #494949;
	width: 100%;
	padding: 11px 65px 10px 16px;
	transition: ease all .5s;

	&:focus{
		outline: none;
		color: #000;
		border: 1px solid #8692a6;
		box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
		-webkit-box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
		-moz-box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
	}
}

.group-form-text-blue{
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #8692a6;
	background-color: #fff;
	color: #494949;
	width: 100%;
	padding: 11px 65px 10px 16px;

	&:focus{
		outline: none;
		color: #000;
		border: 1px solid #1565d8;
		box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
	}
}

.group-form-text-primary, .group-form-text-primary-file{
	font-size: 14px;
	border-radius: 6px;
	border: 1px solid #8692a6;
	background-color: #fff;
	color: #494949;
	width: 100%;
	padding: 11px 65px 10px 16px;

	&:focus{
		outline: none;
		color: #000;
		border: 1px solid $color-primary;
		box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
	}
}

.group-form-text-primary-file{
	border: 1px dashed #8692a6 !important;
}

// Popup
.popup-msg{
	display: none;
	position: fixed;
	z-index: 99;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);
	transition: all ease .2s;
}

.popup-msg-content{
	width: 408px;
	background-color: #fefefe;
	margin: 10% auto;
	padding: 24px;
	border-radius: 6px;
	color: #989898;

	p{
		font-size: 14px;
		color: #494949;
		text-align: center;
	}
}

.popup-msg-btn{
	font-size: 16px;
	color: #0db2f0;
	text-align: center;
	margin: 20px 0px 0px;
	cursor: pointer;
	font-weight: bold;
}

// Popup With Icon Only
.popup-i{
	width: 52px;
	margin: auto;
	display: block;
	margin-bottom: 8px;
}

p.popup-msg-title{
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 8px;
	color: #494949;
}

// Popup With Image
.img-popup{
	width: 40%;
	float: left;

	img{
		width: 100%;
		margin-top: 3px;
	}
}

.desc-popup{
	width: 60%;
	float: right;
}

.warp-msg-icon-popup{
	width: 100%;
	margin-bottom: 12px;
}

.popup-icon-sm{
	float: left;
	width: 20px;
	margin: 3px 4px 3px 0px;
}

.title-popup{
	font-size: 16px;
	font-weight: bold;
	color: #494949;
}

p.popup-msg-icon{
	font-size: 12px;
	text-align: left;
	margin-bottom: 8px;
	color: #494949;
}
// End Popup

// Alert Form
.alert-msg{
	display: none;
	color: #ce1723;
	font-size: 12px;
	margin-top: 2px;
}

// More Button
.more-edisi{
	background-color: $color-primary;
	width: 337px;
	padding: 20px;
	text-align: center;
	margin: 36px auto 32px;
	outline: none;

	a{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 14px;
		background-color: $color-secondary;
		padding: 10px 20px;
		color: #fff;
		border-radius: 10px;
	}

	a:hover{
		background-color: #da6816;
		text-decoration: none;
	}

	a:focus{
		background-color: #da6816;
		text-decoration: none;
	}
}

// Paging
.paging{
	width: 100%;
	text-align: center;
	font-size: 0;
	margin: 50px 0px;

	ul{
		list-style-type: none;
		padding: 0;
		margin: 0;
	}

	li{
		display: inline-block;
		padding: 6px 0px;
		border: 1px solid #bfbfbf;
		margin-left: -1px;
		background-color: #fff;

		&:hover{
			background-color: $color-secondary;
			border: 1px solid $color-secondary;

			a{
				text-decoration: none;
				color: #fff;
			}
		}

		&:focus{
			background-color: $color-secondary;
			border: 1px solid $color-secondary;
		}

		&:first-child {
		  	border-top-left-radius: 5px;
		  	border-bottom-left-radius: 5px;
		  	position: relative;

		  	i{
		  		font-size: 12px;
				margin-right: 4px;
		  	}
		}

		&:last-child {
		  	border-top-right-radius: 5px;
		 	border-bottom-right-radius: 5px;
		 	position: relative;

		  	i{
		  		font-size: 12px;
				margin-left: 4px;
		  	}
		}
	}

	a{
		font-size: 14px;
		color: #494949;
		padding: 8px 13px;
	}

	a.active{
		color: #fff;
		background-color: $color-secondary;
		border: 1px solid $color-secondary;
	}
}

// Bread Crumb Page
.nav-page{
	display: inline-block;
	font-family: "Roboto-bold",'arial','tahoma';
	margin: 23px 0px 12px;
	width: 100%;
	padding-bottom: 16px;
	border-bottom: 2px solid #f3f3f4;
}

.kategori-page{
	font-size: 18px;
	color: #767676 !important;
	padding-right: 12px;
	border-right: 1px solid #c4c4c4;
	text-decoration: none;
	
	&:hover{
		color: #767676;
		text-decoration: none;
	}

	&:focus{
		color: #767676;
		text-decoration: none;
	}
}

.subkategori-page{
	font-size: 18px;
	color: $color-secondary;
	padding-left: 12px;

	&:hover{
		color: $color-secondary;
		text-decoration: none;
	}

	&:focus{
		color: $color-secondary;
		text-decoration: none;
	}
}

// Label
.sin-label{
    border-radius: 5px;
    padding: 8px 10px;
    font-size: 14px !important;
}

.label-warning{
    border: 2px solid #ffb800;
    color: #ffb800;
    background-color: #fff;

    &:hover, &:focus{
        background-color: #ffb800;
        color: #fff;
        text-decoration: none;
    }
}

.label-danger{
    border: 2px solid #e34e4e;
    color: #e34e4e;
    background-color: #fff;

    &:hover, &:focus{
        background-color: #e34e4e;
        color: #fff;
        text-decoration: none;
    }
}

.label-success{
    border: 2px solid #4caf50;
    color: #4caf50;
    background-color: #fff;

    &:hover, &:focus{
        background-color: #4caf50;
        color: #fff;
        text-decoration: none;
    }
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.text-warning{
	color: #ffb800;
}

.text-danger{
	color: #e34e4e;
}

.text-success{
	color: #4caf50;
}

.text-grey{
	color: rgba(70, 70, 70, 0.4);
}

.color-warning{
	background-color: #ffb800;
}

.color-danger{
	background-color: #e34e4e;
}

.color-success{
	background-color: #4caf50;
}

.hide{
	display: none !important;
}

a.link-secondary, a.link-secondary:hover, a.link-secondary:focus{
	text-decoration: none;
	color: $color-secondary;
}

// Progress
.nav-form-step{
	float: right;
	width: 480px;
}

.progressbar {
	counter-reset: step;
}
.progressbar li {
	list-style-type: none;
	width: 25%;
	float: left;
	font-size: 14px;
	position: relative;
	text-align: center;
	color: rgba(70, 70, 70, 0.2);
}
.progressbar li:before {
	content: counter(step);
	counter-increment: step;
	width: 33px;
	height: 33px;
	line-height: 30px;
	border: 2px solid #b4b4b4;
	background-color: #b4b4b4;
	color: #b4b4b4;
	display: block;
	text-align: center;
	margin: 0 auto 10px auto;
	border-radius: 50%;
}
.progressbar li:after {
	width: 100%;
	height: 3px;
	content: '';
	position: absolute;
	background-color: #b4b4b4;
	top: 15px;
	left: -50%;
	z-index: -1;
}
.progressbar li:first-child:after {
	content: none;
}
.progressbar li.has-active {
	a{
		color: #464646;
		transition: ease all 0.3s;
	}

	a:hover{
		text-decoration: none;
		color: $color-secondary
	}
}
.progressbar li.has-active:before {
	content: counter(step);
	counter-increment: step;
	border-color: $color-primary;
	background-color: $color-primary;
	color: #fff;
	font-size: 14px;

	&:hover{
		border-color: $color-primary;
		background-color: $color-primary;
	}
}
.progressbar li.has-active + li:after {
	background-color: $color-primary;
}

.progressbar li.active {
	color: #464646;
}
.progressbar li.active:before {
	content: counter(step);
	counter-increment: step;
	border-color: $color-primary;
	background-color: #fff;
	color: $color-primary;
	font-size: 14px;
}
.progressbar li.active + li:after {
  	background-color: $color-primary;;
}

.account{
	display: block;
	width: 320px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#more, #more-tos {
	display: none;
}

.btn-more-about{
	border: none;
	padding: 12px 35px;
	background-color: #cb202a;
	font-size: 20px;
	color: #fff;
	margin: 60px auto;
	cursor: pointer;
	border-radius: 10px;
	text-align: center;
	display: block;
	transition: ease all 0.5s;

	&:hover{
		background-color: #7f030a;
	}
}
// End Util

// Kanal
.warp-kanal{
	position: absolute;
	top: 0;
	left: 0;
	background-color: $color-secondary;
	border-right: 10px solid $color-primary;
	padding: 5px 15px 5px 15px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}

.warp-kanal-relative{
	background-color: $color-secondary;
	border-right: 10px solid $color-primary;
	padding: 5px 15px 5px 15px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 12px;
	width: max-content;
}

.border-left-right{
	border-left: 1px solid #e5e5e5;
 	border-right: 1px solid #e5e5e5;
}

// Headline
.warp-headline{
	margin: 20px -60px 0px;
	display: flex;
	flex-wrap: wrap;

	a{
		color: #000;
		display: block;
	}

	a:hover{
		text-decoration: none;
		color: $color-secondary;
	}

	a:focus{
		color: $color-secondary;
		text-decoration: none;
	}
}

.headline-left{
	padding: 0px 40px;
	width: 700px;
	border-left: 1px solid #e5e5e5;
 	border-right: 1px solid #e5e5e5;
}

.title-headline{
	font-family: "Roboto-bold", 'arial', 'tahoma';
	font-size: 48px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 16px;
}

.img-headline{
	width: 100%;
	position: relative;

	img{
		width: 620px;
		height: 472px;
		object-fit: cover;
	}
}

.desc-headline{
	font-size: 14px;
	position: relative;
	margin-top: 8px;
}

.headline-right{
	padding: 0px 40px;
	width: 700px;
 	border-right: 1px solid #e5e5e5;
}

// Topik Pilihan
.topik-pilihan{
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid #e5e5e5;
	padding-bottom: 15px; 
	margin-bottom: 15px;
}

.img-topik-pilihan{
	width: 360px;
	position: relative;

	img{
		width: 360px;
		height: 260px;
		object-fit: cover;
	}
}

.warp-desc{
	width: 259px;
	padding-left: 20px;
}

.title-topik-pilihan{
	font-family: "Roboto-bold", 'arial', 'tahoma';
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 8px;
}

.desc-topik-pilihan{
	font-size: 14px;
}


// Berita Utama
.warp-berita-utama{
	width: 100%;
}

.berita-utama{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	margin: 0px -12px;
}

.list-berita-utama{
	width: 214px;
	padding: 0px 12px 12px;
}

.img-berita-utama{
	width: 190px;
	margin-bottom: 16px;

	img{
		width: 190px;
		height: 126;
		object-fit: cover;
	}
}

.title-berita-utama{
	font-family: "Roboto-bold", 'arial', 'tahoma';
	font-size: 16px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 12px;
}

.desc-berita-utama{
	font-size: 12px;
}

// Filter
.warp-filter{
	background-color: $color-primary;
	padding: 16px 8px;
	width: 1400px;
	margin: 20px auto 32px;
	border: 1px solid $color-primary;
}

.title-filter{
	float: left;
	width: 319px;
	height: 35px;
	background-color: #fff;
    padding: 5px 10px;
    margin-right: 16px;
    margin-bottom: 0px;
    font-size: 12px;
    border: 1px solid #fff;
    border-radius: 10px;
    color: #c0c0c0;
    -webkit-appearance: none;
    outline: none;

    &:focus{
    	color: #000;
    	border: 1px solid $color-secondary;
    }
}

.form-date-filter{
	float: left;
	margin-right: 16px;
	width: 140px;;
}

.date-filter{
	width: 100%;
	height: 35px;
	padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #8692a6;
    border-radius: 10px;
    background: url('../../assets/images/icon/calendar-alt-solid.svg') no-repeat right #fff;
    background-size: 15px;
    background-position-x: 90%;
    color: #000;
    -webkit-appearance: none;
    outline: none;

    &:focus{
    	border: 1px solid $color-secondary;
    }
}

.btn-filter{
	float: left;
	position: relative;
	width: 36px;
	height: 35px;
	padding: 0px 0px;
	margin-left: 3px;
    font-size: 14px;
    border-radius: 10px;
    color: #fff;
    border: 1px solid $color-secondary;
    background-color: $color-secondary;
    cursor: pointer;
    
    &:hover{
    	border: 1px solid #da6816;
		background-color: #da6816;
		text-decoration: none;
	}

	&:focus{
		border: 1px solid #da6816;
		background-color: #da6816;
		text-decoration: none;
		-webkit-appearance: none;
    	outline: none;
	}
}

// List Epaper
.warp-epaper{
	margin: 0px -24px;
	display: flex;
	flex-wrap: wrap;
}

.list-epaper{
	width: 442px;
	padding: 23px 24px 0px;
}

.warp-head-list-paper{
	margin-bottom: 8px;
}

.head-list-paper{
	float: left;
	width: 361px;
}

.edisi-list-epaper{
	font-size: 12px;
	color: $color-secondary;
	margin-bottom: 8px;
}

.title-list-epaper{
	font-family: "Roboto-bold", 'arial', 'tahoma';
	font-size: 20px;
	font-weight: bold;
	line-height: 1.3;
	margin-bottom: 12px;

	a{
		color: #000;
		display: block;
	}

	a:hover{
		text-decoration: none;
		color: $color-secondary;
	}

	a:focus{
		color: $color-secondary;
		text-decoration: none;
	}
}

.desc-list-epaper{
	font-size: 14px;
}

.i-bookmark-list-paper{
	float: left;
	width: 31px;
	text-align: right;

	img{
		width: 26px;
		height: 34px;
	}
}

.img-list-epaper{
	position: relative;

	img{
		width: 401px;
		height: 665px;
	}
}


// Login
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.warp-link{
	margin: 15px 0px;
	text-align: center;

	a{
		font-size: 12px;
		color: #494949;

		&:hover{
			text-decoration: none;
			color: #494949;
		}

		&:focus{
			text-decoration: none;
			color: #494949;
		}
	}
}

.daftar-link{
	font-size: 16px;
	color: #fff;
	background: #232323;
	border-radius: 6px;
	padding: 10px 8px;
	text-align: center;

	a{
		color: #0db2f0;
		font-weight: bold;;

		&:hover{
			text-decoration: none;
			color: #0db2f0;
		}

		&:focus{
			text-decoration: none;
			color: #0db2f0;
		}
	}
}

.or-login {
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
    font-size: 12px;
    margin: 15px 0px 10px;
}
.or-login::before, .or-login::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #fff;
}
.or-login::before {
    margin-right: 20px;
}
.or-login::after {
    margin-left: 20px;
}

.btn-social-login{
	position: relative;
	font-size: 16px;
	text-align: center;
	display: block;
	border-radius: 6px;
	padding: 11px 0px;
	margin: 12px 0px;
}

.btn-social-gl{
	background-color: #fff;
	color: #000;

	&:hover{
		text-decoration: none;
		color: #000;
	}

	&:focus{
		text-decoration: none;
		color: #000;
	}
}

.btn-social-fb{
	background-color: #3b5998;
	color: #fff;

	&:hover{
		text-decoration: none;
		color: #fff;
	}

	&:focus{
		text-decoration: none;
		color: #fff;
	}
}

.btn-social-tw{
	background-color: #1da1f2;
	color: #fff;

	&:hover{
		text-decoration: none;
		color: #fff;
	}

	&:focus{
		text-decoration: none;
		color: #fff;
	}
}

.i-login-gl{
	position: absolute;
	z-index: 20;
	left: 35px;
	top: 11px;
	width: 20px;
}
.i-login-fb{
	position: absolute;
	z-index: 20;
	left: 32px;
	top: 11px;
	font-size: 19px !important;
}
.i-login-tw{
	position: absolute;
	z-index: 20;
	left: 32px;
	top: 10px;
	font-size: 19px !important;
}

// Profile
.warp-profile{
	position: relative;
	margin: 30px 0px 45px;
}

.nav-notifikasi{
	text-align: right;
	width: 30px;
	position: absolute;
	z-index: 99;
	right: 48px;
	top: 0;

	a{
		color: #494949;
		font-size: 14px;
	}

	a:hover{
		text-decoration: none;
	}

	a:focus{
		text-decoration: none;
	}
}

.img-notifikasi{
	position: relative;
	width: 80px;

	img{
		width: 27px;
		height: 24px;
	}

	&:hover{
		.text-notifikasi{
			visibility: visible;
			margin-right: 20px;
			transition: ease all 0.6s
		}
	}
}

.text-notifikasi{
	visibility: hidden;
	position: absolute;
	right: 20px;
	width: 235px;
}

.notif-red{
	position: absolute;
    width: 10px;
    height: 10px;
    background-color: #bb4430;
    right: 0;
    top: 0;
    border-radius: 50%;
}

.img-avatar{
	position: relative;
	margin: 0px 0px 15px;

	img{
		width: 207px;
		height: 207px;
		object-fit: cover;
		border-radius: 50%;
		display: block;
		margin: auto;
	}
}

.name-profile{
	font-size: 32px;
	font-weight: bold;
	text-align: center;
}

.email-profile{
	font-size: 18px;
	text-align: center;
}

.warp-btn-profile{
	margin: 20px 0px 40px;
	text-align: center;
}

.btn-edit-profile{
	font-size: 14px;
	font-weight: bold;
	color: #1d1d2b;
	padding: 7px 18px;
	border-radius: 6px;
	border: 1px solid #e3e3e6;
	background-color: #ffffff;
	transition: ease all 0.5s;
	margin-right: 16px;

	&:hover{
		text-decoration: none;
		color: #1d1d2b;
		border: 1px solid $color-primary;
	}

	&:focus{
		outline: none;
		-webkit-appearance: none;
		text-decoration: none;
		color: #1d1d2b;
		border: 1px solid $color-primary;
	}
}

.btn-signout-profile{
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	padding: 7px 18px;
	border-radius: 6px;
	border: 1px solid $color-primary;
	background-color: $color-primary;

	&:hover{
		text-decoration: none;
		color: #fff;
	}

	&:focus{
		outline: none;
		-webkit-appearance: none;
		text-decoration: none;
		color: #fff;
	}
}

// Nav Profile
.nav-profile{
	position: relative;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	border-bottom: 2px solid #f3f3f4;
	padding: 20px 0px;
}

.warp-nav-tab-profile{
	width: 60%;
	float: left;
	margin: 4px 0px;

	ul{
		list-style-type: none;
		padding: 0px;
		margin: 0px;
	}

	li{
		display: inline-block;
		margin-right: 16px;
		padding-right: 19px;
		border-right: 2px solid #767676;
		cursor: pointer;
		color: #767676;
		font-size: 18px;
		font-family: "Roboto-bold",'arial','tahoma';
	}

	li:last-child{
		border-right: 0px;
	}

	li:hover{
		font-family: "Roboto-bold",'arial','tahoma';
		color: $color-secondary;
	}

	li.active{
		color: $color-secondary;
		font-family: "Roboto-bold",'arial','tahoma';
	}
}

.tab-profile{
	color: #767676;
	font-size: 18px;

}

.title-tab{
	width: 80%;
	float: left;
	color: #494949;
	font-size: 18px;
	font-weight: 500;
	padding: 3px 0px;
}

.warp-bookmark-right{
	width: 40%;
	float: right;
}

.box-search{
	width: 70%;
	float: left;
	position: relative;
	padding-right: 17px;
}

.cari-bookmark{
	width: 319px;
	height: 34px;
	font-size: 14px;
	color: #c0c0c0;
	padding: 10px 45px 10px 20px;
	border: 1px solid #8692a6;
	border-radius: 10px;
	outline: none;
	-webkit-appearance: none;
	float: right;

	&:focus{
		border: 1px solid $color-secondary;
		color: #000;
	}
}

.btn-cari-bookmark{
	position: absolute;
	top: 0;
	right: 17px;
	font-size: 14px;
	color: #fff;
	width: 36px;
	height: 34px;
	background-color: $color-secondary;
	border: 1px solid $color-secondary;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

.box-date{
	width: 30%;
	float: left;
}

.date-cari-bookmark{
	width: 100%;
	height: 34px;
	padding: 10px 20px;
    font-size: 14px;
    border: 1px solid #8692a6;
    border-radius: 10px;
    background: url('../../assets/images/icon/calendar-alt-solid.svg') no-repeat right #fff;
    background-size: 15px;
    background-position-x: 90%;
    color: #000;
    -webkit-appearance: none;
    outline: none;

    &:focus{
    	border: 1px solid $color-secondary;
    }
}

// Mark
.warp-head-mark{
	margin: 9px 0px 0px 0px;
	width: 100%;
}

.head-mark{
	border-bottom: 2px solid #f3f3f4;
	padding: 16px 0px;
}

.head-mark-grey{
	border-bottom: 2px solid #e3e3e6;
	padding: 16px 0px;
}

.check-mark{
	width: 5%;
	float: left;
}

.title-mark{
	width: 75%;
	float: left;
	color: #494949;
	font-size: 18px;
	font-weight: 500;
	padding: 3px 0px;
}

.btn-hapus-mark{
	width: 20%;
	float: left;
	text-align: right;
	padding: 3px 0px;

	button{
		border: 1px solid #fff;
		color: #f22525;
		font-size: 18px;
		background-color: #fff;
		font-weight: 500;
		cursor: pointer;
		padding: 5px 10px;
		border-radius: 6px;
		transition: ease all 0.6s;

		&:focus{
			outline: none;
		}

		&:hover{
			-webkit-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
			-moz-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
			box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
			border: 1px solid #f22525;
		}
	}
}

.btn-hapus-mark-grey{
	button{
		border: 1px solid #f3f3f3;
		background-color: #f3f3f3 !important;
	}
}

// Check Box
.warp-checkbox {
  position: relative;
}

.warp-checkbox label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  height: 32px;
  left: 0;
  position: absolute;
  top: 0;
  width: 32px;
}

.warp-checkbox label:after {
  border: 4px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 10px;
  left: 6px;
  opacity: 0;
  position: absolute;
  top: 8px;
  transform: rotate(-45deg);
  width: 19px;
}

.warp-checkbox input[type="checkbox"] {
  visibility: hidden;
}

.warp-checkbox input[type="checkbox"]:checked + label {
  background-color: #1e8c83;
  border-color: #1e8c83;
}

.warp-checkbox input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

// End Checkbox

// Check Box table
.warp-checkbox-table {
  position: relative;
}

.warp-checkbox-table label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  height: 22px;
  width: 22px;
  left: 0;
  position: absolute;
  top: 0;
}

.warp-checkbox-table label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 5px;
  left: 4px;
  opacity: 0;
  position: absolute;
  top: 6px;
  transform: rotate(-45deg);
  width: 11px;
}

.warp-checkbox-table input[type="checkbox"] {
  visibility: hidden;
}

.warp-checkbox-table input[type="checkbox"]:checked + label {
  background-color: #595454;
  border-color: #ccc;
}

.warp-checkbox-table input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

// End Checkbox table

// List Bookmark
.warp-list-bookmark{
	margin: 0px -28px;
	display: flex;
	flex-wrap: wrap;
}

.list-bookmark{
	width: 33.33%;
	padding: 0px 28px 0px;
	margin-top: 20px;
}

.headlist-bookmark{
	margin-bottom: 20px;
}

.headlist-bookmark-check{
	width: 50%;
	float: left;
}

.flag-bookmark{
	width: 50%;
	float: right;
	text-align: right;
	img{
		width: 28px;
		height: 36px;
	}
}

.warp-desc-bookmark-newspaper{
	width: 100%;
}

.edisi-bookmark{
	font-size: 12px;
	margin-bottom: 8px;
	color: $color-secondary;
}

.title-bookmark{
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 8px;

	a{
		color: #000;
		display: block;
	}

	a:hover{
		text-decoration: none;
		color: $color-secondary;
	}

	a:focus{
		color: $color-secondary;
		text-decoration: none;
	}
}

.desc-bookmark{
	font-size: 14px;
	margin-bottom: 8px;
}

.img-bookmark-newspaper{
	width: 100%;

	img{
		width: 100%;
		height: 665px;
	}
}

// Ubah Profile
.btn-edit-profile-form{
	position: absolute;
	z-index: 30;
	bottom: -5px;
	left: 45%;
	font-size: 10px;
	text-align: center;
	
	a{
		color: #fff;
		background-color: $color-secondary;
		padding: 8px 10px;
		border-radius: 6px;
		border: solid 1px $color-secondary;
		box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
	}

	a:hover{
		text-decoration: none;
		color: #fff;
	}
	
	a:focus{
		text-decoration: none;
		color: #fff;
	}

}

.t-b-ubah-profile{
	border: none;
	font-size: 14px;
	font-weight: bold;
	color: #fff;
	background: $color-secondary;
	text-align: center;
	width: 100%;
	border-radius: 6px;
	padding: 9px 0px;
	margin-top: 36px;
	cursor: pointer;

	&:focus{
		outline: none;
	}
}

// Search
.warp-search{
	margin: 0px auto 36px;
	width: 50%;
	position: relative;
}

.input-cari-group{
	font-size: 12px;
	color: #c0c0c0;
	padding: 15px 65px 15px 24px;
	border: 1px solid #c0c0c0;
	border-radius: 10px;
	width: 100%;
	height: 43px;
	outline: none;

	&:focus{
		border: 1px solid $color-secondary;
		color: #000;
	}
}

.btn-cari-group{
	font-size: 12px;
	color: #fff;
	background-color: $color-secondary;
	width: 46px;
	height: 43px;
	border: 1px solid $color-secondary;
	border-radius: 10px;
	outline: none;
	text-align: center;
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
}

// Not Found
.img-notfound{
	width: 100%;
	margin: 68px 0px 32px;
	border-top: 2px solid #e3e3e6;
	padding-top: 64px;

	img{
		width: 564px;
		height: 320px;
		margin: auto;
		display: block;
	}
}

.desc-notfound{
	font-size: 24px;
	color: #424242;
	text-align: center;
	margin-bottom: 94px;
}

// Epaper Read
.epaper-read{
	width: 100%;
	height: 651px;
	position: relative;
	z-index: 20;
	margin: 30px auto;
}

.epaper-flipHtml{
	width: 100%;
	height: 651px;
}

.title-epaper-read{
	font-family: 'Roboto-bold','arial','tahoma';
	font-weight: bold;
	font-size: 48px;
	margin: 20px 0px 4px;
}

.date-epaper-read{
	font-size: 16px;
	color: #575757;
	margin: 8px 0px;
}

.desc-epaper-read{
	width: 100%;
	margin: 24px auto 0px;
	font-size: 16px;
}

.share-btn{
	width: 100%;
	margin: 24px auto;
}

// Notifikasi
.warp-head-mark-notifikasi{
	margin: 0px 0px 30px 0px;
	width: 100%;
}

.warp-list-notifikasi{
	margin: 20px 0px;
	height: 751px;
	overflow-y: scroll;
}

.list-notifikasi{
	width: 100%;
	margin: 20px 0px 40px;
}

.warp-notifikasi{
	float: left;
	width: 92%;
	padding: 16px;
	margin-top: -16px;
	border-radius: 4px;
	background-color: #fff;
	border-radius: 4px;

	a:hover{
		text-decoration: none;
	}

	a:focus{
		text-decoration: none;
	}
}

.warp-notifikasi.notifikasi-grey{
	background-color: #dadada;
}

.notifikasi{
	border-left: 6px solid $color-secondary;
}

.icon-notifikasi{
	float: left;
	width: 10%;

	img{
		width: 24px;
		height: 24px;
		margin: auto;
		display: block;
	}
}

.warp-desc-notifikasi{
	float: left;
	width: 90%;
}

.head-notifikasi{
	margin-bottom: 4px;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.56);
}

.media-notifikasi{
	&:after{
		content: '\2022';
		margin: 0px 8px;
	}
}

.title-notifikasi{
	font-size: 16px;
	color: #494949;
	margin-bottom: 8px;
}

.desc-notifikasi{
	font-size: 14px;
	color: rgba(0, 0, 0, 0.56);

	img{
		width: 100%;
		height: 205px;
		object-fit: cover;
		margin-bottom: 8px;
	}
}

// Detail Notifikasi
.warp-detail-notifikasi{
	width: 846px;
	background-color: #fff;
	border-radius: 4px;
	padding: 32px;
	margin: 30px auto 0px;
}

.warp-left-detail-notifikasi{
	float: left;
	width: 64px;
	height: 71px;
	border-right: 5px solid $color-secondary;
	text-align: left;

	img{
		width: 32px;
		height: 32px;
	}
}

.warp-right-detail-notifikasi{
	float: left;
	width: 652px;
	padding-left: 32px;
}

.head-detail-notifikasi{
	position: relative;
	margin-bottom: 4px;
	font-size: 10px;
	color: rgba(0, 0, 0, 0.56);
}

.media-detail-notifikasi{
	&:after{
		content: '\2022';
		margin: 0px 8px;
	}
}

.btn-delete-detail-notifikasi{
	float: right;
	width: 56px;
	padding-left: 29px;

	img{
		width: 32px;
		height: 32px;
	}
}

.title-detail-notifikasi{
	font-size: 18px;
	color: #494949;
	border-bottom: 2px solid #e5e5e5;
	padding-bottom: 8px;
	margin-bottom: 8px;
}

.img-detail-notifikasi{
	width: 100%;
	margin-bottom: 8px;

	img{
		width: 100%;
	}
}

.desc-detail-notifikasi{
	font-size: 14px;
	color: rgba(0, 0, 0, 0.56);
	line-height: 18px;
	text-align: center;
	margin-bottom: 40px;
}

// Clear Notifikasi
.img-notifikasi-clear{
	width: 100%;
	margin: 64px 0px 32px;

	img{
		width: 456px;
		height: 320px;
		margin: auto;
		display: block;
	}
}

.desc-notifikasi-clear{
	font-size: 24px;
	color: #424242;
	text-align: center;
	margin-bottom: 320px;
}

// Transaksi
.table-transaksi{
	width: 100%;
	font-size: 18px;
	color: #494949;

	th{ 
		border-bottom: 3px solid rgba(73, 73, 73, 0.38);
		padding: 16px 0px;
		font-weight: bold;
	}

	td{
		border-bottom: 1px solid rgba(73, 73, 73, 0.12);
		padding: 16px 0px;
	}

	a:hover, a:focus{
		text-decoration: none;
	}
}

.showing-table{
	margin: 16px 0px 24px;
	font-size: 18px;
	color: rgba(73, 73, 73, 0.38);
}

// Status Invoice
.inv-download{
	float: right;

	a{
		font-size: 18px;
		color: #767676;
	}

	a:hover, a:focus{
		text-decoration: none;
		color: #767676;
	}

	img{
		width: 32px;
		height: 32px;
		margin-right: 8px;
	}
}

.back-profile-payment{
	width: 100%;
	margin-bottom: 12px;

	img{
		width: 44px;
	}
}

.card-status-invoice{
	width: 450px;
	padding: 0px 32px 42px;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
	margin: auto;
}

.title-card{
	color: #fff;
	font-size: 30px;
	padding: 16px 20px;
	border-radius: 0px 0px 5px 5px;
	width: max-content;
	margin: 0px auto 22px;
}

.table-inv{
	color: #494949;
	width: 100%;

	td{
		padding: 10px 12px;
		border-top: 1px solid rgba(73, 73, 73, 0.12);
		border-bottom: 1px solid rgba(73, 73, 73, 0.12);
	}
}

.title-tbl-inv{
	font-size: 18px;
	font-weight: bold;
}

.data-tbl-inv{
	font-size: 14px;
	text-align: right;

	i{
		font-size: 10px;
	}
}

.table-total-inv{
	width: 100%;

	td{
		padding: 10px 12px;
	}
}

.title-tbl-total-inv{
	color: rgba(73, 73, 73, 0.38);
	font-size: 18px;
	font-weight: bold;
}

// Invoice
.card-invoice{
	width: 595px;
	border-left: 22px solid $color-primary;
	margin: auto;
	background-color: #fff;
	-webkit-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
	-moz-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
	box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
}

.header-invoice{
	background-color: rgba(13, 178, 240, 0.1);
	padding: 24px 24px 21px;
}

.warp-logo-invoice{
	margin-bottom: 14px;
	display: flex;
	flex-wrap: wrap;
}

.logo-invoice{
	border-right: 2px solid #494949;
	margin-right: 8px;
	padding: 8px 8px 8px 0px;
	width: 40%;

	img{
		width: 100%;
	}
}

.title-invoice{
	width: 58%;
	font-size: 30px;
	font-family: "Roboto",'arial','tahoma';
	font-weight: bold;
}

.warp-alamat-invoice{
	display: flex;
	flex-wrap: wrap;
	font-size: 14px;
	color: #494949;
}

.contact-invoice{
	width: 50%;
	text-align: left;
}

.alamat-invoice{
	width: 50%;
	text-align: right;
}

.container-inv{
	padding: 0px 20px;
}

.detail-invoice{
	width: 100%;
	padding: 32px 0px 0px 0px;
	display: flex;
	flex-wrap: wrap;
}

.warp-left{
	width: 40%;
	padding-right: 30px;
}

.warp-mid{
	width: 30%;
	padding: 0px 16px;
}

.warp-right{
	width: 30%;
}

.warp-mid-inv-date{
	width: 35%;
	padding: 0px 16px;
}

.warp-right-inv-date{
	width: 25%;
}

.title-detail-invoice{
	font-weight: bold;
	font-size: 14px;
	color: rgba(73, 73, 73, 0.6);
	margin-bottom: 5px;
}

.name-bill{
	font-size: 14px;
	font-weight: bold;
	color: #494949;
	margin-bottom: 4px;
}

.address-bill{
	font-size: 14px;
	color: #494949;
}

.invoice-number{
	font-size: 14px;
	font-weight: bold;
	color: #494949;
	margin-bottom: 20px;
}

.order-number{
	font-size: 14px;
	font-weight: bold;
	color: #494949;
}

.invoice-rp{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 24px;
	color: #0db2f0;
	text-align: right;
}

.warp-date-due{
	padding: 20px 0px 20px 0px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 2px solid rgba(73, 73, 73, 0.12);
}

.name-packet{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 18px;
}

.date-due-invoice{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 14px;
}

.warp-item-detail{
	padding: 20px 0px 20px 0px;
	display: flex;
	flex-wrap: wrap;
	border-bottom: 1px solid rgba(73, 73, 73, 0.12);

	table{
		width: 100%;
	}
}

.packet-detail-name, .detail-bill{
	font-size: 14px;
	color: #494949;
	margin-top: 20px;
	margin-bottom: 5px;
}

.detail-bill{
	font-weight: bold;
}

.packet-detail-desc{
	font-size: 12px;
	color: rgba(73, 73, 73, 0.6);
}

.warp-note-inv{
	padding: 20px 0px 32px 0px;
	display: flex;
	flex-wrap: wrap;
}

.note-inv{
	width: 50%;
	font-size: 12px;
	color: rgba(73, 73, 73, 0.8);

	table{
		width: 100%;
	}
}

.bank-name{
	font-weight: bold;
	color: #0db2f0 !important;
}

.total-inv{
	width: 50%;
	text-align: right;
	padding-left: 60px;

	table{
		width: 100%;
	}
}

.title-total-inv{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 14px;
	margin-bottom: 12px;
	color: rgba(73, 73, 73, 0.6);
	text-align: left;
}

.isi-total-inv, .isi-total-inv-all{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 14px;
	margin-bottom: 12px;
	color: #494949;
	text-align: right;
}

.isi-total-inv-all{
	font-size: 16px !important;
}

.toc-inv{
	padding: 32px 0px 27px;
}

.desc-toc-inv{
	font-size: 12px;
}

// Q N A

.warp-head-tab-content{
	margin: 9px 0px 0px 0px;
	width: 100%;
}

.head-tab-content{
	padding: 16px 0px;
	display: flex;
	flex-wrap: wrap;
}

.head-qna-left{
	width: 70%;
}

.group-cari-qna{
	width: 590px;
	position: relative;
}

.cmb-cari-qna{
	position: absolute;
	top: 0;
	left: 0;
	border-radius: 10px;
	border: 1px solid #8692a6;
	padding: 9px 10px 12px 10px;
	font-size: 16px;
	height: 43px;
	width: 125px;
	background: url("../../assets/images/icon/chevron-down-solid.svg") no-repeat right #fff;
    background-position-x: right;
	background-origin: content-box;
	background-position-y: bottom;
	background-size: 15px;
	-webkit-appearance: none;
	cursor: pointer;
}

.txt-cari-qna{
	width: 590px;
	height: 43px;
	border: 1px solid #8692a6;
	font-size: 16px;
	padding: 12px 0px;
	text-align: center;
	color: #c0c0c0;
	border-radius: 10px;

	&:focus{
		color: #000;
		outline: none;
	}
}

.btn-cari-qna{
	position: absolute;
	top: 0;
	right: 0px;
	font-size: 14px;
	color: #fff;
	width: 46px;
	height: 43px;
	background-color: $color-secondary;
	border: 1px solid $color-secondary;
	border-radius: 10px;
	text-align: center;
	cursor: pointer;
}

.head-qna-right{
	width: 30%;
	text-align: right;
	padding: 10px 0px;
	
	a{
		color: $color-secondary;
		font-size: 16px;
		padding: 10px;
		border-radius: 10px;
		transition: ease all 0.5s;
		border: 1px solid #fff;
	}

	a:hover, a:focus{
		color: $color-secondary;
		text-decoration: none;
		border: 1px solid $color-secondary;
		padding: 10px;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
		-moz-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
		box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
	}
}

.list-qna-head{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 36px 0px 12px;
	border-bottom: 1px solid rgba(70, 70, 70, 0.12);
}

.head-list-left{
	width: 75%;
	color: rgba(70, 70, 70, 0.6);
	font-size: 16px;
}

.head-list-right{
	width: 25%;
	text-align: right;
}

.label-short-by{
	color: rgba(70, 70, 70, 0.6);
	font-size: 16px;
}

.cmb-short-by{
	font-family: "Roboto-bold",'arial','tahoma';
	color: #464646;
	border: 0px;
	padding: 9px 10px 12px 10px;
	font-size: 16px;
	height: 39px;
	width: 145px;
	background: url("../../assets/images/icon/chevron-down-solid.svg") no-repeat right #fff;
    background-position-x: right;
	background-origin: content-box;
	background-position-y: bottom;
	background-size: 12px;
	-webkit-appearance: none;
	cursor: pointer;
}

.list-qna{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	padding: 24px 0px;
	border-bottom: 1px solid rgba(70, 70, 70, 0.12);
}

.bullet-qna{
	width: 3%;

	img{
		width: 20px;
		height: 20px;
	}
}

.desc-qna{
	width: 97%;
	display: flex;
	flex-wrap: wrap;
}

.title-qna{
	width: 75%;
	font-size: 18px;

	a{
		color: #494949;
	}

	a:hover, a:focus{
		color: #494949;
		text-decoration: none;
	}
}

.toggle-answer-qna{
	width: 10%;
	padding-left: 24px;

	i{
		font-size: 18px;
		cursor: pointer;
	}
}

.date-qna{
	width: 15%;
	color: #494949;
	font-size: 18px;
}

.answer-qna{
	display: none;
	width: 100%;
	background-color: rgba(73, 73, 73, 0.08);
	padding: 12px;
	font-size: 18px;
	border-radius: 10px;
	margin: 16px 0px 0px;
}

.title-answer{
	color: rgba(73, 73, 73, 0.6);
	padding-bottom: 8px;
}

.desc-answer{
	color: #494949;
}

// Add Question
.warp-form-add-question{
	width: 508px;
	margin: auto;
}

.warp-add-question-msg{
	margin: 56px 0px 80px 0px;
}

.img-notify-add-question{
	width: 520px;
	padding-bottom: 43px;
	border-bottom: 1px solid rgba(73, 73, 73, 0.2);
	margin: 0px auto 24px;

	img{
		width: 400px;
		height: 400px;
		display: block;
		margin: auto;
	}
}

.title-msg-add-question{
	font-size: 20px;
	color: #494949;
	margin-bottom: 16px;
	text-align: center;
}

.desc-msg-add-question{
	font-size: 16px;
	color: rgba(73, 73, 73, 0.8);
	margin-bottom: 44px;
	text-align: center;
}

.b2profile{
	text-align: center;

	a, a:hover, a:focus{
		font-size: 20px;
		color: #f47920;
		text-decoration: underline;
	}
}

// Produk
.produk-nyoba{
	background: #fdc624;

	a{
		background-color: #fdc624;
		color: #fff;
	}

	a:hover{
		text-decoration: none;
		background-color: #fff;
		color: #fdc624;
	}
}

.produk-oke{
	background: #3dcad4;

	a{
		background-color: #3dcad4;
		color: #fff;
	}

	a:hover{
		text-decoration: none;
		background-color: #fff;
		color: #3dcad4;
	}
}

.produk-asik{
	background: #3dacfc;

	a{
		background-color: #3dacfc;
		color: #fff;
	}

	a:hover{
		text-decoration: none;
		background-color: #fff;
		color: #3dacfc;
	}
}

.produk-permanen{
	background: #939fb3;

	a{
		background-color: #939fb3;
		color: #fff;
	}

	a:hover{
		text-decoration: none;
		background-color: #fff;
		color: #939fb3;
	}
}

.warp-produk{
	display: flex;
	flex-wrap: wrap;
	// margin: 44px -25px 80px -25px;
	margin: 44px 0px 80px 0px;

	.swiper-container{
		padding: 7px;
	}

	.swiper-wrapper{
		width: 29% !important;
	}
}

.list-produk{
	width: 368px !important;
	height: 755px !important;
	position: relative;
	border-radius: 30px;
	padding: 48px 55px 37px 55px;
	-webkit-box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
	-moz-box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
	box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
}

.popular-produk{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 9px 0px;
	text-align: center;
	font-size: 14px;
	font-family: 'Poppins-semi','arial','tahoma';
	color: #ffffff;
	background-image: linear-gradient(to top, #63d6fe, #5dd4f8);
	border-radius: 30px 30px 0px 0px;
}

.img-produk{
	margin-bottom: 14px;

	img{
		width: 228px;
		height: 202px;
		margin: auto;
		display: block;
	}
}

.title-produk{
	font-size: 21px;
	font-family: 'Poppins-semi','arial','tahoma';
	color: #ffffff;
	margin: 3px;
}

.desc-produk{
	font-size: 12px;
	font-family: 'Poppins','arial','tahoma';
	color: #ffffff;
	margin-bottom: 22px;
}

.harga-produk{
	width: 100%;
}

.harga-produk-ratus{
	width: 100%;
	margin-top: 46px;
}

.harga-produk-juta{
	width: 316px;
	margin: 53px -30px 0px -30px;
}

.rp-produk{
	font-size: 16px;
	font-family: 'Poppins-bold','arial','tahoma';
	color: #ffffff;
	top: -66px;
}

.frist-number-harga, .frist-number-harga-ratus, .frist-number-harga-juta{
	font-size: 96px;
	font-family: 'Poppins-bold','arial','tahoma';
	color: #ffffff;
}

.last-number-harga, .last-number-harga-ratus, .last-number-harga-juta{
	font-size: 48px;
	font-family: 'Poppins-bold','arial','tahoma';
	color: #ffffff;
}

.frist-number-harga-ratus{
	font-size: 80px !important;
}

.last-number-harga-ratus{
	font-size: 35px !important;
} 

.frist-number-harga-juta{
	font-size: 75px !important;
}

.last-number-harga-juta{
	font-size: 30px !important;
}

.fiture-produk{
	margin-top: 35px !important;
}

.list-fiture{
	font-size: 14px;
	font-family: 'Poppins','arial','tahoma';
	color: #ffffff;
	margin-bottom: 10px;

	i{
		margin-left: 5px;
	}
}

.btn-langganan-produk{
	text-align: center;
	position: absolute;
	bottom: 50px;
	margin: auto;
	left: 0;
	right: 0;
	width: 60%;

	a{
		font-size: 14px;
		font-family: 'Poppins-semi','arial','tahoma';
		border: 2px solid #fff;
		padding: 10px 47px;
		display: block;
		transition: ease all 0.3s;
	}
}

// Konfirmasi Pesanan
.warp-konfirmasi-pemesanan{
	width: 675px;
	margin: auto;
}

.title-page-payment{
	width: 520px;
	text-align: center;
	font-size: 32px;
	font-family: "Roboto-bold",'arial','tahoma';
	padding: 0px 92px 12px;
	border-bottom: 1px solid rgba(73, 73, 73, 0.2); 
	margin: auto;
}

.warp-pemesan{
	width: 334px;
	margin: 24px auto;
	padding: 16px 24px;
	border-radius: 20px;
	background-color: rgba(13, 178, 240, 0.1);
	display: flex;
	flex-wrap: wrap;
}

.avatar-pemesan{
	width: 15%;
	padding: 5px 0px;

	img{
		width: 44px;
		height: 44px;
		border-radius: 50%;
		object-fit: cover;
	}
}

.detail-pemesan{
	width: 85%;
	text-align: center;
}

.nama-pemesan{
	font-size: 18px;
	font-weight: bold;
}

.email-pemesan{
	font-size: 16px;
}

.warp-note-payment{
	background-color: rgba(255, 184, 0, 0.2);
	margin-bottom: 24px;
	padding: 24px;
}

.title-note-payment{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 5px;
}

.desc-note-payment{
	font-size: 18px;
}

.card-rincian-harga{
	padding: 32px;
	background-color: #fff;
	margin-bottom: 32px;
}

.warp-rincian-harga{
	display: flex;
	flex-wrap: wrap;
	padding-bottom: 20px;
}

.left-rincian-harga{
	width: 171px;
}

.title-rincian-harga{
	font-size: 24px;
	font-family: "Roboto-bold",'arial','tahoma';
	margin-bottom: 16px;
}

.img-paket{
	width: 171px;

	img{
		width: 100%;
		height: 210px;
	}
}

.right-rincian-harga{
	width: 436px;
	padding-left: 32px;
}

.order-number-rincian-harga{
	font-size: 14px;
	color: rgba(70, 70, 70, 0.38);
	margin-bottom: 31px;
	text-align: right;
}

.btn-lanjutkan{
	text-align: right;
	border-top: 1px solid rgba(73, 73, 73, 0.12);
	padding: 17px 0px;

	a{
		background-color: $color-primary;
		color: #fff;
		font-size: 18px;
		padding: 21px 20px;
		border-radius: 0px 0px 6px 6px;
		transition: ease all 0.3s;
	}

	a:hover{
		background-color: $color-secondary;
		text-decoration: none;
	}
}

.syarat-ketentuan{
	font-size: 16px;
	color: #464646;

	a{
		color: $color-primary;
	}

	a:hover, a:focus{
		color: $color-secondary;
		text-decoration: none;
	}
}

// List Perangkat
.warp-perangkat{
	margin-bottom: 80px;
}

.img-perangkat{
	width: 30px;
}

.img-mobile{
	width: 18px;
}

.action-menu-perankat{
	position: relative;
}

.action-perangkat{
	cursor: pointer;
}

.menu-action-perangkat{
	display: none;
	position: absolute;
	top: 30px;
	left: 20%;
	z-index: 60;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
	border-radius: 5px;
	-webkit-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
	-moz-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
	box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);

	li{
		text-align: center;
		background-color: #fff;
		border-radius: 5px;
	}

	li:hover{
		background-color: #f7fafc;
	}

	a{
		color: #464646;
		font-size: 16px;
		display: block;
		padding: 12px;
		width: 90px;
	}

	a:hover, a:active{
		text-decoration: none;
		font-weight: bold;
	}
}

// About
.home-about{
	position: relative;
	padding: 32px 0px;
	background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0.50), #0e6ead),
		url('../images/bg-home-kontak.jpg');

	img{
		width: 311px;
		height: 38px;
	}
}

.tag-about{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 64px;
	margin: 184px auto 253px;
	text-align: center;
	color: #fff;
}

.about-us{
	background-color: #0e6ead;
	color: #fff;
}

.warp-about-desc{
	padding: 24px 100px 60px 100px;
	display: flex;
	flex-wrap: wrap;
}

.about-title{
	width: 25%;
	font-size: 48px;
}

.desc-about-us{
	width: 75%;
	font-size: 18px;
}

// Award
.award{
	background-color: #fff;
	padding: 56px 0px 80px;

	.swiper-pagination-bullet{
		width: 20px !important;
		height: 20px !important;
	}

	.swiper-pagination-bullet-active{
		background: #cb202a !important;
	}
}

.award-title{
	width: 100%;
	font-size: 48px;
	text-align: center;
	color: #0e6ead;
	margin-bottom: 62px;
}

.warp-box-award{
	width: 468px !important;
  	height: 298px;
  	padding: 26px 10px 12px 11px;
  	border-radius: 30px;
  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  	background-color: #ffffff;
  	margin: 18px 14px 70px 14px;
}

.warp-head-box{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 29px;
}

.logo-award{
	width: 65%;

	img{
		width: 100%;
	}
}

.date-award{
	width: 35%;
	font-size: 18px;
	text-align: right;
	padding: 5px 0px;
}

.judul-award{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 24px;
	color: #0e6ead;
	margin-bottom: 10px;
}

.desc-award{
	font-size: 18px;
	color: #000;
	height: 110px;
	text-align: center;
	overflow: hidden;
}

// Redaksi Disclaimer

.redaksi-disclaimer{
	background-image: linear-gradient(to bottom, rgba(14, 110, 173, 0.76), rgba(14, 110, 173, 0.76)),
		url('../images/bg-redaksi-kontak.jpg');
	background-size: cover;
	color: #fff;
}

.warp-redaksi{
	border-bottom: 2px solid #fff;
	margin: 0px 100px 55px 100px;
	padding: 69px 0px 45px 0px;
	display: flex;
	flex-wrap: wrap;
}

.redaksi-title{
	width: 25%;
	font-size: 48px;
}

.desc-redaksi{
	width: 75%;
	font-size: 18px;
	text-align: center;
}

.redaksi-name{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 36px;
}

.redaksi-position{
	margin-bottom: 40px;
}

.redaksi-others{
	font-weight: bold;
}

.warp-discalimer{
	margin: 0px 100px 55px 100px;
	padding: 0px 0px 63px 0px;
	display: flex;
	flex-wrap: wrap;
}

.discalimer-title{
	width: 25%;
	font-size: 48px;
}

.desc-discalimer{
	width: 75%;
	font-size: 18px;
}


// Kode Etik
.kode-etik{
	color: #000;
}

.warp-kode-etik{
	padding: 27px 100px 110px 100px;
	display: flex;
	flex-wrap: wrap;
}

.kode-etik-title{
	width: 25%;
	font-size: 48px;
	color: #0e6ead;
}

.desc-kode-etik{
	width: 75%;
	font-size: 18px;
}

.title-pasal{
	font-family: "Roboto-bold",'tahoma','arial';
	margin-bottom: 15px;
}

.title-isi-pasal{
	font-family: "Roboto-bold",'tahoma','arial';
	color: #0e6ead;
	margin-bottom: 15px;
}

.isi-pasal{
	margin-bottom: 15px;
	li{
		margin-bottom: 10px;
	}
}

// Privacy Policy
.privacy-policy{
	color: #fff;
	background-color: #0e6ead;
}

.warp-privacy-policy{
	padding: 107px 100px 110px 128px;
	display: flex;
	flex-wrap: wrap;
}

.privacy-policy-title{
	width: 25%;
	font-size: 48px;
	color: #fff;
}

.desc-privacy-policy{
	width: 75%;
	font-size: 18px;
}

.number-privacy-policy{
	font-weight: bold;
	margin-bottom: 5px;
}


// Tos
.tos{
	color: #000;
}

.warp-tos{
	padding: 107px 100px 110px 128px;
	display: flex;
	flex-wrap: wrap;
}

.tos-title{
	width: 25%;
	font-size: 48px;
	color: #0e6ead;
}

.desc-tos{
	width: 75%;
	font-size: 18px;
}

.number-tos{
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-tos{
	margin-left: 50px;
}

.kontak-kami{
	color: #fff;
	background-color: rgb(12, 51, 89);
	border-bottom: 20px solid #cb202a;
}

.warp-kontak-kami{
	padding: 46px 100px 56px 128px;
	display: flex;
	flex-wrap: wrap;
}

.kontak-kami-title{
	width: 25%;
	font-size: 48px;
	color: #fff;
}

.kontak-kami-tos{
	width: 75%;
	font-size: 18px;
}

.title-office{
	text-align: center;
	font-family: "Roboto-bold",'tahoma','arial';
	font-size: 24px;
}

.alamat-office{
	text-align: center;
	font-size: 24px;
}

.warp-kontak-list{
	margin-top: 60px;
	display: flex;
	flex-wrap: wrap;
}

.kontak-list{
	width: 33.33%;

	img{
		width: 74px;
		height: 74px;
		margin-right: 10px;
	}
}

// Pembayaran
.tagihan-pembayaran{
	padding: 24px;
	border-radius: 30px;
	box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
	border: solid 1px #848484;
	font-size: 20px;
	color: #464646;
	margin-top: 32px;

	table{
		width: 100%;
	}

	table td{
		border: none !important;
	}

	ol{
		margin: 16px 0px 48px;
	}
}

.detail-tagihan-pembayaran{
	float: left;
	width: 80%;
}

.head-tagihan-pembayaran{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 24px;
	color: #ffffff;
	padding: 11px 24px;
  	background-color: $color-primary;
}

.title-tagihan-pembayaran{
	font-family: "Roboto-medium",'arial','tahoma';
	font-size: 28px;
	margin-bottom: 37px;
}

.va-tagihan-pembayaran{
	margin-top: 36px;
}

.no-va{
	font-family: "Roboto-medium",'arial','tahoma';
	font-size: 30px;
	margin: 16px 0px;
}

.salin-va{
	a{
		padding-bottom: 3px;
		border-bottom: 3px dotted #c4c4c4;
		width: max-content;
		color: #464646;
		cursor: pointer;

		&:hover, &:focus{
			text-decoration: none;
			color: #464646;
			border-bottom: 3px dotted #cbc817;
		}
	}
}

.logo-tagihan-pembayaran{
	float: right;

	img{
		width: auto;
		height: 32px;
		text-align: right;
	}
}

// Tos
.logo-page-tos{
	margin: 30px 0px 0px;
	padding: 0px 0px 30px;
	border-bottom: 1px solid #8692a6;

	img{
		width: 385px;
		margin: auto;
		display: block;
	}
}

.title-page-tos{
	font-family: "Roboto-bold",'arial','tahoma';
	font-size: 30px;
	color: #494949;
	padding: 30px 0px;
	text-align: center;
}

.desc-page-tos{
	color: #464646;
	font-size: 14px;
}

.number-page-tos{
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 20px;
}

.link-page-tos{
	color: $color-primary;
	text-decoration: underline;

	&:hover, &:focus{
		color: $color-secondary;
	}
}