// Large devices (desktops, 992px and up)
@media (min-width: 992px) and (max-width: 1199.98px) {
	.container{
	    width: 1024px !important;
	    max-width: 1024px !important;
	}

	// Util
	.container-form-bg{
		background-image: url('../images/bg-form.png') !important;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-attachment: fixed;
	}

	.account{
		display: block;
		width: 144px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	// Navigasi Utama
	nav{
		width: 100%;
	}

	// Warp Logo
	.birthday-img{
		width: 15%;
	}

	.logo-header{
		padding: 30px 0px;
		width: 70%;

		img{
			width: 550px;
			height: 65px;
			display: block;
			margin: auto;
		}
	}

	.award-img{
		width: 15%;
	}

	// Headline
	.warp-headline{
		margin: 20px -35px 0px;
	}

	.headline-left{
		width: 50%;
	}

	.title-headline{
		font-size: 46px;
	}

	.img-headline{
		width: 100%;

		img{
			width: 100%;
			height: 360px;
		}
	}

	.headline-right{
		width: 50%;
	}

	// Topik Pilihan
	.topik-pilihan{
		width: 100%;
	}

	.img-topik-pilihan{
		width: 50%;

		img{
			width: 100%;
			height: 260px;
		}
	}

	.warp-desc{
		width: 50%;
		padding-left: 20px;
	}

	// Berita Utama
	.list-berita-utama{
		width: 33.33%;
	}

	.img-berita-utama{
		width: 100%;
		margin-bottom: 16px;

		img{
			width: 100%;
			height: 126;
		}
	}

	// Filter
	.warp-filter{
		width: 100%;
	}

	// List Epaper
	.list-epaper{
		width: 33.33%;
	}

	.head-list-paper{
		width: 90%;
	}

	.i-bookmark-list-paper{
		width: 10%;
	}

	.img-list-epaper{
		position: relative;
		width: 100%;

		img{
			width: 100%;
			height: 550px;
		}
	}

	// Header Profile
	.warp-nav-form{
		width: 100%;
	}

	.nav-form{
		width: 60%;
	}

	.nav-header{
		width: 70%;
	}

	.date-form{
		width: 20%;
	}

	.list-produk{
		width: 368px;
		height: 755px !important;
		position: relative;
		border-radius: 30px;
		padding: 48px 30px 37px 30px;
		-webkit-box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
		-moz-box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
		box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
	}

	// Produk
	.harga-produk-juta{
		width: 290px;
		margin: 53px -11px 0px -11px;
	}

	.frist-number-harga-juta{
		font-size: 70px !important;
	}

	// Menu Perangkat
	.menu-action-perangkat{
		left: 13%;
	}

	// cari Bookmark
	.box-search{
		width: 65%;
	}

	.cari-bookmark{
		width: 205px;
	}

	.box-date{
		width: 35%;
	}

	// About
	.container-nav{
		width: 100%;
		margin: auto;
		padding: 0px 50px;
	}

	.nav-left{
		width: 80%;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			margin-right: 20px;
			display: inline-block;
		}

		a{
			color: #000;
			font-size: 14px;
			padding-bottom: 17px;

			img{
				width: 24px;
				height: 24px;
				margin-right: 7px;
			}
		}

		a:hover, a:focus{
			text-decoration: none;
			color: #ec414b;
			border-bottom: 3px solid #ec414b;

			img{
				filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
			}
		}
	}

	.nav-right{
		width: 20%;
		text-align: right;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			margin-left: 5px;
			display: inline-block;
		}

		a{
			color: #fff;
			font-size: 16px;
		}
	}

	// About
	.home-about{
		position: relative;
		padding: 32px 0px;
		background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0.50), #0e6ead),
			url('../images/bg-home-kontak.jpg');

		img{
			width: 245px;
			height: 28px;
		}
	}

	.tag-about{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 40px;
		margin: 100px auto 200px;
		text-align: center;
		color: #fff;
	}

	// About
	.warp-about-desc{
		padding: 24px 0px 60px 0px;
	}

	.about-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-about-us{
		width: 75%;
		font-size: 16px;
	}

	.award-title{
		width: 100%;
		font-size: 35px;
		text-align: center;
		color: #0e6ead;
		margin-bottom: 62px;
	}

	.warp-box-award{
		width: 450px !important;
	  	height: 298px;
	  	padding: 26px 10px 12px 11px;
	  	border-radius: 30px;
	  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	  	background-color: #ffffff;
	  	margin: 18px 14px 70px 14px;
	}

	.warp-head-box{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 29px;
	}

	.logo-award{
		width: 65%;

		img{
			width: 100%;
		}
	}

	.date-award{
		width: 35%;
		font-size: 16px;
		text-align: right;
		padding: 5px 0px;
	}

	.judul-award{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 20px;
		color: #0e6ead;
		margin-bottom: 10px;
	}

	.desc-award{
		font-size: 16px;
		color: #000;
		height: 124px;
		text-align: center;
		overflow: hidden;
	}

	.warp-redaksi{
		margin: 0px 0px 55px 0px;
	}

	.redaksi-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-redaksi{
		width: 75%;
		font-size: 16px;
		text-align: center;
	}

	.redaksi-name{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 28px;
	}

	.redaksi-position{
		margin-bottom: 26px;
	}

	.redaksi-others{
		font-weight: bold;
	}

	.warp-discalimer{
		margin: 0px 0px 55px 0px;
	}

	.discalimer-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-discalimer{
		width: 75%;
		font-size: 16px;
	}

	.warp-kode-etik{
		padding: 27px 0px 110px 0px;
	}

	.kode-etik-title{
		width: 25%;
		font-size: 35px;
		color: #0e6ead;
	}

	.desc-kode-etik{
		width: 75%;
		font-size: 16px;
	}

	.warp-privacy-policy{
		padding: 107px 0px 110px 0px;
	}

	.privacy-policy-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-privacy-policy{
		width: 75%;
		font-size: 16px;
	}

	.warp-tos{
		padding: 107px 0px 110px 0px;
	}

	.tos-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-tos{
		width: 75%;
		font-size: 16px;
	}

	.warp-kontak-kami{
		padding: 46px 0px 56px 0px;
	}

	.kontak-kami-title{
		width: 25%;
		font-size: 35px;
		color: #fff;
	}

	.kontak-kami-tos{
		width: 75%;
		font-size: 16px;
	}

	.title-office{
		text-align: center;
		font-family: "Roboto-bold",'tahoma','arial';
		font-size: 20px;
	}

	.alamat-office{
		text-align: center;
		font-size: 20px;
	}

	.warp-kontak-list{
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
	}

	.kontak-list{
		width: 50%;

		img{
			width: 60px;
			height: 60px;
			margin-right: 10px;
		}
	}

	.btn-more-about{
		border: none;
		padding: 8px 25px;
		background-color: #cb202a;
		font-size: 16px;
		color: #fff;
		margin: 60px auto 0px;
		cursor: pointer;
		border-radius: 10px;
		text-align: center;
		display: block;
		transition: ease all 0.5s;

		&:hover{
			background-color: #7f030a;
		}
	}
}