// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) and (max-width: 1399px) {
	.container{
	    width: 1130px !important;
	    max-width: 1130px !important;
	}

	.account{
		display: block;
		width: 200px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	// Navigasi Utama
	nav{
		width: 1200px;
	}

	// Headline
	.warp-headline{
		margin: 20px -35px 0px;
	}

	.headline-left{
		width: 50%;
	}

	.title-headline{
		font-size: 46px;
	}

	.img-headline{
		width: 100%;

		img{
			width: 100%;
			height: 360px;
		}
	}

	.headline-right{
		width: 50%;
	}

	// Topik Pilihan
	.topik-pilihan{
		width: 100%;
	}

	.img-topik-pilihan{
		width: 50%;

		img{
			width: 100%;
			height: 260px;
		}
	}

	.warp-desc{
		width: 50%;
		padding-left: 20px;
	}

	// Berita Utama
	.list-berita-utama{
		width: 33.33%;
	}

	.img-berita-utama{
		width: 100%;
		margin-bottom: 16px;

		img{
			width: 100%;
			height: 126;
		}
	}

	// Filter
	.warp-filter{
		width: 1200px;
	}

	// List Epaper
	.list-epaper{
		width: 33.33%;
	}

	.head-list-paper{
		width: 90%;
	}

	.i-bookmark-list-paper{
		width: 10%;
	}

	.img-list-epaper{
		position: relative;
		width: 100%;

		img{
			width: 100%;
			height: 550px;
		}
	}

	// Header Profile
	.warp-nav-form{
		width: 100%;
	}

	.nav-form{
		width: 60%;
	}

	.nav-header{
		width: 70%;
	}

	.date-form{
		width: 20%;
	}

	.list-produk{
		width: 368px;
		height: 755px !important;
		position: relative;
		border-radius: 30px;
		padding: 48px 30px 37px 30px;
		-webkit-box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
		-moz-box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
		box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
	}

	// Produk
	.harga-produk-juta{
		width: 290px;
		margin: 53px -11px 0px -11px;
	}

	.frist-number-harga-juta{
		font-size: 70px !important;
	}

	// Menu Perangkat
	.menu-action-perangkat{
		left: 13%;
	}

	// About
	.warp-about-desc{
		padding: 24px 0px 60px 0px;
	}

	.warp-redaksi{
		margin: 0px 0px 55px 0px;
	}

	.warp-discalimer{
		margin: 0px 0px 55px 0px;
	}

	.warp-kode-etik{
		padding: 27px 0px 110px 0px;
	}

	.warp-tos{
		padding: 107px 0px 110px 0px;
	}

	.warp-kontak-kami{
		padding: 46px 0px 56px 0px;
	}
}