@import 'global';

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 991.98px) {
	.container{
	    width: 750px !important;
	    max-width: 750px !important;
	}

	// Util
	.container-form-bg{
		background-image: url('../images/bg-form.png') !important;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-attachment: fixed;
	}

	.account{
		display: block;
		width: 144px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	// Progress
	.nav-form-step{
		float: right;
		width: 100%;
		margin-top: 25px;
	}

	.progressbar {
	  counter-reset: step;
	}
	.progressbar li {
	  list-style-type: none;
	  width: 25%;
	  float: left;
	  font-size: 14px;
	  position: relative;
	  text-align: center;
	  color: rgba(70, 70, 70, 0.2);
	}
	.progressbar li:before {
	  content: counter(step);
	  counter-increment: step;
	  width: 33px;
	  height: 33px;
	  line-height: 30px;
	  border: 2px solid #b4b4b4;
	  background-color: #b4b4b4;
	  color: #b4b4b4;
	  display: block;
	  text-align: center;
	  margin: 0 auto 10px auto;
	  border-radius: 50%;
	}
	.progressbar li:after {
	  width: 100%;
	  height: 3px;
	  content: '';
	  position: absolute;
	  background-color: #b4b4b4;
	  top: 15px;
	  left: -50%;
	  z-index: -1;
	}
	.progressbar li:first-child:after {
	  content: none;
	}
	.progressbar li.has-active {
	  a{
	  	color: #464646;
	  	transition: ease all 0.3s;
	  }

	  a:hover{
	  	text-decoration: none;
	  	color: $color-secondary
	  }
	}
	.progressbar li.has-active:before {
	  content: counter(step);
	  counter-increment: step;
	  border-color: $color-primary;
	  background-color: $color-primary;
	  color: #fff;
	  font-size: 14px;

	  &:hover{
	  	border-color: $color-primary;
	  	background-color: $color-primary;
	  }
	}
	.progressbar li.has-active + li:after {
	  background-color: $color-primary;
	}

	.progressbar li.active {
	  color: #464646;
	}
	.progressbar li.active:before {
	  content: counter(step);
	  counter-increment: step;
	  border-color: $color-primary;
	  background-color: #fff;
	  color: $color-primary;
	  font-size: 14px;
	}
	.progressbar li.active + li:after {
	  background-color: $color-primary;;
	}

	// Navigasi Utama
	nav{
		width: 100%;
	}

	.media-nav-top{
		width: 75%;
		float: left;

		li{
			display: inline-block;
			margin-right: 12px;
		}

		a{
			font-size: 12px;
		}
	}

	.social-nav-top{
		width: 25%;

		li{
			margin-left: 8px;
		}
	}

	// Warp Logo
	.birthday-img{
		width: 20%;

		img{
			width: 85%;
			height: auto;
			padding: 16px 0px;
		}
	}

	.logo-header{
		padding: 30px 0px;
		width: 60%;

		img{
			width: 100%;
			height: 55px;
			display: block;
			margin: auto;
		}
	}

	.award-img{
		width: 20%;
	}

	// Header Profile
	.warp-nav-form{
		width: 100%;
		background-color: #f3f3f3;
		border-bottom: 3px solid $color-primary;
		padding: 20px 60px;
		color: #494949;
		font-size: 16px;
		padding: 8px 0px;
		font-weight: 500px;
	}

	.logo-nav-form{
		display: none;
		float: left;
		width: 120px;
		padding: 3px 0px;

		img{
			width: 100%;
		}
	}

	.logo-nav-form-pembayaran{
		float: left;
		width: 150px;
		padding: 3px 0px;

		img{
			width: 100%;
		}
	}

	.nav-form{
		width: 70%;
	}

	.nav-header{
		width: 70%;
	}

	.nav-form, .nav-header{
		float: left;
		font-size: 14px;
		font-weight: 500;

		ul{
			list-style-type: none;
			margin: 0;
			padding: 0;
		}

		li{
			display: inline-block;
			padding: 3px 12px;
		}

		a{
			color: #494949;
			transition: ease all 0.2s;
		}

		a:hover{
			color: $color-primary;
			text-decoration: none;
		}

		a:focus{
			text-decoration: none;
			color: #494949;
		}
	}

	.nav-form{
		font-size: 13px !important;

		li:first-child{
			border-left: 0px solid #c4c4c4;
			margin-left: 0px;
			padding-left: 0px;
		}
	}

	.nav-form-icon, .nav-header-icon{
		width: 20px;
		margin-right: 12px;
	}

	.avatar{
		width: 22px;
		height: 22px;
		object-fit: cover;
		border-radius: 50px;
		margin-right: 12px;
	}

	.date-form{
		width: 30%;
	}

	.date-header{
		width: 30%
	}

	.date-form, .date-header{
		float: left;
		text-align: right;
		padding: 3px 0px;
		font-size: 14px;

		img{
			width: 18px;
			margin-right: 12px;
		}
	}

	// Nav Profile
	.nav-profile{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		border-bottom: 2px solid #f3f3f4;
		padding: 20px 0px;
	}

	.warp-nav-tab-profile{
		width: 100%;
		float: left;
		margin: 4px 0px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			display: inline-block;
			margin-right: 16px;
			padding-right: 19px;
			border-right: 2px solid #767676;
			cursor: pointer;
			color: #767676;
			font-size: 18px;
			font-family: "Roboto-bold",'arial','tahoma';
		}

		li:last-child{
			border-right: 0px;
		}

		li:hover{
			font-family: "Roboto-bold",'arial','tahoma';
			color: $color-secondary;
		}

		li.active{
			color: $color-secondary;
			font-family: "Roboto-bold",'arial','tahoma';
		}
	}

	.tab-profile{
		color: #767676;
		font-size: 18px;

	}

	.title-tab{
		width: 80%;
		float: left;
		color: #494949;
		font-size: 18px;
		font-weight: 500;
		padding: 3px 0px;
	}

	.warp-bookmark-right{
		width: 100%;
		float: left;
		margin-top: 20px;
	}

	.box-search{
		width: 80%;
		float: left;
		position: relative;
		padding-right: 17px;
	}

	.cari-bookmark{
		width: 100%;
		height: 37px;
		font-size: 14px;
		color: #c0c0c0;
		padding: 10px 45px 10px 20px;
		border: 1px solid #8692a6;
		border-radius: 10px;
		outline: none;
		-webkit-appearance: none;
		float: right;

		&:focus{
			border: 1px solid $color-secondary;
			color: #000;
		}
	}

	.btn-cari-bookmark{
		position: absolute;
		top: 0;
		right: 17px;
		font-size: 14px;
		color: #fff;
		width: 40px;
		height: 37px;
		background-color: $color-secondary;
		border: 1px solid $color-secondary;
		border-radius: 10px;
		text-align: center;
		cursor: pointer;
	}

	.box-date{
		width: 20%;
		float: left;
	}

	.date-cari-bookmark{
		width: 100%;
		height: 37px;
		padding: 10px 20px;
	    font-size: 14px;
	    border: 1px solid #8692a6;
	    border-radius: 10px;
	    background: url('../../assets/images/icon/calendar-alt-solid.svg') no-repeat right #fff;
	    background-size: 15px;
	    background-position-x: 90%;
	    color: #000;
	    -webkit-appearance: none;
	    outline: none;

	    &:focus{
	    	border: 1px solid $color-secondary;
	    }
	}

	// Headline
	.warp-headline{
		margin: 20px 0px 0px;
		display: flex;
		flex-wrap: wrap;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.headline-left{
		padding: 0px 0px;
		width: 100%;
		border-left: 0px solid #e5e5e5;
	 	border-right: 0px solid #e5e5e5;
	 	border-bottom: 1px solid #e5e5e5;
	 	padding-bottom: 15px;
	 	margin-bottom: 15px;
	}

	.title-headline{
		font-family: "Roboto-bold", 'arial', 'tahoma';
		font-size: 48px;
		font-weight: bold;
		line-height: 1.3;
		margin-bottom: 16px;
	}

	.img-headline{
		width: 100%;
		position: relative;

		img{
			width: 100%;
			height: 472px;
			object-fit: cover;
		}
	}

	.desc-headline{
		font-size: 14px;
		position: relative;
		margin-top: 8px;
	}

	.headline-right{
		padding: 0px 0px;
		width: 100%;
	 	border-right: 0px solid #e5e5e5;
	}

	// Topik Pilihan
	.topik-pilihan{
		width: 100%;
	}

	.img-topik-pilihan{
		width: 50%;

		img{
			width: 100%;
			height: 260px;
		}
	}

	.warp-desc{
		width: 50%;
		padding-left: 20px;
	}

	// Berita Utama
	.list-berita-utama{
		width: 33.33%;
	}

	.img-berita-utama{
		width: 100%;
		margin-bottom: 16px;

		img{
			width: 100%;
			height: 126;
		}
	}

	// Filter
	.warp-filter{
		width: 100%;
	}

	// List Epaper
	.warp-epaper{
		margin: 0px -24px;
		display: flex;
		flex-wrap: wrap;
	}

	.list-epaper{
		width: 33.33%;
		padding: 12px 12px 0px;
	}

	.warp-head-list-paper{
		margin-bottom: 8px;
	}

	.head-list-paper{
		float: left;
		width: 85%;
	}

	.edisi-list-epaper{
		font-size: 12px;
		color: $color-secondary;
		margin-bottom: 8px;
	}

	.title-list-epaper{
		font-family: "Roboto-bold", 'arial', 'tahoma';
		font-size: 20px;
		font-weight: bold;
		line-height: 1.3;
		margin-bottom: 12px;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.desc-list-epaper{
		font-size: 14px;
	}

	.i-bookmark-list-paper{
		float: left;
		width: 15%;
		text-align: right;

		img{
			width: 20px;
			height: 25px;
		}
	}

	.img-list-epaper{
		position: relative;

		img{
			width: 100%;
			height: 400px;
		}
	}

	// Mark
	.warp-head-mark{
		margin: 9px 0px 0px 0px;
		width: 100%;
	}

	.head-mark{
		border-bottom: 2px solid #f3f3f4;
		padding: 16px 0px;
	}

	.head-mark-grey{
		border-bottom: 2px solid #e3e3e6;
		padding: 16px 0px;
	}

	.check-mark{
		width: 10%;
		float: left;
	}

	.title-mark{
		width: 70%;
		float: left;
		color: #494949;
		font-size: 18px;
		font-weight: 500;
		padding: 3px 0px;
	}

	.btn-hapus-mark{
		width: 20%;
		float: left;
		text-align: right;
		padding: 3px 0px;

		button{
			border: 1px solid #fff;
			color: #f22525;
			font-size: 18px;
			background-color: #fff;
			font-weight: 500;
			cursor: pointer;
			padding: 5px 10px;
			border-radius: 6px;
			transition: ease all 0.6s;

			&:focus{
				outline: none;
			}

			&:hover{
				-webkit-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
				-moz-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
				box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
				border: 1px solid #f22525;
			}
		}
	}

	.btn-hapus-mark-grey{
		button{
			border: 1px solid #f3f3f3;
			background-color: #f3f3f3 !important;
		}
	}

	// Q N A
	.warp-head-tab-content{
		margin: 9px 0px 0px 0px;
		width: 100%;
	}

	.head-tab-content{
		padding: 16px 0px;
		display: flex;
		flex-wrap: wrap;
	}

	.head-qna-left{
		width: 70%;
	}

	.group-cari-qna{
		width: 100%;
		position: relative;
	}

	.cmb-cari-qna{
		position: absolute;
		top: 0;
		left: 0;
		border-radius: 10px;
		border: 1px solid #8692a6;
		padding: 9px 10px 12px 10px;
		font-size: 16px;
		height: 43px;
		width: 125px;
		background: url("../../assets/images/icon/chevron-down-solid.svg") no-repeat right #fff;
	    background-position-x: right;
		background-origin: content-box;
		background-position-y: bottom;
		background-size: 15px;
		-webkit-appearance: none;
		cursor: pointer;
	}

	.txt-cari-qna{
		width: 100%;
		height: 43px;
		border: 1px solid #8692a6;
		font-size: 16px;
		padding: 12px 0px;
		text-align: center;
		color: #c0c0c0;
		border-radius: 10px;

		&:focus{
			color: #000;
			outline: none;
		}
	}

	.btn-cari-qna{
		position: absolute;
		top: 0;
		right: 0px;
		font-size: 14px;
		color: #fff;
		width: 46px;
		height: 43px;
		background-color: $color-secondary;
		border: 1px solid $color-secondary;
		border-radius: 10px;
		text-align: center;
		cursor: pointer;
	}

	.head-qna-right{
		width: 30%;
		text-align: right;
		padding: 10px 0px;
		
		a{
			color: $color-secondary;
			font-size: 16px;
			padding: 10px;
			border-radius: 10px;
			transition: ease all 0.5s;
			border: 1px solid #fff;
		}

		a:hover, a:focus{
			color: $color-secondary;
			text-decoration: none;
			border: 1px solid $color-secondary;
			padding: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
			-moz-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
			box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
		}
	}

	.list-qna-head{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 36px 0px 12px;
		border-bottom: 1px solid rgba(70, 70, 70, 0.12);
	}

	.head-list-left{
		width: 75%;
		color: rgba(70, 70, 70, 0.6);
		font-size: 16px;
	}

	.head-list-right{
		width: 25%;
		text-align: right;
	}

	.label-short-by{
		color: rgba(70, 70, 70, 0.6);
		font-size: 16px;
	}

	.cmb-short-by{
		font-family: "Roboto-bold",'arial','tahoma';
		color: #464646;
		border: 0px;
		padding: 9px 10px 12px 10px;
		font-size: 16px;
		height: 39px;
		width: 145px;
		background: url("../../assets/images/icon/chevron-down-solid.svg") no-repeat right #fff;
	    background-position-x: right;
		background-origin: content-box;
		background-position-y: bottom;
		background-size: 12px;
		-webkit-appearance: none;
		cursor: pointer;
	}

	.list-qna{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 24px 0px;
		border-bottom: 1px solid rgba(70, 70, 70, 0.12);
	}

	.bullet-qna{
		width: 4%;

		img{
			width: 18px;
			height: 18px;
		}
	}

	.desc-qna{
		width: 96%;
		display: flex;
		flex-wrap: wrap;
	}

	.title-qna{
		width: 75%;
		font-size: 18px;

		a{
			color: #494949;
		}

		a:hover, a:focus{
			color: #494949;
			text-decoration: none;
		}
	}

	.toggle-answer-qna{
		width: 10%;
		padding-left: 24px;

		i{
			font-size: 18px;
			cursor: pointer;
		}
	}

	.date-qna{
		width: 15%;
		color: #494949;
		font-size: 18px;
	}

	.answer-qna{
		display: none;
		width: 100%;
		background-color: rgba(73, 73, 73, 0.08);
		padding: 12px;
		font-size: 18px;
		border-radius: 10px;
		margin: 16px 0px 0px;
	}

	.title-answer{
		color: rgba(73, 73, 73, 0.6);
		padding-bottom: 8px;
	}

	.desc-answer{
		color: #494949;
	}

	// List Bookmark
	.warp-list-bookmark{
		margin: 0px -28px;
		display: flex;
		flex-wrap: wrap;
	}

	.list-bookmark{
		width: 33.33%;
		padding: 0px 28px 0px;
		margin-top: 20px;
	}

	.headlist-bookmark{
		margin-bottom: 20px;
	}

	.headlist-bookmark-check{
		width: 50%;
		float: left;
	}

	.flag-bookmark{
		width: 50%;
		float: right;
		text-align: right;
		img{
			width: 28px;
			height: 36px;
		}
	}

	.warp-desc-bookmark-newspaper{
		width: 100%;
	}

	.edisi-bookmark{
		font-size: 12px;
		margin-bottom: 8px;
		color: $color-secondary;
	}

	.title-bookmark{
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 8px;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.desc-bookmark{
		font-size: 14px;
		margin-bottom: 8px;
	}

	.img-bookmark-newspaper{
		width: 100%;

		img{
			width: 100%;
			height: 340px;
		}
	}


	// Add Question
	.warp-form-add-question{
		width: 508px;
		margin: auto;
	}

	.warp-add-question-msg{
		margin: 56px 0px 80px 0px;
	}

	.img-notify-add-question{
		width: 520px;
		padding-bottom: 43px;
		border-bottom: 1px solid rgba(73, 73, 73, 0.2);
		margin: 0px auto 24px;

		img{
			width: 400px;
			height: 400px;
			display: block;
			margin: auto;
		}
	}

	.title-msg-add-question{
		font-size: 20px;
		color: #494949;
		margin-bottom: 16px;
		text-align: center;
	}

	.desc-msg-add-question{
		font-size: 16px;
		color: rgba(73, 73, 73, 0.8);
		margin-bottom: 44px;
		text-align: center;
	}

	.b2profile{
		text-align: center;

		a, a:hover, a:focus{
			font-size: 20px;
			color: #f47920;
			text-decoration: underline;
		}
	}	

	// List Perangkat
	.warp-perangkat{
		margin-bottom: 80px;
	}

	.img-perangkat{
		width: 30px;
	}

	.img-mobile{
		width: 18px;
	}

	.action-menu-perankat{
		position: relative;
	}

	.action-perangkat{
		cursor: pointer;
	}

	.menu-action-perangkat{
		display: none;
		position: absolute;
		top: 30px;
		left: -7%;
		z-index: 60;
		list-style-type: none;
		padding: 0;
		margin: 0;
		background-color: #fff;
		border-radius: 5px;
		-webkit-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
		-moz-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
		box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);

		li{
			text-align: center;
			background-color: #fff;
			border-radius: 5px;
		}

		li:hover{
			background-color: #f7fafc;
		}

		a{
			color: #464646;
			font-size: 16px;
			display: block;
			padding: 12px;
			width: 90px;
		}

		a:hover, a:active{
			text-decoration: none;
			font-weight: bold;
		}
	}

	// Notifikasi
	.warp-head-mark-notifikasi{
		margin: 0px 0px 30px 0px;
		width: 100%;
	}

	.warp-list-notifikasi{
		margin: 20px 0px;
		height: 751px;
		overflow-y: scroll;
	}

	.list-notifikasi{
		width: 100%;
		margin: 20px 0px 40px;
	}

	.warp-notifikasi{
		float: left;
		width: 90%;
		padding: 16px;
		margin-top: -16px;
		border-radius: 4px;
		background-color: #fff;
		border-radius: 4px;

		a:hover{
			text-decoration: none;
		}

		a:focus{
			text-decoration: none;
		}
	}

	.warp-notifikasi.notifikasi-grey{
		background-color: #dadada;
	}

	.notifikasi{
		border-left: 6px solid $color-secondary;
	}

	.icon-notifikasi{
		float: left;
		width: 10%;

		img{
			width: 24px;
			height: 24px;
			margin: auto;
			display: block;
		}
	}

	.warp-desc-notifikasi{
		float: left;
		width: 90%;
	}

	.head-notifikasi{
		margin-bottom: 4px;
		font-size: 10px;
		color: rgba(0, 0, 0, 0.56);
	}

	.media-notifikasi{
		&:after{
			content: '\2022';
			margin: 0px 8px;
		}
	}

	.title-notifikasi{
		font-size: 16px;
		color: #494949;
		margin-bottom: 8px;
	}

	.desc-notifikasi{
		font-size: 14px;
		color: rgba(0, 0, 0, 0.56);

		img{
			width: 100%;
			height: 205px;
			object-fit: cover;
			margin-bottom: 8px;
		}
	}

	// Detail Notifikasi
	.warp-detail-notifikasi{
		width: 100%;
		background-color: #fff;
		border-radius: 4px;
		padding: 32px;
		margin: 30px auto 0px;
	}

	.warp-left-detail-notifikasi{
		float: left;
		width: 10%;
		height: 71px;
		border-right: 5px solid $color-secondary;
		text-align: left;

		img{
			width: 32px;
			height: 32px;
		}
	}

	.warp-right-detail-notifikasi{
		float: left;
		width: 80%;
		padding-left: 32px;
	}

	.head-detail-notifikasi{
		position: relative;
		margin-bottom: 4px;
		font-size: 10px;
		color: rgba(0, 0, 0, 0.56);
	}

	.media-detail-notifikasi{
		&:after{
			content: '\2022';
			margin: 0px 8px;
		}
	}

	.btn-delete-detail-notifikasi{
		float: right;
		width: 10%;
		padding-left: 29px;

		img{
			width: 32px;
			height: 32px;
		}
	}

	.title-detail-notifikasi{
		font-size: 18px;
		color: #494949;
		border-bottom: 2px solid #e5e5e5;
		padding-bottom: 8px;
		margin-bottom: 8px;
	}

	.img-detail-notifikasi{
		width: 100%;
		margin-bottom: 8px;

		img{
			width: 100%;
		}
	}

	.desc-detail-notifikasi{
		font-size: 14px;
		color: rgba(0, 0, 0, 0.56);
		line-height: 18px;
		text-align: center;
		margin-bottom: 40px;
	}


	// About
	.container-nav{
		width: 100%;
		margin: auto;
		padding: 0px 50px;
	}

	.nav-left{
		width: 80%;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			margin-right: 20px;
			display: inline-block;
		}

		a{
			color: #000;
			font-size: 14px;
			padding-bottom: 17px;

			img{
				width: 24px;
				height: 24px;
				margin-right: 7px;
			}
		}

		a:hover, a:focus{
			text-decoration: none;
			color: #ec414b;
			border-bottom: 3px solid #ec414b;

			img{
				filter: invert(27%) sepia(51%) saturate(2878%) hue-rotate(346deg) brightness(104%) contrast(97%);
			}
		}
	}

	.nav-right{
		width: 20%;
		text-align: right;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			margin-left: 5px;
			display: inline-block;
		}

		a{
			color: #fff;
			font-size: 16px;
		}
	}

	// About
	.home-about{
		position: relative;
		padding: 32px 0px;
		background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0.50), #0e6ead),
			url('../images/bg-home-kontak.jpg');

		img{
			width: 245px;
			height: 28px;
		}
	}

	.tag-about{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 40px;
		margin: 100px auto 200px;
		text-align: center;
		color: #fff;
	}

	// About
	.warp-about-desc{
		padding: 24px 0px 60px 0px;
	}

	.about-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-about-us{
		width: 75%;
		font-size: 16px;
	}

	.award-title{
		width: 100%;
		font-size: 35px;
		text-align: center;
		color: #0e6ead;
		margin-bottom: 62px;
	}

	.warp-box-award{
		width: 450px !important;
	  	height: 298px;
	  	padding: 26px 10px 12px 11px;
	  	border-radius: 30px;
	  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	  	background-color: #ffffff;
	  	margin: 18px 14px 70px 14px;
	}

	.warp-head-box{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 29px;
	}

	.logo-award{
		width: 65%;

		img{
			width: 100%;
		}
	}

	.date-award{
		width: 35%;
		font-size: 16px;
		text-align: right;
		padding: 5px 0px;
	}

	.judul-award{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 20px;
		color: #0e6ead;
		margin-bottom: 10px;
	}

	.desc-award{
		font-size: 16px;
		color: #000;
		height: 124px;
		text-align: center;
		overflow: hidden;
	}

	.warp-redaksi{
		margin: 0px 0px 55px 0px;
	}

	.redaksi-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-redaksi{
		width: 75%;
		font-size: 16px;
		text-align: center;
	}

	.redaksi-name{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 28px;
	}

	.redaksi-position{
		margin-bottom: 26px;
	}

	.redaksi-others{
		font-weight: bold;
	}

	.warp-discalimer{
		margin: 0px 0px 55px 0px;
	}

	.discalimer-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-discalimer{
		width: 75%;
		font-size: 16px;
	}

	.warp-kode-etik{
		padding: 27px 0px 110px 0px;
	}

	.kode-etik-title{
		width: 25%;
		font-size: 35px;
		color: #0e6ead;
	}

	.desc-kode-etik{
		width: 75%;
		font-size: 16px;
	}

	// Privacy Policy
	.warp-privacy-policy{
		padding: 107px 0px 110px 0px;
	}

	.privacy-policy-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-privacy-policy{
		width: 75%;
		font-size: 16px;
	}

	.warp-tos{
		padding: 107px 0px 110px 0px;
	}

	.tos-title{
		width: 25%;
		font-size: 35px;
	}

	.desc-tos{
		width: 75%;
		font-size: 16px;
	}

	.warp-kontak-kami{
		padding: 46px 0px 56px 0px;
	}

	.kontak-kami-title{
		width: 25%;
		font-size: 35px;
		color: #fff;
	}

	.kontak-kami-tos{
		width: 75%;
		font-size: 16px;
	}

	.title-office{
		text-align: center;
		font-family: "Roboto-bold",'tahoma','arial';
		font-size: 20px;
	}

	.alamat-office{
		text-align: center;
		font-size: 20px;
	}

	.warp-kontak-list{
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
	}

	.kontak-list{
		width: 50%;

		img{
			width: 60px;
			height: 60px;
			margin-right: 10px;
		}
	}

	.btn-more-about{
		border: none;
		padding: 8px 25px;
		background-color: #cb202a;
		font-size: 16px;
		color: #fff;
		margin: 60px auto 0px;
		cursor: pointer;
		border-radius: 10px;
		text-align: center;
		display: block;
		transition: ease all 0.5s;

		&:hover{
			background-color: #7f030a;
		}
	}


	// Footer
	footer{
		font-family: 'Roboto','arial','tahoma';
		background-color: #232323;
		padding: 24px 0px;

		position: absolute;
		bottom: 0;
		width: 100%;
		height: 222px;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0px;
		}

		li{
			display: inline-block;
			margin: 8px 0px;
		}

		li.title-footer{
			width: 110px;
			color: $color-secondary;
			font-size: 14px;
			font-weight: bold;
		}

		a{
			font-size: 14px;
			color: #fff;
			margin-left: 12px;
			transition: ease all 0.2s;
		}

		a:hover{
			color: $color-secondary;
			text-decoration: none;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	// Pembayaran
	.tagihan-pembayaran{
		padding: 24px;
		border-radius: 30px;
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
		border: solid 1px #848484;
		font-size: 16px;
		color: #464646;
		margin-top: 32px;

		table{
			width: 100%;
		}

		ol{
			margin: 16px 0px 48px;
		}
	}

	.detail-tagihan-pembayaran{
		float: left;
		width: 80%;
	}

	.head-tagihan-pembayaran{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 20px;
		color: #ffffff;
		padding: 11px 24px;
	  	background-color: $color-primary;
	}

	.title-tagihan-pembayaran{
		font-family: "Roboto-medium",'arial','tahoma';
		font-size: 22px;
		margin-bottom: 37px;
	}

	.va-tagihan-pembayaran{
		margin-top: 36px;
	}

	.no-va{
		font-family: "Roboto-medium",'arial','tahoma';
		font-size: 30px;
		margin: 16px 0px;
	}

	.salin-va{
		a{
			padding-bottom: 3px;
			border-bottom: 3px dotted #c4c4c4;
			width: max-content;
			color: #464646;
			cursor: pointer;

			&:hover, &:focus{
				text-decoration: none;
				color: #464646;
				border-bottom: 3px dotted #cbc817;
			}
		}
	}

	.logo-tagihan-pembayaran{
		float: right;

		img{
			width: auto;
			height: 32px;
			text-align: right;
		}
	}
}