html,body{height:100%;margin:0}body{font-family:tahoma, arial, Helvetica}.container{width:1280px !important;max-width:1280px !important}.sin-row{display:flex;flex-wrap:wrap;margin-right:-15px;margin-left:-15px}.sin-clearfix::after{content:"";clear:both;display:table}
