$color-primary: #0db2f0;
$color-secondary: #f47920;
$color-caption: #000000;
$color-menu: #2f2f2f;

@font-face {
  font-family: Roboto;
  src: url('../fonts/roboto/Roboto-Regular.ttf');
}

@font-face {
  font-family: Roboto-bold;
  src: url('../fonts/roboto/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-medium;
  src: url('../fonts/roboto/Roboto-Medium.ttf');
}

@font-face {
  font-family: Poppins;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-semi;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf');
}

html, body{
    height: 100%;
    margin: 0;
}

body{
	font-family: "Roboto", Arial, Tahoma !important;
	line-height: 1.5;
  	scroll-behavior: smooth;
  	background-color: #fff !important;
  	background-image: none !important;
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 222px;    /* Footer height */
}

::-moz-selection { background: rgba(255,255,255,1) !important; }
::selection { background: rgba(255,255,255,1) !important; }

.container{
	padding: 0px 15px;
}

.sin-row{
	display: flex;
	flex-wrap: wrap;
	margin: 0px;
}

.sin-clearfix::after {
	content: "";
	clear: both;
	display: table;
}

.ads300 {
	width: 300px;
	margin-left: auto;
	margin-right: auto
}
.ads320 {
	width: 320px;
	margin-left: auto;
	margin-right: auto
}
.ads336 {
	width: 336px;
	margin-left: auto;
	margin-right: auto
}
.ads1x1 {
	width: 1px;
	height: 1px
}

.mt6{
	margin-top: 6px;
}

.mt16 {
	margin-top: 16px
}
.mb16 {
	margin-bottom: 16px
}
.pt16 {
	padding-top: 16px
}
.pb16 {
	padding-bottom: 16px
}
.embed-video, .embed-social{
	margin: 16px auto;
	text-align: center;
}

.sin-table, th, td,{
	border: 1px solid #dedede;
}

.sin-table{
	font-family: "Roboto",'arial','tahoma';
	width: 100%;
	border-collapse: collapse;
	margin: 16px 0px;

	td, th{
		padding: 10px;
	}

	th{
		background-color: $color-primary;
		color: #fff;
		font-size: 17px;
		font-weight: bold;
	}
}