@import 'global';

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1400px){
	// Coming Soon
	.coming-soon{
		background-color: #eaf9ff !important;
		padding: 50px 20px 0px !important;
		text-align: center;
		height: 100%;
		width: 100%;

		img{
			display: block;
			margin: auto;
		}
	}

	.title-comming-soon{
		font-size: 42px;
		margin-bottom: 20px;
	}

	.logo-comming-soon{
		width: 250px;
		margin-bottom: 100px !important;
	}

	.img-comming-soon{
		width: 100%;
	}
	
	// Utilities -----------------------------
	// Form Input
	.container-form-bg{
		background-image: url('../images/bg-login.png') !important;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-attachment: fixed;
		padding: 30px 0px;
	}

	.img-logo-form{
		width: 100%;
		margin-bottom: 30px;

		img{
			width: 254px;
			margin: auto;
			display: block;
		}
	}

	hr.hr-logo {
	  border-top: 1px solid #8692a6;
	  width: 80%;
	}

	.title-form{
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin: 12px 0px;
	}

	.desc-form{
		font-size: 12px;
		margin: 5px 0px;
	}

	.tos-form{
		color: #494949;
		font-size: 14px;
		margin-top: 12px;

		.check-mark{
			margin-right: 0px;
		}

		.warp-checkbox label {
		  background-color: #fff;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  cursor: pointer;
		  height: 20px;
		  left: 0;
		  position: absolute;
		  top: 0;
		  width: 20px;
		  margin-right: 10px;
		}

		.warp-checkbox label:after {
		  border: 3px solid #fff;
		  border-top: none;
		  border-right: none;
		  content: "";
		  height: 7px;
		  left: 3px;
		  opacity: 0;
		  position: absolute;
		  top: 4px;
		  transform: rotate(-45deg);
		  width: 13px;
		}

		a{
			color: $color-primary;
			text-decoration: underline;

			&:hover, &:focus{
				color: $color-secondary;
				text-decoration: none;
			}
		}
	}

	.label-form{
		font-size: 12px;
		font-weight: bold;
		color: #494949;
		margin: 8px 0px;
		width: 100%;
	}

	.form-text-blue{
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid #8692a6;
		background-color: #fff;
		color: #494949;
		width: 100%;
		padding: 11px 65px 10px 16px;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid #1565d8;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
	}

	.btn-primary{
		border: none;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		background: $color-primary;
		text-align: center;
		width: 100%;
		border-radius: 6px;
		padding: 9px 0px;
		margin-top: 6px;

		&:focus{
			outline: none;
		}
	}

	.disabled-form{
	    pointer-events: none;
	}

	.enabled-form{
		pointer-events: fill;
	}

	.btn-password-show-edit{
		display: none;
		position: absolute;
		z-index: 30;
		right: 60px;
		top: 0;
		height: 42px;
		width: 28px;
		background-size: 23px;
		background-repeat: no-repeat;

		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	.eye-hide{
		background-image: url("../images/icon/eye-hide.svg");
		background-position-x: 2px;
		background-position-y: 10px;
	}

	.eye-show{
		background-image: url("../images/icon/eye-show.svg");
		background-position-x: 2px;
		background-position-y: 9px;
	}

	.form-fill{
		color: #000 !important;
		background-color: #fff !important;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid #1565d8;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
	}

	.form-empty{
		color: #8692a6 !important;
		background-color: rgba(255,255,255,0) !important;
		transition: all ease .3s;

		&:focus{
			color: #000 !important;
			background-color: #fff !important;
		}
	}

	.btn-back{
		margin: 30px 0px;

		a{
			font-size: 14px;
			color: #898989;
		}

		a:hover{
			text-decoration: none;
			color: #898989;
		}

		a:focus{
			text-decoration: none;
			color: #898989;
		}
	}

	.btn-back-to{
		color: #093753 !important;
		font-weight: bold;
	}

	// Form Group
	.group-form{
		position: relative;
	}

	.btn-group-form-cancel{
		display: none;
		position: absolute;
		z-index: 30;
		left: 0;
		top: 0;
		padding: 10px 0px;
		width: 33px;
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */

		img{
			width: 20px;
			height: 20px;
			margin: auto;
			display: block;
		}
	}

	.btn-group-form{
		position: absolute;
		z-index: 30;
		right: 0;
		top: 0;
		font-size: 10px;
		font-weight: bold;
		padding: 12px 0px;
		width: 50px;
		text-align: center;
	}

	.btn-form-edits{
		color: #494949;
		background-color: #fff;
		border-top: 1px solid #8692a6;
		border-right: 1px solid #8692a6;
		border-bottom: 1px solid #8692a6;
		border-radius: 0px 6px 6px 0px;
	}

	.btn-form-show-pass{
		color: #494949;
	}

	.btn-form-done{
		color: #fff;
		background-color: $color-secondary;
		border: 1px solid $color-secondary;
		border-radius: 6px;
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	.group-form-text-red{
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid #8692a6;
		background-color: #fff !important;
		color: #494949;
		width: 100%;
		padding: 11px 65px 10px 16px;
		transition: ease all .5s;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid #8692a6;
			box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
			-webkit-box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
			-moz-box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
		}
	}

	.group-form-text-blue{
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid #8692a6;
		background-color: #fff;
		color: #494949;
		width: 100%;
		padding: 11px 65px 10px 16px;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid #1565d8;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
	}

	// Popup
	.popup-msg{
		display: none;
		position: fixed;
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
		transition: all ease .2s;
	}

	.popup-msg-content {
		background-color: #fefefe;
		margin: 55% auto;
		padding: 20px 10px 15px;
		border-radius: 6px;
		width: 90%;
		color: #989898;

		p{
			font-size: 14px;
			color: #494949;
			text-align: center;
		}
	}

	.popup-msg-btn{
		font-size: 16px;
		color: #0db2f0;
		text-align: center;
		margin: 20px 0px 0px;
		cursor: pointer;
	}

	// Popup With Icon Only
	.popup-i{
		width: 52px;
		margin: auto;
		display: block;
		margin-bottom: 8px;
	}

	p.popup-msg-title{
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 8px;
		color: #494949;
	}

	// Popup With Image
	.img-popup{
		width: 40%;
		float: left;

		img{
			width: 100%;
			margin-top: 25px;
		}
	}

	.desc-popup{
		width: 60%;
		float: right;
	}

	.warp-msg-icon-popup{
		width: 100%;
		margin-bottom: 12px;
	}

	.popup-icon-sm{
		float: left;
		width: 14px;
		margin: 6px 4px 6px 0px;
	}

	.title-popup{
		font-size: 14px;
		font-weight: bold;
		color: #494949;
	}

	p.popup-msg-icon{
		font-size: 12px;
		text-align: left;
		margin-bottom: 8px;
		color: #494949;
	}
	// End Popup

	// Alert Form
	.alert-msg{
		display: none;
		color: #ce1723;
		font-size: 10px;
		margin-top: 2px;
	}

	// More Button
	.more-edisi{
		background-color: $color-primary;
		padding: 20px;
		text-align: center;
		margin-top: 15px;
		outline: none;

		a{
			font-family: "Roboto-bold",'arial','tahoma';
			font-size: 14px;
			background-color: $color-secondary;
			padding: 10px 20px;
			color: #fff;
			border-radius: 10px;
		}

		a:hover{
			background-color: #da6816;
			text-decoration: none;
		}

		a:focus{
			background-color: #da6816;
			text-decoration: none;
		}
	}

	// Paging
	.paging{
		width: 100%;
		text-align: center;
		font-size: 0;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: inline-block;
			padding: 6px 0px;
			border: 1px solid #bfbfbf;
			margin-left: -1px;

			&:hover{
				background-color: $color-secondary;
				border: 1px solid $color-secondary;

				a{
					text-decoration: none;
					color: #fff;
				}
			}

			&:focus{
				background-color: $color-secondary;
				border: 1px solid $color-secondary;
			}

			&:first-child {
			  	border-top-left-radius: 5px;
			  	border-bottom-left-radius: 5px;
			  	position: relative;
			  	padding-left: 12px;

			  	i{
			  		font-size: 8px;
					position: absolute;
					top: 12px;
					left: 14px;
			  	}
			}

			&:last-child {
			  	border-top-right-radius: 5px;
			 	border-bottom-right-radius: 5px;
			 	position: relative;
			  	padding-right: 12px;

			  	i{
			  		font-size: 8px;
					position: absolute;
					top: 12px;
					right: 14px;
			  	}
			}
		}

		a{
			font-size: 14px;
			color: #494949;
			padding: 8px 13px;
		}

		a.active{
			color: #fff;
			background-color: $color-secondary;
			border: 1px solid $color-secondary;
		}
	}

	#more, #more-tos {
		display: none;
	}

	.btn-more-about{
		border: none;
		padding: 10px 35px;
		background-color: #cb202a;
		font-size: 12px;
		color: #fff;
		margin: 25px auto;
		cursor: pointer;
		border-radius: 10px;
		text-align: center;
		display: block;
		transition: ease all 0.5s;

		&:hover{
			background-color: #7f030a;
		}
	}

	// End Utilities -----------------------------

	// Header
	.hide-body{
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 98;
		left: 0;
		background-color: rgba(0,0,0,0);
	}

	.block-body{
		width: 100%;
		background-color: rgba(0,0,0,0.8);
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	@keyframes fadein {
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-moz-keyframes fadein { /* Firefox */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-webkit-keyframes fadein { /* Safari and Chrome */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-o-keyframes fadein { /* Opera */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity: 1;
	    }
	}


	// Stop Scrolling If Nav Side Show
	.stop-scrolling { 
	    height: 100%; 
	    overflow: hidden; 
	} 

	// Header Icon Menu
	.warp-header{
		position: fixed;
		z-index: 97;
		top: 0;
		width: 100%;
		padding: 15px 0px;
		border-bottom: 1px solid #eaeaea;
		background-color: #fff;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		-moz-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
	}

	// Logo Head
	.logo-head{	
		font-size: 11px;
		text-align: center;
		color: #000;
		width: 70%;
		margin: 5px 0px;
		img{
			width: 200px;
			display: block;
			margin: auto;
		}
	}

	// Icon Registrasi
	.registrasi-icon{
		width: 15%;
		text-align: right;
		cursor: pointer;

		a img{
			width: 25px;
			height: 25px;
			border-radius: 50px;
			margin: 7px 0px;
		}
	}

	// Nav Side
	.nav-icon {
		width: 15%;
		display: inline-block;
		cursor: pointer;
		padding: 5px 0px;
	}

	.ico-drop-nav{
		padding-left: 5%;
	}
	
	.bar1, .bar2, .bar3 {
		height: 3px;
		background-color:$color-menu;
		margin: 4px 0;
		transition: 0.4s;
		border-radius: 2px;
	}

	.bar1{
		width: 22px;
	}

	.bar2{
		width: 22px;
	}

	.bar3{
		width: 22px;
	}

	nav{
		font-size: 14px;
		background-color: #fff;
		height: 100%;
		width: 0 ;
		position: fixed;
		z-index: 99;
		left: 0;
		overflow-x: hidden;
		transition: all ease .3s;
		top: 0px;
		padding: 0px 0px 100px;
		color: #2f2f2f;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			padding: 10px 0px;
			width: 300px;
		}

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}

		.new-menu{
			color: $color-secondary;
			background-color: #fff;
			padding: 2px 3px;
			border-radius: 3px;
		 	vertical-align: super; 
			font-size: 11px; 
		}
	}

	.logo-nav{
		padding: 15px;
		width: 100%;
		img{
			width: 140px;
		}
	}

	.nav-menu{
		padding: 20px 15px;
	}

	.nav-separate{
		border-top: 1px solid #e5e5e5;
		margin: 0px !important;
	}

	.nav-title-side{
		font-weight: bold;
		margin-bottom: 17px;
		width: 300px;
	}

	.nav-side-icon{
		width: 18px;
		height: 18px;
		margin: 0px 10px 0px 0px;
	}
	// End Nav

	.head-content{
		margin-top: 66px;
		background-color: #f3f3f3;
		padding: 10px 15px;
		border: 1px solid #e5e5e5;
		font-weight: bold;
		overflow: auto;
		font-size: 14px;
	}

	.date-nav{
		float: left;
	}

	.right-nav{
		float: right;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	// Headline
	.headline{
		margin-top: 15px;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.title-headline{
		font-family: "Roboto-bold", 'arial', 'tahoma';
		font-size: 30px;
		font-weight: bold;
		line-height: 1.3;
		text-align: center;
		margin: 15px 0px;
		padding: 0px 15px;
	}

	.img-headline{
		width: 100%;
		position: relative;

		img{
			width: 100%;
			height: 275px;
			object-fit: cover;
		}
	}

	.warp-kanal{
		position: absolute;
		top: 0;
		left: 0;
		background-color: $color-secondary;
		border-right: 10px solid $color-primary;
		padding: 5px 15px 5px 15px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
	}

	.desc-headline{
		font-size: 14px;
		padding: 15px;
		position: relative;
		margin-bottom: 15px;

		&::after{
			content: '';
			position: absolute;
			left: 15px;
			bottom: 0;
			height: 1px;
			width: 91%;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	// List Berita
	.list-berita{
		margin-top: 15px;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.img-list-berita{
		width: 100%;
		position: relative;

		img{
			width: 100%;
			height: 240px;
			object-fit: cover;
		}
	}

	.title-list-berita{
		font-family: "Roboto-bold", 'arial', 'tahoma';
		font-size: 20px;
		font-weight: bold;
		line-height: 1.3;
		text-align: left;
		margin-top: 15px;
		padding: 0px 15px;
	}

	.desc-list-berita{
		font-size: 14px;
		padding: 15px;
		position: relative;
		margin-bottom: 15px;

		&::after{
			content: '';
			position: absolute;
			left: 15px;
			bottom: 0;
			height: 1px;
			width: 91%;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	// Filter
	.warp-filter{
		background-color: $color-primary;
		padding: 15px;
		overflow: auto;
	}

	.title-filter{
		float: left;
		width: 45%;
		height: 35px;
		background-color: #fff;
	    padding: 5px 10px;
	    margin-right: 3px;
	    margin-bottom: 0px;
	    font-size: 14px;
	    border: 2px solid #fff;
	    border-radius: 10px;
	    color: #c0c0c0;
	    -webkit-appearance: none;
	    outline: none;

	    &:focus{
	    	color: #000;
	    	border: 2px solid $color-secondary;
	    }
	}

	.date-filter{
		float: left;
		width: 40%;
		height: 35px;
		background-color: #fff;
		padding: 5px 10px;
		margin: 0px 3px;
	    font-size: 14px;
	    line-height: 1;
	    border: 2px solid #fff;
	    border-radius: 10px !important;
	    background: url('../../assets/images/icon/calendar-alt-solid.svg') no-repeat right #fff;
	    background-size: 15px;
	    background-position-x: 95%;
	    color: #000;
	    -webkit-appearance: none;
	    outline: none;

	    &:focus{
	    	border: 2px solid $color-secondary;
	    }
	}

	.btn-filter{
		float: left;
		position: relative;
		width: 11%;
		height: 35px;
		padding: 0px 0px;
		margin-left: 3px;
	    font-size: 14px;
	    border-radius: 10px;
	    color: #fff;
	    border: 2px solid $color-secondary;
	    background-color: $color-secondary;
	    
	    &:hover{
	    	border: 2px solid #da6816;
			background-color: #da6816;
			text-decoration: none;
		}

		&:focus{
			border: 2px solid #da6816;
			background-color: #da6816;
			text-decoration: none;
			-webkit-appearance: none;
	    	outline: none;
		}
	}

	// List Epaper
	.list-epaper{
		margin-top: 15px;
	}

	.warp-head-list-paper{
		margin-bottom: 8px;
		padding: 0px 15px;
	}

	.head-list-paper{
		float: left;
		width: 90%;
	}

	.edisi-list-epaper{
		font-size: 12px;
		color: $color-secondary;
		margin-bottom: 1px;
	}

	.title-list-epaper{
		font-size: 20px;
		font-family: "Roboto-bold",'arial','tahoma';
		margin-bottom: 12px;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.desc-list-epaper{
		font-size: 14px;
	}

	.i-bookmark-list-paper{
		float: left;
		width: 10%;
		text-align: right;

		img{
			width: 24px;
			height: 32px;
		}
	}

	.img-list-epaper{
		position: relative;
		margin-bottom: 15px;

		img{
			width: 100%;
			height: 600px;
		}

		&::after{
			content: '';
			position: absolute;
			left: 15px;
			bottom: 0;
			height: 1px;
			width: 91%;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	// Epaper Read
	.epaper-read{
		width: 100%;
		height: 600px;
		position: relative;
		z-index: 20;
	}

	.title-epaper-read{
		font-family: 'Roboto-bold','arial','tahoma';
		font-weight: bold;
		font-size: 24px;
		margin: 12px 0px;
		padding: 0px 15px;
	}

	.date-epaper-read{
		font-size: 16px;
		color: #575757;
		margin-bottom: 16px;
		padding: 0px 15px;
	}

	.epaper-flipHtml{
		width: 100%;
		height: 520px;
	}

	.desc-epaper-read{
		font-size: 16px;
		margin-top: 24px;
		padding: 0px 15px;
	}

	.share-btn{
		width: 100%;
		margin: 24px 0px 32px;
		padding: 0px 15px;
	}

	// Login
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active  {
	    -webkit-box-shadow: 0 0 0 30px white inset !important;
	}

	.warp-link{
		margin: 15px 0px;
		text-align: center;

		a{
			font-size: 12px;
			color: #494949;

			&:hover{
				text-decoration: none;
				color: #494949;
			}

			&:focus{
				text-decoration: none;
				color: #494949;
			}
		}
	}

	.daftar-link{
		font-size: 12px;
		color: #fff;
		background: #232323;
		border-radius: 6px;
		padding: 10px 8px;
		text-align: center;

		a{
			color: #0db2f0;
			font-weight: bold;;

			&:hover{
				text-decoration: none;
				color: #0db2f0;
			}

			&:focus{
				text-decoration: none;
				color: #0db2f0;
			}
		}
	}

	.or-login {
	    display: flex;
	    align-items: center;
	    text-align: center;
	    color: #fff;
	    font-size: 12px;
	    margin: 15px 0px 10px;
	}
	.or-login::before, .or-login::after {
	    content: '';
	    flex: 1;
	    border-bottom: 1px solid #fff;
	}
	.or-login::before {
	    margin-right: 20px;
	}
	.or-login::after {
	    margin-left: 20px;
	}

	.btn-social-login{
		position: relative;
		font-size: 12px;
		text-align: center;
		display: block;
		border-radius: 6px;
		padding: 11px 0px;
		margin: 8px 0px;
	}

	.btn-social-gl{
		background-color: #fff;
		color: #000;

		&:hover{
			text-decoration: none;
			color: #000;
		}

		&:focus{
			text-decoration: none;
			color: #000;
		}
	}

	.btn-social-fb{
		background-color: #3b5998;
		color: #fff;

		&:hover{
			text-decoration: none;
			color: #fff;
		}

		&:focus{
			text-decoration: none;
			color: #fff;
		}
	}

	.btn-social-tw{
		background-color: #1da1f2;
		color: #fff;

		&:hover{
			text-decoration: none;
			color: #fff;
		}

		&:focus{
			text-decoration: none;
			color: #fff;
		}
	}

	.i-login-gl{
		position: absolute;
		z-index: 20;
		left: 35px;
		top: 11px;
		width: 20px;
	}
	.i-login-fb{
		position: absolute;
		z-index: 20;
		left: 32px;
		top: 11px;
		font-size: 19px !important;
	}
	.i-login-tw{
		position: absolute;
		z-index: 20;
		left: 32px;
		top: 10px;
		font-size: 19px !important;
	}

	// Profile
	.warp-profile{
		margin: 10px 0px 45px;
	}

	.warp-nav-profile{
		display: flex;
		flex-wrap: wrap;
	}

	.nav-burger{
		width: 50%;
		float: left;

		img{
			width: 18px;
			height: 20px;
		}
	}

	.nav-notifikasi{
		width: 50%;
		float: right;
		position: relative;

		img{
			width: 18px;
			height: 20px;
			float: right;
		}
	}

	.notif-red{
		position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #bb4430;
	    right: 0;
	    top: 0;
	    border-radius: 50%;
	}

	.img-avatar{
		position: relative;
		margin: 0px 0px 15px;

		img{
			width: 127px;
			height: 127px;
			object-fit: cover;
			border-radius: 50%;
			display: block;
			margin: auto;
		}
	}

	.name-profile{
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}

	.email-profile{
		font-size: 12px;
		text-align: center;
	}

	.warp-btn-profile{
		margin: 20px 0px 40px;
		text-align: center;
	}

	.btn-edit-profile{
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		padding: 7px 18px;
		border-radius: 6px;
		border: 1px solid $color-primary;
		background-color: $color-primary;

		&:hover{
			text-decoration: none;
			color: #fff;
		}

		&:focus{
			outline: none;
			-webkit-appearance: none;
			text-decoration: none;
			color: #fff;
		}
	}

	.btn-signout-profile{
		font-size: 14px;
		font-weight: bold;
		color: $color-primary;
		padding: 7px 18px;
		border-radius: 6px;
		border: 1px solid $color-primary;
		background-color: #fff;

		&:hover{
			text-decoration: none;
			color: $color-primary;
		}

		&:focus{
			outline: none;
			-webkit-appearance: none;
			text-decoration: none;
			color: $color-primary;
		}
	}

	// Nav Bookmark
	.nav-bookmark{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.warp-count-bookmark{
		width: 47%;
		float: left;
		font-size: 14px;
		font-weight: bold;
		margin: 4px 0px;
	}

	.count-bookmark{
		color: #767676;
		font-size: 14px;
		font-weight: normal !important;
	}

	.box-date{
		float: right;
		width: 40%;
		padding-left: 10px;
	}

	.date-cari-bookmark{
		width: 100%;
		padding: 6px 8px;
	    font-size: 12px;
	    border: 1px solid #c0c0c0;
	    border-radius: 6px !important;
	    background: url('../../assets/images/icon/calendar-alt-solid.svg') no-repeat right #fff;
	    background-size: 15px;
	    background-position-x: 95%;
	    color: #000;
	    -webkit-appearance: none;
	    outline: none;

	    &:focus{
	    	border: 1px solid $color-secondary;
	    }
	}

	.warp-cari-bookmark{
		float: right;
		width: 13%;
		text-align: center;
	}

	.btn-search-bookmark{
		background-color: $color-secondary;
		color: #fff !important;
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid $color-secondary;
		padding: 6px 10px;
		margin-left: 10px;
		display: block; 
	}

	// Mark
	.warp-head-mark{
		margin: 9px 0px 30px 0px;
		width: 100%;
	}

	.head-mark{
		border-top: 1px solid #f3f3f4;
		padding: 12px 0px 28px 0px;
	}

	.check-mark{
		width: 8%;
		float: left;
	}

	.title-mark{
		width: 72%;
		float: left;
		color: #494949;
		font-size: 14px;
		font-weight: 500;
	}

	.btn-hapus-mark{
		width: 20%;
		float: left;
		text-align: right;

		button{
			border: none;
			color: #f22525;
			font-size: 14px;
			background-color: #fff;
			font-weight: 500;

			&:focus{
				outline: none;
			}
		}
	}

	// Check Box
	.warp-checkbox {
	  position: relative;
	}

	.warp-checkbox label {
	  background-color: #fff;
	  border: 1px solid #ccc;
	  border-radius: 5px;
	  cursor: pointer;
	  height: 20px;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 20px;
	}

	.warp-checkbox label:after {
	  border: 2px solid #fff;
	  border-top: none;
	  border-right: none;
	  content: "";
	  height: 6px;
	  left: 3px;
	  opacity: 0;
	  position: absolute;
	  top: 5px;
	  transform: rotate(-45deg);
	  width: 12px;
	}

	.warp-checkbox input[type="checkbox"] {
	  visibility: hidden;
	}

	.warp-checkbox input[type="checkbox"]:checked + label {
	  background-color: #1e8c83;
	  border-color: #1e8c83;
	}

	.warp-checkbox input[type="checkbox"]:checked + label:after {
	  opacity: 1;
	}

	// End Checkbox

	// List Bookmark
	.list-bookmark{
		border-bottom: 1px solid #e5e5e5;
		width: 100%;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	.warp-bookmark-newspaper{
		width: 82%;
		float: left;
	}

	.img-bookmark-newspaper{
		width: 32%;
		float: left;

		img{
			width: 100%;
		}
	}

	.warp-desc-bookmark-newspaper{
		width: 68%;
		float: left;
		padding-left: 12px;
	}

	.edisi-bookmark{
		font-size: 10px;
		margin-bottom: 12px;
		color: $color-secondary;
	}

	.title-bookmark{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 12px;
	}

	.desc-bookmark{
		font-size: 12px;
	}

	.flag-bookmark{
		width: 10%;
		float: left;

		img{
			width: 17px;
			height: 23px;
			margin: auto;
			display: block;
		}
	}

	// Bread Crumb Page
	.nav-page{
		display: inline-block;
		font-family: "Roboto-bold",'arial','tahoma';
		margin: 23px 0px;
		width: 100%;
	}

	.kategori-page{
		font-size: 16px;
		color: #767676 !important;
		padding-right: 12px;
		border-right: 1px solid #c4c4c4;
		text-decoration: none;
		
		&:focus{
			text-decoration: none;
		}
	}

	.subkategori-page{
		font-size: 16px;
		color: $color-secondary;
		padding-left: 12px;
	}

	// Ubah Profile
	.btn-edit-profile-form{
		position: absolute;
		z-index: 30;
		bottom: -5px;
		left: 45%;
		font-size: 10px;
		text-align: center;
		
		a{
			color: #fff;
			background-color: $color-secondary;
			padding: 8px 10px;
			border-radius: 6px;
			border: solid 1px $color-secondary;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
		
		a:focus{
			text-decoration: none;
			color: #fff;
		}

	}

	.t-b-ubah-profile{
		border: none;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		background: $color-secondary;
		text-align: center;
		width: 100%;
		border-radius: 6px;
		padding: 9px 0px;
		margin-top: 36px;

		&:focus{
			outline: none;
		}
	}

	// Notifikasi
	.warp-head-mark-notifikasi{
		margin: 0px 0px 30px 0px;
		width: 100%;
	}

	.list-notifikasi{
		width: 100%;
		margin-bottom: 44px;
	}

	.warp-notifikasi{
		float: left;
		width: 92%;
		padding: 16px;
		margin-top: -16px;
		border-radius: 4px;

		a:hover{
			text-decoration: none;
		}

		a:focus{
			text-decoration: none;
		}
	}

	.warp-notifikasi.notifikasi-grey{
		background-color: #f2f2f2;
	}

	.notifikasi{
		border-left: 6px solid $color-secondary;
	}

	.icon-notifikasi{
		float: left;
		width: 15%;

		img{
			width: 16px;
			height: 16px;
			margin: auto;
			display: block;
		}
	}

	.warp-desc-notifikasi{
		float: left;
		width: 85%;
	}

	.head-notifikasi{
		margin-bottom: 4px;
		font-size: 10px;
		color: rgba(0, 0, 0, 0.56);
	}

	.media-notifikasi{
		&:after{
			content: '\2022';
			margin: 0px 8px;
		}
	}

	.title-notifikasi{
		font-size: 16px;
		color: #494949;
		margin-bottom: 8px;
	}

	.desc-notifikasi{
		font-size: 14px;
		color: rgba(0, 0, 0, 0.56);

		img{
			width: 100%;
			height: 56px;
			object-fit: cover;
			margin-bottom: 8px;
		}
	}

	// Detail Notifikasi
	.warp-detail-notifikasi{
		padding: 16px;
	}

	.warp-left-detail-notifikasi{
		float: left;
		width: 15%;
		height: 40px;
		border-left: 6px solid $color-secondary;

		img{
			width: 20px;
			height: 20px;
			margin: auto;
			display: block;
		}
	}

	.warp-right-detail-notifikasi{
		float: left;
		width: 85%;
	}

	.head-detail-notifikasi{
		position: relative;
		margin-bottom: 4px;
		font-size: 10px;
		color: rgba(0, 0, 0, 0.56);
	}

	.media-detail-notifikasi{
		&:after{
			content: '\2022';
			margin: 0px 8px;
		}
	}

	.btn-delete-detail-notifikasi{
		position: absolute;
		right: 0;
		top: 0;
	}

	.title-detail-notifikasi{
		font-size: 16px;
		color: #494949;
		margin-bottom: 8px;
	}

	.img-detail-notifikasi{
		width: 100%;
		margin-bottom: 8px;

		img{
			width: 100%;
		}
	}

	.desc-detail-notifikasi{
		font-size: 8px;
		color: rgba(0, 0, 0, 0.56);
		line-height: 18px;
		text-align: center;
		margin-bottom: 40px;
	}

	// Clear Notifikasi
	.img-notifikasi-clear{
		width: 100%;
		margin: 94px 0px 32px;

		img{
			width: 80%;
			margin: auto;
			display: block;
		}
	}

	.desc-notifikasi-clear{
		font-size: 16px;
		color: #424242;
		text-align: center;
		margin-bottom: 94px;
	}


	// Search
	.warp-search{
		margin: 0px 0px 36px;
		width: 100%;
		position: relative;
	}

	.input-cari-group{
		font-size: 12px;
		color: #c0c0c0;
		padding: 9px 40px 9px 8px;
		border: 1px solid #c0c0c0;
		border-radius: 2px;
		width: 100%;
		height: 36px;

		&:focus{
			border: 1px solid $color-secondary;
			color: #000;
		}
	}

	.btn-cari-group{
		font-size: 12px;
		color: #fff;
		background-color: $color-secondary;
		width: 36px;
		height: 36px;
		border: 1px solid $color-secondary;
		border-radius: 2px;
		outline: none;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
	}

	.list-cari{
		border-bottom: 1px solid #e5e5e5;
		width: 100%;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	.warp-cari-newspaper{
		width: 90%;
		float: left;
	}

	.img-cari-newspaper{
		width: 32%;
		float: left;

		img{
			width: 100%;
		}
	}

	.warp-desc-cari-newspaper{
		width: 68%;
		float: left;
		padding-left: 12px;
	}

	.edisi-cari{
		font-size: 10px;
		margin-bottom: 12px;
		color: $color-secondary;
	}

	.title-cari{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 12px;
	}

	.desc-cari{
		font-size: 12px;
	}

	// Not Found
	.img-notfound{
		width: 100%;
		margin: 94px 0px 32px;

		img{
			width: 80%;
			margin: auto;
			display: block;
		}
	}

	.desc-notfound{
		font-size: 16px;
		color: #424242;
		text-align: center;
		margin-bottom: 94px;
	}


	// Footer -----------------------------------------------------------------------
	footer{
		background-color: #f3f3f3;
		margin-top: 40px;
		padding: 20px 0px 0px;
	}

	.logo-footer{
		margin-bottom: 30px;

		img{
			width: 180px;
			display: block;
			margin: auto;
		}
	}

	.link-footer{
		text-align: center;
		margin-bottom: 24px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			margin: 6px 5px;
			display: inline-block;
		}

		a{
			font-size: 14px;
			color: #575757;
			font-weight: bold;
		}

		a:hover{
			text-decoration: none;
		}

		a:active{
			text-decoration: none;
		}
	}

	.social-footer{
		text-align: center;
		margin-bottom: 24px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			margin: 6px 7px;
			display: inline-block;
		}

		img{
			width: 24px;
			height: 24px;
		}
	}

	.copyright{
		background-color: #575757;
		font-size: 12px;
		text-align: center;
		color: #fff;
		padding: 8px 0px 3px;
	}

	.rendering{
		background-color: #575757;
		font-size: 9px;
		text-align: center;
		color: #fff;
		padding: 0px 0px 8px;
	}

	// About
	.home-about{
		padding: 15px 0px 100px;
		background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0.50), #0e6ead),
			url('../images/bg-home-kontak.jpg');
		background-size: 100%;
	}

	.warp-logo-about{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 0px 30px;
		margin-bottom: 62px;
	}

	.logo-about{
		width: 80%;

		img{
			width: 118px;
			height: 14px;
		}
	}

	.nav-burger-about{
		width: 20%;
		text-align: right;

		img{
			width: 18px;
			height: 20px;
		}
	}

	.tag-about{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 20px;
		text-align: center;
		color: #fff;
	}

	// About Us
	.about-us{
		background-color: #0e6ead;
		color: #fff;
	}

	.warp-about-desc{
		padding: 6px 30px 11px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.about-title{
		width: 100%;
		font-size: 24px;
		margin-bottom: 11px;
	}

	.desc-about-us{
		width: 100%;
		font-size: 14px;
	}

	// Award
	.award{
		background-color: #fff;
		padding: 10px 0px 11px;

		.swiper-pagination-bullet{
			width: 6px !important;
			height: 6px !important;
		}

		.swiper-pagination-bullet-active{
			background: #cb202a !important;
		}
	}

	.award-title{
		width: 100%;
		font-size: 24px;
		text-align: center;
		color: #0e6ead;
		margin-bottom: 17px;
	}

	.warp-box-award{
		width: 96% !important;
	  	padding: 15px;
	  	border-radius: 10px;
	  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	  	background-color: #ffffff;
	  	margin: 18px 0px 70px 5px;
	}

	.warp-head-box{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 29px;
	}

	.logo-award{
		width: 65%;

		img{
			width: 100%;
		}
	}

	.date-award{
		width: 35%;
		font-size: 11px;
		text-align: right;
		padding: 5px 0px;
	}

	.judul-award{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 12px;
		color: #0e6ead;
		margin-bottom: 10px;
	}

	.desc-award{
		font-size: 14px;
		color: #000;
		height: 120px;
		text-align: center;
		overflow: hidden;
	}

	// Redaksi
	.redaksi-disclaimer{
		background-image: linear-gradient(to bottom, rgba(14, 110, 173, 0.76), rgba(14, 110, 173, 0.76)),
			url('../images/bg-redaksi-kontak.jpg');
		background-size: cover;
		color: #fff;
	}

	.warp-redaksi{
		border-bottom: 2px solid #fff;
		margin: 0px 0px 36px 0px;
		padding: 11px 30px 36px;
		display: flex;
		flex-wrap: wrap;
	}

	.redaksi-title{
		width: 100%;
		font-size: 24px;
		margin-bottom: 11px;
	}

	.desc-redaksi{
		width: 100%;
		font-size: 14px;
		text-align: center;
	}

	.redaksi-name{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 18px;
	}

	.redaksi-position{
		margin-bottom: 23px;
	}

	.redaksi-others{
		font-weight: bold;
	}

	.warp-discalimer{
		padding: 0px 30px 25px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.discalimer-title{
		width: 100%;
		font-size: 24px;
		margin-bottom: 11px;
	}

	.desc-discalimer{
		width: 100%;
		font-size: 14px;
	}



	// Kode Etik
	.kode-etik{
		color: #000;
	}

	.warp-kode-etik{
		padding: 16px 30px 37px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.kode-etik-title{
		width: 100%;
		font-size: 24px;
		color: #0e6ead;
		margin-bottom: 11px;
	}

	.desc-kode-etik{
		width: 100%;
		font-size: 14px;
	}

	.title-pasal{
		font-family: "Roboto-bold",'tahoma','arial';
		margin-bottom: 14px;
	}

	.title-isi-pasal{
		font-family: "Roboto-bold",'tahoma','arial';
		color: #0e6ead;
		margin-bottom: 14px;
	}

	.isi-pasal{
		margin-bottom: 14px;
		li{
			margin-bottom: 10px;
		}
	}

	// Privacy Policy

	.privacy-policy{
		color: #fff;
		background-color: #0e6ead;
	}

	.warp-privacy-policy{
		padding: 45px 30px 44px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.privacy-policy-title{
		width: 100%;
		font-size: 24px;
		color: #fff;
		margin-bottom: 11px;
	}

	.desc-privacy-policy{
		width: 100%;
		font-size: 14px;
	}

	.number-privacy-policy{
		font-weight: bold;
		margin-bottom: 5px;
	}

	// Tos

	.tos{
		color: #000;
	}

	.warp-tos{
		padding: 45px 30px 44px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.tos-title{
		width: 100%;
		font-size: 24px;
		color: #0e6ead;
		margin-bottom: 11px;
	}

	.desc-tos{
		width: 100%;
		font-size: 14px;
	}

	.number-tos{
		font-weight: bold;
		margin-bottom: 20px;
	}

	.footer-tos{
		margin-left: 0px;
	}

	// Kontak
	.kontak-kami{
		color: #fff;
		background-color: rgb(12, 51, 89);
		border-bottom: 20px solid #cb202a;
	}

	.warp-kontak-kami{
		padding: 22px 30px 60px 20px;
		display: flex;
		flex-wrap: wrap;
	}

	.kontak-kami-title{
		width: 100%;
		font-size: 24px;
		color: #fff;
		margin-bottom: 11px;
	}

	.kontak-kami-tos{
		width: 100%;
		font-size: 14px;
	}

	.title-office{
		text-align: center;
		font-family: "Roboto-bold",'tahoma','arial';
		font-size: 20px;
	}

	.alamat-office{
		text-align: center;
		font-size: 16px;
	}

	.warp-kontak-list{
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
	}

	.kontak-list{
		width: 100%;

		img{
			width: 60px;
			height: 60px;
			margin-right: 10px;
		}
	}

	// Pembayaran
	.btn-back-default{
		margin: 63px 0px 73px;

		a{
			font-size: 16px;
			color: #464646;
		}

		a:hover{
			text-decoration: none;
			color: #464646;
		}

		a:focus{
			text-decoration: none;
			color: #464646;
		}
	}

	.btn-back-to-default{
		color: $color-primary !important;
		font-weight: bold;
	}

	.logo-nav-form-pembayaran{
		margin: 20px 0px;

		img{
			width: 220px;
			display: block;
			margin: auto;
		}
	}

	.title-nav-form{
		background-color: #e5e5e5;
		padding: 6px 15px;
		text-align: center;
		color: #464646;
		font-size: 16px;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			text-align: left;
		}

		li{
			display: inline-block;
			color: #464646;
			font-size: 14px;
		}

		a{
			color: #464646;
			font-size: 14px;
			font-style: italic;
			margin: 0px 8px;

			&:hover, &:focus{
				color: $color-primary;
				text-decoration: none;
			}
		}
	}

	.tagihan-pembayaran{
		padding: 24px;
		border-radius: 30px;
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
		border: solid 1px #848484;
		font-size: 16px;
		color: #464646;
		margin-top: 32px;

		table{
			width: 100%;
		}

		table td{
			border: none !important;
		}

		ol{
			margin: 16px 0px 48px;
		}
	}

	.detail-tagihan-pembayaran{
		display: flex;
		flex-wrap: wrap;
	}

	.head-tagihan-pembayaran{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 18px;
		color: #ffffff;
		padding: 11px 24px;
	  	background-color: $color-primary;
	}

	.title-tagihan-pembayaran{
		font-family: "Roboto-medium",'arial','tahoma';
		font-size: 16px;
		margin-bottom: 37px;
		width: 60%;
	}

	.va-tagihan-pembayaran{
		margin-top: 36px;
	}

	.no-va{
		font-family: "Roboto-medium",'arial','tahoma';
		font-size: 20px;
		margin: 16px 0px;
	}

	.salin-va{
		a{
			padding-bottom: 3px;
			border-bottom: 3px dotted #c4c4c4;
			width: max-content;
			color: #464646;
			cursor: pointer;

			&:hover, &:focus{
				text-decoration: none;
				color: #464646;
				border-bottom: 3px dotted #cbc817;
			}
		}
	}

	.logo-tagihan-pembayaran{
		width: 40%;
		text-align: right;

		img{
			width: auto;
			height: 19px;
			text-align: right;
		}
	}

	// Tos
	.title-page-tos{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 20px;
		color: #494949;
		padding: 15px 0px;
		text-align: center;
	}

	.desc-page-tos{
		color: #464646;
		font-size: 14px;
	}

	.number-page-tos{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.link-page-tos{
		color: $color-primary;
		text-decoration: underline;

		&:hover, &:focus{
			color: $color-secondary;
		}
	}
}