@import 'global';

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
	// Coming Soon
	.coming-soon{
		background-color: #eaf9ff !important;
		padding: 50px 20px 0px !important;
		text-align: center;
		height: 100%;
		width: 100%;

		img{
			display: block;
			margin: auto;
		}
	}

	.title-comming-soon{
		font-size: 42px;
		margin-bottom: 20px;
	}

	.logo-comming-soon{
		width: 250px;
		margin-bottom: 100px !important;
	}

	.img-comming-soon{
		width: 100%;
	}

	// Utilities -----------------------------
	// Form Input
	.container-form-bg{
		background-image: url('../images/bg-login.png') !important;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-attachment: fixed;
		padding: 30px 0px;
	}

	.img-logo-form{
		width: 100%;
		margin-bottom: 30px;

		img{
			width: 254px;
			margin: auto;
			display: block;
		}
	}

	hr.hr-logo {
	  border-top: 1px solid #8692a6;
	  width: 80%;
	}

	.title-form{
		font-size: 20px;
		font-weight: bold;
		text-align: center;
		margin: 12px 0px;
	}

	.desc-form{
		font-size: 12px;
		margin: 5px 0px;
	}

	.tos-form{
		color: #494949;
		font-size: 14px;
		margin-top: 12px;

		.check-mark{
			margin-right: 0px;
		}

		.warp-checkbox label {
		  background-color: #fff;
		  border: 1px solid #ccc;
		  border-radius: 5px;
		  cursor: pointer;
		  height: 20px;
		  left: 0;
		  position: absolute;
		  top: 0;
		  width: 20px;
		  margin-right: 10px;
		}

		.warp-checkbox label:after {
		  border: 3px solid #fff;
		  border-top: none;
		  border-right: none;
		  content: "";
		  height: 7px;
		  left: 3px;
		  opacity: 0;
		  position: absolute;
		  top: 4px;
		  transform: rotate(-45deg);
		  width: 13px;
		}

		a{
			color: $color-primary;
			text-decoration: underline;

			&:hover, &:focus{
				color: $color-secondary;
				text-decoration: none;
			}
		}
	}

	.label-form{
		font-size: 12px;
		font-weight: bold;
		color: #494949;
		margin: 8px 0px;
		width: 100%;
	}

	.label-form-big{
		font-size: 14px;
		font-weight: bold;
		color: #464646;
		margin: 8px 0px;
		width: 100%;
	}

	.required-label-form{
		color: #ce1723;
	}

	.form-text-blue{
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid #8692a6;
		background-color: #fff;
		color: #494949;
		width: 100%;
		padding: 11px 65px 10px 16px;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid #1565d8;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
	}

	.btn-primary{
		border: none;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		background: $color-primary;
		text-align: center;
		width: 100%;
		border-radius: 6px;
		padding: 9px 0px;
		margin-top: 6px;

		&:focus{
			outline: none;
		}
	}

	.disabled-form{
	    pointer-events: none;
	}

	.enabled-form{
		pointer-events: fill;
	}

	.btn-password-show-edit{
		display: none;
		position: absolute;
		z-index: 30;
		right: 60px;
		top: 0;
		height: 42px;
		width: 28px;
		background-size: 23px;
		background-repeat: no-repeat;

		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	.eye-hide{
		background-image: url("../images/icon/eye-hide.svg");
		background-position-x: 2px;
		background-position-y: 10px;
	}

	.eye-show{
		background-image: url("../images/icon/eye-show.svg");
		background-position-x: 2px;
		background-position-y: 9px;
	}

	.form-fill{
		color: #000 !important;
		background-color: #fff !important;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid #1565d8;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
	}

	.form-empty{
		color: #8692a6 !important;
		background-color: rgba(255,255,255,0) !important;
		transition: all ease .3s;

		&:focus{
			color: #000 !important;
			background-color: #fff !important;
		}
	}

	.btn-back{
		margin: 30px 0px;

		a{
			font-size: 14px;
			color: #898989;
		}

		a:hover{
			text-decoration: none;
			color: #898989;
		}

		a:focus{
			text-decoration: none;
			color: #898989;
		}
	}

	.btn-back-to{
		color: #093753 !important;
		font-weight: bold;
	}

	// Form Group
	.group-form{
		position: relative;
	}

	.btn-group-form-cancel{
		display: none;
		position: absolute;
		z-index: 30;
		left: 0;
		top: 0;
		padding: 10px 0px;
		width: 33px;
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */

		img{
			width: 20px;
			height: 20px;
			margin: auto;
			display: block;
		}
	}

	.btn-group-form-cancel-blue{
		display: none;
		position: absolute;
		z-index: 30;
		right: 0;
		top: 0;
		padding: 13px 0px;
		width: 45px;
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
		cursor: pointer;

		img{
			width: 17px;
			height: 17px;
			margin: auto;
			display: block;
		}
	}

	.btn-group-form{
		position: absolute;
		z-index: 30;
		right: 0;
		top: 0;
		font-size: 10px;
		font-weight: bold;
		padding: 12px 0px;
		width: 50px;
		text-align: center;
	}

	.btn-form-edits{
		color: #494949;
		background-color: #fff;
		border-top: 1px solid #8692a6;
		border-right: 1px solid #8692a6;
		border-bottom: 1px solid #8692a6;
		border-radius: 0px 6px 6px 0px;
	}

	.btn-form-show-pass{
		color: #494949;
	}

	.btn-form-done{
		color: #fff;
		background-color: $color-secondary;
		border: 1px solid $color-secondary;
		border-radius: 6px;
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	.group-form-text-red{
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid #8692a6;
		background-color: #fff !important;
		color: #494949;
		width: 100%;
		padding: 11px 65px 10px 16px;
		transition: ease all .5s;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid #8692a6;
			box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
			-webkit-box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
			-moz-box-shadow: 0 3px 10px 3px rgba(244, 121, 32, 0.11);
		}
	}

	.group-form-text-blue{
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid #8692a6;
		background-color: #fff;
		color: #494949;
		width: 100%;
		padding: 11px 65px 10px 16px;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid #1565d8;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
	}

	.group-form-text-primary, .group-form-text-primary-file{
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid #8692a6;
		background-color: #fff;
		color: #494949;
		width: 100%;
		padding: 11px 65px 10px 16px;

		&:focus{
			outline: none;
			color: #000;
			border: 1px solid $color-primary;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-webkit-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
			-moz-box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
	}

	.group-form-text-primary-file{
		border: 1px dashed #8692a6 !important;
	}

	// Popup
	.popup-msg{
		display: none;
		position: fixed;
		z-index: 99;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: rgb(0,0,0);
		background-color: rgba(0,0,0,0.4);
		transition: all ease .2s;
	}

	.popup-msg-content {
		background-color: #fefefe;
		margin: 55% auto;
		padding: 20px 10px 15px;
		border-radius: 6px;
		width: 90%;
		color: #989898;

		p{
			font-size: 14px;
			color: #494949;
			text-align: center;
		}
	}

	.popup-msg-btn{
		font-size: 16px;
		color: #0db2f0;
		text-align: center;
		margin: 20px 0px 0px;
		cursor: pointer;
	}

	// Popup With Icon Only
	.popup-i{
		width: 52px;
		margin: auto;
		display: block;
		margin-bottom: 8px;
	}

	p.popup-msg-title{
		font-size: 14px;
		font-weight: bold;
		text-align: center;
		margin-bottom: 8px;
		color: #494949;
	}

	// Popup With Image
	.img-popup{
		width: 40%;
		float: left;

		img{
			width: 100%;
			margin-top: 25px;
		}
	}

	.desc-popup{
		width: 60%;
		float: right;
	}

	.warp-msg-icon-popup{
		width: 100%;
		margin-bottom: 12px;
	}

	.popup-icon-sm{
		float: left;
		width: 14px;
		margin: 6px 4px 6px 0px;
	}

	.title-popup{
		font-size: 14px;
		font-weight: bold;
		color: #494949;
	}

	p.popup-msg-icon{
		font-size: 12px;
		text-align: left;
		margin-bottom: 8px;
		color: #494949;
	}
	// End Popup

	// Alert Form
	.alert-msg{
		display: none;
		color: #ce1723;
		font-size: 10px;
		margin-top: 2px;
	}

	// More Button
	.more-edisi{
		background-color: $color-primary;
		padding: 20px;
		text-align: center;
		margin-top: 15px;
		outline: none;

		a{
			font-family: "Roboto-bold",'arial','tahoma';
			font-size: 14px;
			background-color: $color-secondary;
			padding: 10px 20px;
			color: #fff;
			border-radius: 10px;
		}

		a:hover{
			background-color: #da6816;
			text-decoration: none;
		}

		a:focus{
			background-color: #da6816;
			text-decoration: none;
		}
	}

	// Paging
	.paging{
		width: 100%;
		text-align: center;
		font-size: 0;
		margin: 50px 0px;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: inline-block;
			padding: 6px 0px;
			border: 1px solid #bfbfbf;
			margin-left: -1px;
			background-color: #fff;

			&:hover{
				background-color: $color-secondary;
				border: 1px solid $color-secondary;

				a{
					text-decoration: none;
					color: #fff;
				}
			}

			&:focus{
				background-color: $color-secondary;
				border: 1px solid $color-secondary;
			}

			&:first-child {
			  	border-top-left-radius: 5px;
			  	border-bottom-left-radius: 5px;
			  	position: relative;

			  	i{
			  		font-size: 12px;
					margin-right: 4px;
			  	}
			}

			&:last-child {
			  	border-top-right-radius: 5px;
			 	border-bottom-right-radius: 5px;
			 	position: relative;

			  	i{
			  		font-size: 12px;
					margin-left: 4px;
			  	}
			}
		}

		a{
			font-size: 14px;
			color: #494949;
			padding: 8px 13px;
		}

		a.active{
			color: #fff;
			background-color: $color-secondary;
			border: 1px solid $color-secondary;
		}
	}

	// Label
	.sin-label{
	    padding: 2px 8px;
	    font-size: 12px !important;
	    border-radius: 5px;
	}

	.label-warning{
	    color: #fff;
	    background-color: #ffb800;

	    &:hover, &:focus{
	        text-decoration: none;
	    }
	}

	.label-danger{
	    color: #fff;
	    background-color: #e34e4e;

	    &:hover, &:focus{
	        text-decoration: none;
	    }
	}

	.label-success{
	    background-color: #4caf50;
	    color: #fff;

	    &:hover, &:focus{
	        text-decoration: none;
	    }
	}

	.text-center{
		text-align: center;
	}

	.text-right{
		text-align: right;
	}

	.text-warning{
		color: #ffb800;
	}

	.text-danger{
		color: #e34e4e;
	}

	.text-success{
		color: #4caf50;
	}

	.text-grey{
		color: rgba(70, 70, 70, 0.4);
	}

	.color-warning{
		background-color: #ffb800;
	}

	.color-danger{
		background-color: #e34e4e;
	}

	.color-success{
		background-color: #4caf50;
	}

	a.link-secondary, a.link-secondary:hover, a.link-secondary:focus{
		text-decoration: none;
		color: $color-secondary;
	}

	// Progress
	.nav-form-step{
		width: 100%;
		overflow-x: scroll;
	}

	.progressbar {
	  counter-reset: step;
	  padding: 0px;
	  margin: 0px;
	  width: 500px;
	}
	.progressbar li {
	  list-style-type: none;
	  width: 25%;
	  float: left;
	  font-size: 14px;
	  position: relative;
	  text-align: center;
	  color: rgba(70, 70, 70, 0.2);
	}
	.progressbar li:before {
	  content: counter(step);
	  counter-increment: step;
	  width: 33px;
	  height: 33px;
	  line-height: 30px;
	  border: 2px solid #b4b4b4;
	  background-color: #b4b4b4;
	  color: #b4b4b4;
	  display: block;
	  text-align: center;
	  margin: 0 auto 10px auto;
	  border-radius: 50%;
	}
	.progressbar li:after {
	  width: 100%;
	  height: 3px;
	  content: '';
	  position: absolute;
	  background-color: #b4b4b4;
	  top: 15px;
	  left: -50%;
	  z-index: -1;
	}
	.progressbar li:first-child:after {
	  content: none;
	}
	.progressbar li.has-active {
	  a{
	  	color: #464646;
	  	transition: ease all 0.3s;
	  }

	  a:hover{
	  	text-decoration: none;
	  	color: $color-secondary
	  }
	}
	.progressbar li.has-active:before {
	  content: counter(step);
	  counter-increment: step;
	  border-color: $color-primary;
	  background-color: $color-primary;
	  color: #fff;
	  font-size: 14px;

	  &:hover{
	  	border-color: $color-primary;
	  	background-color: $color-primary;
	  }
	}
	.progressbar li.has-active + li:after {
	  background-color: $color-primary;
	}

	.progressbar li.active {
	  color: #464646;
	}
	.progressbar li.active:before {
	  content: counter(step);
	  counter-increment: step;
	  border-color: $color-primary;
	  background-color: #fff;
	  color: $color-primary;
	  font-size: 14px;
	}
	.progressbar li.active + li:after {
	  background-color: $color-primary;;
	}

	// Switch
	.switch {
	  position: relative;
	  display: inline-block;
	  width: 45px;
	  height: 24px;
	}

	.switch input { 
	  opacity: 0 !important;
	  width: 0 !important;
	  height: 0 !important;
	}

	.slider-switch {
	  position: absolute !important;
	  cursor: pointer !important;
	  top: 0 !important;
	  left: 0 !important;
	  right: 0 !important;
	  bottom: 0 !important;
	  background-color: #737b87 !important;
	  -webkit-transition: .4s !important;
	  transition: .4s !important;
	}

	.slider-switch:before {
	  position: absolute !important;
	  content: "" !important;
	  height: 20px !important;
	  width: 20px !important;
	  left: 2px !important;
	  bottom: 2px !important;
	  background-color: white !important;
	  -webkit-transition: .4s !important;
	  transition: .4s !important;
	}

	input:checked + .slider-switch {
	  background-color: #1e8c83 !important;
	}

	input:focus + .slider-switch {
	  box-shadow: 0 0 1px #2196F3 !important;
	}

	input:checked + .slider-switch:before {
	  -webkit-transform: translateX(20px) !important;
	  -ms-transform: translateX(20px) !important;
	  transform: translateX(20px) !important;
	}

	/* Rounded sliders */
	.slider-switch.round {
	  border-radius: 34px !important;
	}

	.slider-switch.round:before {
	  border-radius: 50% !important;
	}

	#more, #more-tos {
		display: none;
	}

	.btn-more-about{
		border: none;
		padding: 10px 35px;
		background-color: #cb202a;
		font-size: 12px;
		color: #fff;
		margin: 25px auto;
		cursor: pointer;
		border-radius: 10px;
		text-align: center;
		display: block;
		transition: ease all 0.5s;

		&:hover{
			background-color: #7f030a;
		}
	}

	// End Utilities -----------------------------

	// Nav Bottom
	.nav-bottom{
		bottom: 20px;
		position: fixed;
		padding: 15px 10px;
		box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.15);
  		background-color: #f9f9f9;
  		border-radius: 20px;
  		width: 95%;
  		z-index: 97;
  		left: 9px;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
		}

		li{
			display: inline-block;
			width: 19%;
			padding: 0px 7px;

			span{
				display: inline-block;
			  	width: 100%;
				height: 35px;
			  	background-size: 100% 100%;
			}
		}

		li.active .nav-bottom-bookmark{
			background-image: url('../images/icon/nav-bookmark-active.svg') !important;
		}

		li.active .nav-bottom-transaksi{
			background-image: url('../images/icon/nav-transaksi-active.svg') !important;
		}

		li.active .nav-bottom-qna{
			background-image: url('../images/icon/nav-qna-active.svg') !important;
		}

		li.active .nav-bottom-produk{
			background-image: url('../images/icon/nav-produk-active.svg') !important;
		}

		li.active .nav-bottom-perangkat{
			background-image: url('../images/icon/nav-perangkat-active.svg') !important;
		}
	}

	.nav-bottom-bookmark{
		background-image: url('../images/icon/nav-bookmark.svg');

		&:hover{
			background-image: url('../images/icon/nav-bookmark-active.svg');
		}
	}

	.nav-bottom-transaksi{
		background-image: url('../images/icon/nav-transaksi.svg');

		&:hover{
			background-image: url('../images/icon/nav-transaksi-active.svg');
		}
	}

	.nav-bottom-qna{
		background-image: url('../images/icon/nav-qna.svg');

		&:hover{
			background-image: url('../images/icon/nav-qna-active.svg');
		}
	}

	.nav-bottom-produk{
		background-image: url('../images/icon/nav-produk.svg');

		&:hover{
			background-image: url('../images/icon/nav-produk-active.svg');
		}
	}

	.nav-bottom-perangkat{
		background-image: url('../images/icon/nav-perangkat.svg');

		&:hover{
			background-image: url('../images/icon/nav-perangkat-active.svg');
		}
	}

	// Header
	.hide-body{
		position: fixed;
		top: 0;
		height: 100%;
		z-index: 98;
		left: 0;
		background-color: rgba(0,0,0,0);
	}

	.block-body{
		width: 100%;
		background-color: rgba(0,0,0,0.8);
		animation: fadein 1s;
		-moz-animation: fadein 1s; /* Firefox */
		-webkit-animation: fadein 1s; /* Safari and Chrome */
		-o-animation: fadein 1s; /* Opera */
	}

	@keyframes fadein {
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-moz-keyframes fadein { /* Firefox */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-webkit-keyframes fadein { /* Safari and Chrome */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity:1;
	    }
	}
	@-o-keyframes fadein { /* Opera */
	    from {
	        opacity:0;
	    }
	    to {
	        opacity: 1;
	    }
	}


	// Stop Scrolling If Nav Side Show
	.stop-scrolling { 
	    height: 100%; 
	    overflow: hidden; 
	} 

	// Header Icon Menu
	.warp-header{
		position: fixed;
		z-index: 97;
		top: 0;
		width: 100%;
		padding: 15px 0px;
		border-bottom: 1px solid #eaeaea;
		background-color: #fff;
		-webkit-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		-moz-box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
		box-shadow: 0px 1px 5px 0px rgba(212,212,212,1);
	}

	// Logo Head
	.logo-head{	
		font-size: 11px;
		text-align: center;
		color: #000;
		width: 70%;
		margin: 5px 0px;
		img{
			width: 200px;
			display: block;
			margin: auto;
		}
	}

	// Icon Registrasi
	.registrasi-icon{
		width: 15%;
		text-align: right;
		cursor: pointer;

		a img{
			width: 25px;
			height: 25px;
			border-radius: 50px;
			margin: 7px 0px;
		}
	}

	// Nav Side
	.nav-icon {
		width: 15%;
		display: inline-block;
		cursor: pointer;
		padding: 5px 0px;
	}

	.ico-drop-nav{
		padding-left: 5%;
	}
	
	.bar1, .bar2, .bar3 {
		height: 3px;
		background-color:$color-menu;
		margin: 4px 0;
		transition: 0.4s;
		border-radius: 2px;
	}

	.bar1{
		width: 22px;
	}

	.bar2{
		width: 22px;
	}

	.bar3{
		width: 22px;
	}

	nav{
		font-size: 14px;
		background-color: #fff;
		height: 100%;
		width: 0 ;
		position: fixed;
		z-index: 99;
		left: 0;
		overflow-x: hidden;
		transition: all ease .3s;
		top: 0px;
		padding: 0px 0px 100px;
		color: #2f2f2f;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			padding: 10px 0px;
			width: 300px;
		}

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}

		.new-menu{
			color: $color-secondary;
			background-color: #fff;
			padding: 2px 3px;
			border-radius: 3px;
		 	vertical-align: super; 
			font-size: 11px; 
		}
	}

	.logo-nav{
		padding: 15px;
		width: 100%;
		img{
			width: 140px;
		}
	}

	.nav-menu{
		padding: 20px 15px;
	}

	.nav-separate{
		border-top: 1px solid #e5e5e5;
		margin: 0px !important;
	}

	.nav-title-side{
		font-weight: bold;
		margin-bottom: 17px;
		width: 300px;
	}

	.nav-side-icon{
		width: 18px;
		height: 18px;
		margin: 0px 10px 0px 0px;
	}
	// End Nav

	.head-content{
		margin-top: 66px;
		background-color: #f3f3f3;
		padding: 10px 15px;
		border: 1px solid #e5e5e5;
		font-weight: bold;
		overflow: auto;
		font-size: 14px;
	}

	.date-nav{
		float: left;
	}

	.right-nav{
		float: right;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	// Headline
	.headline{
		margin-top: 15px;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.title-headline{
		font-family: "Roboto-bold", 'arial', 'tahoma';
		font-size: 30px;
		font-weight: bold;
		line-height: 1.3;
		text-align: center;
		margin: 15px 0px;
		padding: 0px 15px;
	}

	.img-headline{
		width: 100%;
		position: relative;

		img{
			width: 100%;
			height: 275px;
			object-fit: cover;
		}
	}

	.warp-kanal{
		position: absolute;
		top: 0;
		left: 0;
		background-color: $color-secondary;
		border-right: 10px solid $color-primary;
		padding: 5px 15px 5px 15px;
		color: #fff;
		font-size: 14px;
		font-weight: bold;
	}

	.desc-headline{
		font-size: 14px;
		padding: 15px;
		position: relative;
		margin-bottom: 15px;

		&::after{
			content: '';
			position: absolute;
			left: 15px;
			bottom: 0;
			height: 1px;
			width: 91%;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	// List Berita
	.list-berita{
		margin-top: 15px;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.img-list-berita{
		width: 100%;
		position: relative;

		img{
			width: 100%;
			height: 240px;
			object-fit: cover;
		}
	}

	.title-list-berita{
		font-family: "Roboto-bold", 'arial', 'tahoma';
		font-size: 20px;
		font-weight: bold;
		line-height: 1.3;
		text-align: left;
		margin-top: 15px;
		padding: 0px 15px;
	}

	.desc-list-berita{
		font-size: 14px;
		padding: 15px;
		position: relative;
		margin-bottom: 15px;

		&::after{
			content: '';
			position: absolute;
			left: 15px;
			bottom: 0;
			height: 1px;
			width: 91%;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	// Filter
	.warp-filter{
		background-color: $color-primary;
		padding: 15px;
		overflow: auto;
	}

	.title-filter{
		float: left;
		width: 45%;
		height: 35px;
		background-color: #fff;
	    padding: 5px 10px;
	    margin-right: 3px;
	    margin-bottom: 0px;
	    font-size: 14px;
	    border: 2px solid #fff;
	    border-radius: 10px;
	    color: #c0c0c0;
	    -webkit-appearance: none;
	    outline: none;

	    &:focus{
	    	color: #000;
	    	border: 2px solid $color-secondary;
	    }
	}

	.date-filter{
		float: left;
		width: 40%;
		height: 35px;
		background-color: #fff;
		padding: 5px 10px;
		margin: 0px 3px;
	    font-size: 14px;
	    line-height: 1;
	    border: 2px solid #fff;
	    border-radius: 10px !important;
	    background: url('../../assets/images/icon/calendar-alt-solid.svg') no-repeat right #fff;
	    background-size: 15px;
	    background-position-x: 95%;
	    color: #000;
	    -webkit-appearance: none;
	    outline: none;

	    &:focus{
	    	border: 2px solid $color-secondary;
	    }
	}

	.btn-filter{
		float: left;
		position: relative;
		width: 11%;
		height: 35px;
		padding: 0px 0px;
		margin-left: 3px;
	    font-size: 14px;
	    border-radius: 10px;
	    color: #fff;
	    border: 2px solid $color-secondary;
	    background-color: $color-secondary;
	    
	    &:hover{
	    	border: 2px solid #da6816;
			background-color: #da6816;
			text-decoration: none;
		}

		&:focus{
			border: 2px solid #da6816;
			background-color: #da6816;
			text-decoration: none;
			-webkit-appearance: none;
	    	outline: none;
		}
	}

	// List Epaper
	.list-epaper{
		margin-top: 15px;
	}

	.warp-head-list-paper{
		margin-bottom: 8px;
		padding: 0px 15px;
	}

	.head-list-paper{
		float: left;
		width: 90%;
	}

	.edisi-list-epaper{
		font-size: 12px;
		color: $color-secondary;
		margin-bottom: 1px;
	}

	.title-list-epaper{
		font-size: 20px;
		font-family: "Roboto-bold",'arial','tahoma';
		margin-bottom: 12px;

		a{
			color: #000;
			display: block;
		}

		a:hover{
			text-decoration: none;
			color: $color-secondary;
		}

		a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	.desc-list-epaper{
		font-size: 14px;
	}

	.i-bookmark-list-paper{
		float: left;
		width: 10%;
		text-align: right;

		img{
			width: 24px;
			height: 32px;
		}
	}

	.img-list-epaper{
		position: relative;
		margin-bottom: 15px;

		img{
			width: 100%;
			height: 600px;
		}

		&::after{
			content: '';
			position: absolute;
			left: 15px;
			bottom: 0;
			height: 1px;
			width: 91%;
			border-bottom: 1px solid #e5e5e5;
		}
	}

	// Epaper Read
	.epaper-read{
		width: 100%;
		height: 600px;
		position: relative;
		z-index: 20;
	}

	.title-epaper-read{
		font-family: 'Roboto-bold','arial','tahoma';
		font-weight: bold;
		font-size: 24px;
		margin: 12px 0px;
		padding: 0px 15px;
	}

	.date-epaper-read{
		font-size: 16px;
		color: #575757;
		margin-bottom: 16px;
		padding: 0px 15px;
	}

	.epaper-flipHtml{
		width: 100%;
		height: 520px;
	}

	.desc-epaper-read{
		font-size: 16px;
		margin-top: 24px;
		padding: 0px 15px;
	}

	.share-btn{
		width: 100%;
		margin: 24px 0px 32px;
	}

	// Login
	input:-webkit-autofill,
	input:-webkit-autofill:hover, 
	input:-webkit-autofill:focus, 
	input:-webkit-autofill:active  {
	    -webkit-box-shadow: 0 0 0 30px white inset !important;
	}

	.warp-link{
		margin: 15px 0px;
		text-align: center;

		a{
			font-size: 12px;
			color: #494949;

			&:hover{
				text-decoration: none;
				color: #494949;
			}

			&:focus{
				text-decoration: none;
				color: #494949;
			}
		}
	}

	.daftar-link{
		font-size: 12px;
		color: #fff;
		background: #232323;
		border-radius: 6px;
		padding: 10px 8px;
		text-align: center;

		a{
			color: #0db2f0;
			font-weight: bold;;

			&:hover{
				text-decoration: none;
				color: #0db2f0;
			}

			&:focus{
				text-decoration: none;
				color: #0db2f0;
			}
		}
	}

	.or-login {
	    display: flex;
	    align-items: center;
	    text-align: center;
	    color: #fff;
	    font-size: 12px;
	    margin: 15px 0px 10px;
	}
	.or-login::before, .or-login::after {
	    content: '';
	    flex: 1;
	    border-bottom: 1px solid #fff;
	}
	.or-login::before {
	    margin-right: 20px;
	}
	.or-login::after {
	    margin-left: 20px;
	}

	.btn-social-login{
		position: relative;
		font-size: 12px;
		text-align: center;
		display: block;
		border-radius: 6px;
		padding: 11px 0px;
		margin: 8px 0px;
	}

	.btn-social-gl{
		background-color: #fff;
		color: #000;

		&:hover{
			text-decoration: none;
			color: #000;
		}

		&:focus{
			text-decoration: none;
			color: #000;
		}
	}

	.btn-social-fb{
		background-color: #3b5998;
		color: #fff;

		&:hover{
			text-decoration: none;
			color: #fff;
		}

		&:focus{
			text-decoration: none;
			color: #fff;
		}
	}

	.btn-social-tw{
		background-color: #1da1f2;
		color: #fff;

		&:hover{
			text-decoration: none;
			color: #fff;
		}

		&:focus{
			text-decoration: none;
			color: #fff;
		}
	}

	.i-login-gl{
		position: absolute;
		z-index: 20;
		left: 35px;
		top: 11px;
		width: 20px;
	}
	.i-login-fb{
		position: absolute;
		z-index: 20;
		left: 32px;
		top: 11px;
		font-size: 19px !important;
	}
	.i-login-tw{
		position: absolute;
		z-index: 20;
		left: 32px;
		top: 10px;
		font-size: 19px !important;
	}

	// Profile
	.warp-profile{
		margin: 10px 0px 45px;
	}

	.warp-nav-profile{
		display: flex;
		flex-wrap: wrap;
	}

	.nav-burger{
		width: 50%;
		float: left;

		img{
			width: 18px;
			height: 20px;
		}
	}

	.nav-notifikasi{
		width: 50%;
		float: right;
		position: relative;

		img{
			width: 18px;
			height: 20px;
			float: right;
		}
	}

	.notif-red{
		position: absolute;
	    width: 8px;
	    height: 8px;
	    background-color: #bb4430;
	    right: 0;
	    top: 0;
	    border-radius: 50%;
	}

	.img-avatar{
		position: relative;
		margin: 0px 0px 15px;

		img{
			width: 127px;
			height: 127px;
			object-fit: cover;
			border-radius: 50%;
			display: block;
			margin: auto;
		}
	}

	.name-profile{
		font-size: 14px;
		font-weight: bold;
		text-align: center;
	}

	.email-profile{
		font-size: 12px;
		text-align: center;
	}

	.warp-btn-profile{
		margin: 20px 0px 40px;
		text-align: center;
	}

	.btn-edit-profile{
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		padding: 7px 18px;
		border-radius: 6px;
		border: 1px solid $color-primary;
		background-color: $color-primary;

		&:hover{
			text-decoration: none;
			color: #fff;
		}

		&:focus{
			outline: none;
			-webkit-appearance: none;
			text-decoration: none;
			color: #fff;
		}
	}

	.btn-signout-profile{
		font-size: 14px;
		font-weight: bold;
		color: $color-primary;
		padding: 7px 18px;
		border-radius: 6px;
		border: 1px solid $color-primary;
		background-color: #fff;

		&:hover{
			text-decoration: none;
			color: $color-primary;
		}

		&:focus{
			outline: none;
			-webkit-appearance: none;
			text-decoration: none;
			color: $color-primary;
		}
	}

	// Nav Bookmark
	.nav-bookmark{
		position: relative;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.warp-count-bookmark, .warp-count-bookmark-full{
		float: left;
		font-size: 14px;
		font-weight: bold;
		margin: 4px 0px;
	}

	.warp-count-bookmark{
		width: 47%;
	}

	.warp-count-bookmark-full{
		width: 87%;
	}

	.count-bookmark{
		color: #767676;
		font-size: 14px;
		font-weight: normal !important;
	}

	.box-date{
		float: right;
		width: 40%;
		padding-left: 10px;
	}

	.date-cari-bookmark{
		width: 100%;
		padding: 6px 8px;
	    font-size: 12px;
	    border: 1px solid #c0c0c0;
	    border-radius: 6px !important;
	    background: url('../../assets/images/icon/calendar-alt-solid.svg') no-repeat right #fff;
	    background-size: 15px;
	    background-position-x: 95%;
	    color: #000;
	    -webkit-appearance: none;
	    outline: none;

	    &:focus{
	    	border: 1px solid $color-secondary;
	    }
	}

	.warp-cari-bookmark{
		float: right;
		width: 13%;
		text-align: center;
	}

	.btn-search-bookmark{
		background-color: $color-secondary;
		color: #fff !important;
		font-size: 12px;
		border-radius: 6px;
		border: 1px solid $color-secondary;
		padding: 6px 10px;
		margin-left: 10px;
		display: block; 
	}

	// Mark
	.warp-head-mark{
		margin: 9px 0px 30px 0px;
		width: 100%;
	}

	.head-mark{
		border-top: 1px solid #f3f3f4;
		padding: 12px 0px 28px 0px;
	}

	.check-mark{
		width: 8%;
		float: left;
	}

	.title-mark{
		width: 72%;
		float: left;
		color: #494949;
		font-size: 14px;
		font-weight: 500;
	}

	.btn-hapus-mark{
		width: 20%;
		float: left;
		text-align: right;

		button{
			border: none;
			color: #f22525;
			font-size: 14px;
			background-color: #fff;
			font-weight: 500;

			&:focus{
				outline: none;
			}
		}
	}

	// Check Box
	.warp-checkbox {
	  position: relative;
	}

	.warp-checkbox label {
	  background-color: #fff;
	  border: 1px solid #ccc;
	  border-radius: 5px;
	  cursor: pointer;
	  height: 20px;
	  left: 0;
	  position: absolute;
	  top: 0;
	  width: 20px;
	}

	.warp-checkbox label:after {
	  border: 2px solid #fff;
	  border-top: none;
	  border-right: none;
	  content: "";
	  height: 6px;
	  left: 3px;
	  opacity: 0;
	  position: absolute;
	  top: 5px;
	  transform: rotate(-45deg);
	  width: 12px;
	}

	.warp-checkbox input[type="checkbox"] {
	  visibility: hidden;
	}

	.warp-checkbox input[type="checkbox"]:checked + label {
	  background-color: #1e8c83;
	  border-color: #1e8c83;
	}

	.warp-checkbox input[type="checkbox"]:checked + label:after {
	  opacity: 1;
	}

	// End Checkbox

	// List Bookmark
	.list-bookmark{
		border-bottom: 1px solid #e5e5e5;
		width: 100%;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	.warp-bookmark-newspaper{
		width: 82%;
		float: left;
	}

	.img-bookmark-newspaper{
		width: 32%;
		float: left;

		img{
			width: 100%;
		}
	}

	.warp-desc-bookmark-newspaper{
		width: 68%;
		float: left;
		padding-left: 12px;
	}

	.edisi-bookmark{
		font-size: 10px;
		margin-bottom: 12px;
		color: $color-secondary;
	}

	.title-bookmark{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 12px;
	}

	.desc-bookmark{
		font-size: 12px;
	}

	.flag-bookmark{
		width: 10%;
		float: left;

		img{
			width: 17px;
			height: 23px;
			margin: auto;
			display: block;
		}
	}

	// Bread Crumb Page
	.nav-page{
		display: inline-block;
		font-family: "Roboto-bold",'arial','tahoma';
		margin: 23px 0px;
		width: 100%;
	}

	.kategori-page{
		font-size: 16px;
		color: #767676 !important;
		padding-right: 12px;
		border-right: 1px solid #c4c4c4;
		text-decoration: none;
		
		&:focus{
			text-decoration: none;
		}
	}

	.subkategori-page{
		font-size: 16px;
		color: $color-secondary;
		padding-left: 12px;
	}

	// Ubah Profile
	.btn-edit-profile-form{
		position: absolute;
		z-index: 30;
		bottom: -5px;
		left: 45%;
		font-size: 10px;
		text-align: center;
		
		a{
			color: #fff;
			background-color: $color-secondary;
			padding: 8px 10px;
			border-radius: 6px;
			border: solid 1px $color-secondary;
			box-shadow: 0 4px 10px 3px rgba(0, 0, 0, 0.11);
		}
		
		a:focus{
			text-decoration: none;
			color: #fff;
		}

	}

	.t-b-ubah-profile{
		border: none;
		font-size: 14px;
		font-weight: bold;
		color: #fff;
		background: $color-secondary;
		text-align: center;
		width: 100%;
		border-radius: 6px;
		padding: 9px 0px;
		margin-top: 36px;

		&:focus{
			outline: none;
		}
	}

	// Notifikasi
	.warp-head-mark-notifikasi{
		margin: 0px 0px 30px 0px;
		width: 100%;
	}

	.list-notifikasi{
		width: 100%;
		margin-bottom: 44px;
	}

	.warp-notifikasi{
		float: left;
		width: 92%;
		padding: 16px;
		margin-top: -16px;
		border-radius: 4px;

		a:hover{
			text-decoration: none;
		}

		a:focus{
			text-decoration: none;
		}
	}

	.warp-notifikasi.notifikasi-grey{
		background-color: #f2f2f2;
	}

	.notifikasi{
		border-left: 6px solid $color-secondary;
	}

	.icon-notifikasi{
		float: left;
		width: 15%;

		img{
			width: 16px;
			height: 16px;
			margin: auto;
			display: block;
		}
	}

	.warp-desc-notifikasi{
		float: left;
		width: 85%;
	}

	.head-notifikasi{
		margin-bottom: 4px;
		font-size: 10px;
		color: rgba(0, 0, 0, 0.56);
	}

	.media-notifikasi{
		&:after{
			content: '\2022';
			margin: 0px 8px;
		}
	}

	.title-notifikasi{
		font-size: 16px;
		color: #494949;
		margin-bottom: 8px;
	}

	.desc-notifikasi{
		font-size: 14px;
		color: rgba(0, 0, 0, 0.56);

		img{
			width: 100%;
			height: 56px;
			object-fit: cover;
			margin-bottom: 8px;
		}
	}

	// Detail Notifikasi
	.warp-detail-notifikasi{
		padding: 16px;
	}

	.warp-left-detail-notifikasi{
		float: left;
		width: 15%;
		height: 40px;
		border-left: 6px solid $color-secondary;

		img{
			width: 20px;
			height: 20px;
			margin: auto;
			display: block;
		}
	}

	.warp-right-detail-notifikasi{
		float: left;
		width: 85%;
	}

	.head-detail-notifikasi{
		position: relative;
		margin-bottom: 4px;
		font-size: 10px;
		color: rgba(0, 0, 0, 0.56);
	}

	.media-detail-notifikasi{
		&:after{
			content: '\2022';
			margin: 0px 8px;
		}
	}

	.btn-delete-detail-notifikasi{
		position: absolute;
		right: 0;
		top: 0;
	}

	.title-detail-notifikasi{
		font-size: 16px;
		color: #494949;
		margin-bottom: 8px;
	}

	.img-detail-notifikasi{
		width: 100%;
		margin-bottom: 8px;

		img{
			width: 100%;
		}
	}

	.desc-detail-notifikasi{
		font-size: 8px;
		color: rgba(0, 0, 0, 0.56);
		line-height: 18px;
		text-align: center;
		margin-bottom: 40px;
	}

	// Clear Notifikasi
	.img-notifikasi-clear{
		width: 100%;
		margin: 94px 0px 32px;

		img{
			width: 80%;
			margin: auto;
			display: block;
		}
	}

	.desc-notifikasi-clear{
		font-size: 16px;
		color: #424242;
		text-align: center;
		margin-bottom: 94px;
	}


	// Search
	.warp-search{
		margin: 0px 0px 36px;
		width: 100%;
		position: relative;
	}

	.input-cari-group{
		font-size: 12px;
		color: #c0c0c0;
		padding: 9px 40px 9px 8px;
		border: 1px solid #c0c0c0;
		border-radius: 2px;
		width: 100%;
		height: 36px;

		&:focus{
			border: 1px solid $color-secondary;
			color: #000;
		}
	}

	.btn-cari-group{
		font-size: 12px;
		color: #fff;
		background-color: $color-secondary;
		width: 36px;
		height: 36px;
		border: 1px solid $color-secondary;
		border-radius: 2px;
		outline: none;
		text-align: center;
		position: absolute;
		right: 0;
		top: 0;
	}

	.list-cari{
		border-bottom: 1px solid #e5e5e5;
		width: 100%;
		padding-bottom: 15px;
		margin-bottom: 15px;
	}

	.warp-cari-newspaper{
		width: 90%;
		float: left;
	}

	.img-cari-newspaper{
		width: 32%;
		float: left;

		img{
			width: 100%;
		}
	}

	.warp-desc-cari-newspaper{
		width: 68%;
		float: left;
		padding-left: 12px;
	}

	.edisi-cari{
		font-size: 10px;
		margin-bottom: 12px;
		color: $color-secondary;
	}

	.title-cari{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 12px;
	}

	.desc-cari{
		font-size: 12px;
	}

	// Not Found
	.img-notfound{
		width: 100%;
		margin: 94px 0px 32px;

		img{
			width: 80%;
			margin: auto;
			display: block;
		}
	}

	.desc-notfound{
		font-size: 16px;
		color: #424242;
		text-align: center;
		margin-bottom: 94px;
	}

	// Transaksi
	.warp-list-transaksi{
		border-bottom: 1px solid #e5e5e5;
		padding-bottom: 16px;
		margin-bottom: 16px;
	}

	.list-transaksi{
		font-family: "Roboto-medium",'arial','tahoma';
		border-radius: 10px;
		background-color: #fff;
		font-size: 12px;
		box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
		padding: 15px 10px;
		width: 100%;
	}

	.head-transaksi{
		margin-bottom: 20px;
	}
	.warp-checkbox-transaksi{
		float: left;
		width: 20px;
		margin-right: 8px;
	}

	.no-transaksi-inv{
		float: left;

		a{
			color: $color-secondary;
		}

		a:hover, a:focus{
			text-decoration: none;
			color: $color-primary;
		}
	}

	.status-inv{
		float: right;

		a:hover, a:focus{
			text-decoration: none;
		}
	}

	.detail-transaksi{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 16px;
	}

	.transaksi-paket, .transaksi-harga{
		width: 50%;
	}

	.nama-paket-transaksi{
		font-size: 14px;
		color: #494949;
	}

	.transaksi-harga{
		text-align: right;
	}

	.harga-item-transaksi{
		font-size: 14px;
		color: #494949;
	}

	.tanggal-transaksi{
		display: flex;
		flex-wrap: wrap;
		padding-top: 8px;
		border-top: 1px solid #f6f6f6;
	}

	.traksaksi-pembelian, .transaksi-pembayaran{
		width: 50%;
	}

	.tanggal-pembelian-transaksi, .tanggal-pembayaran-transaksi{
		color: rgba(73, 73, 73, 0.8);
	}

	.transaksi-pembayaran{
		text-align: right;

	}

	// Status Invoice
	.inv-download{
		float: right;

		a{
			font-size: 16px;
			color: #767676;
		}

		a:hover, a:focus{
			text-decoration: none;
			color: #767676;
		}

		img{
			width: 16px;
			height: 16px;
			margin-right: 8px;
		}
	}

	// Invoice
	.card-invoice{
		width: 100%;
		border-left: 3px solid $color-primary;
		margin: auto;
		background-color: #fff;
		-webkit-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
		-moz-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
		box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
	}

	.header-invoice{
		background-color: rgba(13, 178, 240, 0.1);
		padding: 8px;
	}

	.warp-logo-invoice{
		margin-bottom: 14px;
		display: flex;
		flex-wrap: wrap;
	}

	.logo-invoice{
		border-right: 2px solid #494949;
		margin-right: 5px;
		padding: 0px 5px 0px 0px;
		width: 40%;

		img{
			width: 100%;
		}
	}

	.title-invoice{
		width: 55%;
		font-size: 18px;
		font-family: "Roboto-medium",'arial','tahoma';
	}

	.warp-alamat-invoice{
		display: flex;
		flex-wrap: wrap;
		font-size: 12px;
		color: #494949;
	}

	.contact-invoice{
		width: 50%;
		text-align: left;
	}

	.alamat-invoice{
		width: 50%;
		text-align: right;
	}

	.container-inv{
		padding: 8px;
	}

	.detail-invoice{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
	}

	.warp-detail-invoice{
		width: 50%;
		margin-bottom: 12px;
	}

	.title-detail-invoice{
		font-weight: bold;
		font-size: 14px;
		color: rgba(73, 73, 73, 0.6);
		margin-bottom: 5px;
	}

	.name-bill{
		font-size: 14px;
		font-weight: bold;
		color: #494949;
		margin-bottom: 4px;
	}

	.address-bill{
		font-size: 14px;
		color: #494949;
	}

	.invoice-number, .order-number{
		font-size: 14px;
		font-weight: bold;
		color: #494949;
		margin-bottom: 12px;
	}

	.invoice-rp{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 18px;
		color: #0db2f0;
	}

	.warp-date-due{
		padding: 12px 0px;
		border-bottom: 2px solid rgba(73, 73, 73, 0.12);
	}

	.name-packet{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 14px;
		margin-bottom: 6px;
	}

	.date-due-invoice{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 12px;
	}

	.warp-inv-date{
		display: flex;
		flex-wrap: wrap;
	}

	.inv-date{
		width: 50%;
	}

	.warp-item-detail{
		padding: 12px 0px;
		display: flex;
		flex-wrap: wrap;
		border-bottom: 1px solid rgba(73, 73, 73, 0.12);

		table{
			width: 100%;
		}

		th, td,{
			border: none !important;
		}
	}

	.packet-detail-name, .detail-bill{
		font-size: 12px;
		color: #494949;
		margin-top: 12px;
		margin-bottom: 5px;
	}

	.detail-bill{
		font-weight: bold;
	}

	.packet-detail-desc{
		font-size: 11px;
		color: rgba(73, 73, 73, 0.6);
	}

	.warp-note-inv{
		padding: 12px 0px;
		display: flex;
		flex-wrap: wrap;
	}

	.note-inv{
		width: 100%;
		font-size: 12px;
		color: rgba(73, 73, 73, 0.8);

		table{
			width: 100%;
		}

		th, td,{
			border: none !important;
		}
	}

	.bank-name{
		font-weight: bold;
		color: #0db2f0 !important;
	}

	.total-inv{
		width: 100%;
		text-align: right;
		margin-top: 16px;

		table{
			width: 100%;
		}

		th, td,{
			border: none !important;
		}
	}

	.title-total-inv{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 12px;
		margin-bottom: 12px;
		color: rgba(73, 73, 73, 0.6);
		text-align: left;
	}

	.isi-total-inv, .isi-total-inv-all{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 12px;
		margin-bottom: 12px;
		color: #494949;
		text-align: right;
	}

	.isi-total-inv-all{
		font-size: 14px !important;
	}

	.toc-inv{
		padding: 0px 0px 20px;
	}

	.desc-toc-inv{
		font-size: 12px;
	}

	// Status Invoice
	.card-status-invoice{
		position: relative;
		width: 100%;
		padding: 34px 10px 15px;
		background-color: #fff;
		border-radius: 10px;
		-webkit-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
		-moz-box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
		box-shadow: 0px 0px 11px 0px rgba(214,214,214,1);
		margin: 20px auto 0px;
	}

	.title-card{
		position: absolute;
		top: -15px;
		left: 0px;
		right: 0px;
		margin: auto;
		color: #fff;
		font-size: 12px;
		padding: 5px 15px;
		border-radius: 5px;
		width: max-content;
	}

	.table-inv{
		color: #494949;
		width: 100%;

		td{
			padding: 10px 0px;
		}

		th, td,{
			border: none !important;
		}
	}

	.title-tbl-inv{
		font-size: 14px;
		font-weight: bold;
	}

	.data-tbl-inv{
		font-size: 14px;
		text-align: right;

		i{
			font-size: 10px;
		}
	}

	.table-total-inv{
		width: 100%;

		td{
			padding: 10px 0px;
		}

		th, td,{
			border: none !important;
		}
	}

	.title-tbl-total-inv{
		color: rgba(73, 73, 73, 0.38);
		font-size: 14px;
		font-weight: bold;
	}

	.btn-invoice{
		font-size: 14px;
		text-align: center;
		margin-top: 12px;

		a{
			color: $color-secondary;
			padding: 14px 0px;
			background-color: #f3f3f3;
			border-radius: 5px;
			display: block;
		}

		a:hover, a:focus{
			color: $color-secondary;
			text-decoration: none;
		}
	}

	// QnA
	.warp-count-qna{
		width: 50%;
		float: left;
		font-size: 14px;
		font-weight: bold;
		margin: 4px 0px;
	}

	.head-qna-right{
		width: 50%;
		text-align: right;
		padding: 3px 0px;

		img{
			width: 13px;
			height: 15px;
			margin-right: 5px;
		}
		
		a{
			color: $color-secondary;
			font-size: 12px;
			padding: 10px;
			border-radius: 10px;
			transition: ease all 0.5s;
			border: 1px solid #fff;
		}

		a:hover, a:focus{
			color: $color-secondary;
			text-decoration: none;
			border: 1px solid $color-secondary;
			padding: 10px;
			border-radius: 10px;
			-webkit-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
			-moz-box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
			box-shadow: 0px 0px 15px -3px rgba(184,184,184,1);
		}
	}

	.group-cari-qna{
		width: 100%;
		position: relative;
		padding-top: 20px;
		margin-top: 16px;
		border-top: 1px solid #f3f3f4;
	}

	.cmb-cari-qna{
		display: block;
		position: absolute;
		top: 20px;
		left: 0;
		border-radius: 10px;
		border: 1px solid #8692a6;
		padding: 7px 12px;
		font-size: 12px;
		height: 32px;
		width: 100px;
		background: url("../../assets/images/icon/chevron-down-solid.svg") no-repeat right #fff;
	    background-position-x: right;
		background-origin: content-box;
		background-position-y: bottom;
		background-size: 11px;
		-webkit-appearance: none;
		outline: none;
		cursor: pointer;
	}

	.txt-cari-qna{
		width: 100%;
		height: 32px;
		border: 1px solid #8692a6;
		font-size: 12px;
		padding: 8px 46px 8px 109px;
		text-align: center;
		color: #c0c0c0;
		border-radius: 10px;

		&:focus{
			color: #000;
			outline: none;
		}
	}

	.btn-cari-qna{
		position: absolute;
		top: 20px;
		right: 0px;
		font-size: 14px;
		color: #fff;
		width: 35px;
		height: 32px;
		background-color: $color-secondary;
		border: 1px solid $color-secondary;
		border-radius: 10px;
		text-align: center;
		cursor: pointer;
	}

	.warp-list-qna{
		padding-bottom: 16px;
		margin-bottom: 16px;
	}

	.list-qna{
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		padding: 15px 0px;
		border-bottom: 1px solid rgba(70, 70, 70, 0.12);
	}

	.bullet-qna{
		width: 10%;

		img{
			width: 12px;
			height: 12px;
		}
	}

	.desc-qna{
		width: 90%;
		display: flex;
		flex-wrap: wrap;
	}

	.title-qna{
		width: 85%;
		font-size: 14px;

		a{
			color: #494949;
		}

		a:hover, a:focus{
			color: #494949;
			text-decoration: none;
		}
	}

	.toggle-answer-qna{
		width: 15%;
		padding-left: 20px;

		i{
			font-size: 18px;
			cursor: pointer;
		}
	}

	.answer-qna{
		display: none;
		width: 100%;
		background-color: rgba(73, 73, 73, 0.08);
		padding: 10px;
		font-size: 14px;
		border-radius: 5px;
		margin: 10px 0px 0px;
	}

	.title-answer{
		color: rgba(73, 73, 73, 0.6);
		padding-bottom: 5px;
	}

	.desc-answer{
		color: #494949;
	}

	// Add Question
	.warp-form-add-question{
		width: 100%;
		margin: auto;
	}

	.warp-add-question-msg{
		margin: 56px 0px 80px 0px;
	}

	.img-notify-add-question{
		width: 100%;
		margin: 0px auto 30px;

		img{
			width: 90%;
			display: block;
			margin: auto;
		}
	}

	.title-msg-add-question{
		font-size: 14px;
		color: #494949;
		margin-bottom: 15px;
		text-align: center;
	}

	.desc-msg-add-question{
		font-size: 12px;
		color: rgba(73, 73, 73, 0.8);
		margin-bottom: 40px;
		text-align: center;
	}

	.b2profile{
		text-align: center;

		a, a:hover, a:focus{
			font-size: 14px;
			color: #f47920;
			text-decoration: underline;
		}
	}

	// Porduk
	.produk-nyoba{
		background: #fdc624;

		a{
			background-color: #fdc624;
			color: #fff;
		}

		a:hover{
			text-decoration: none;
			background-color: #fff;
			color: #fdc624;
		}
	}

	.produk-oke{
		background: #3dcad4;

		a{
			background-color: #3dcad4;
			color: #fff;
		}

		a:hover{
			text-decoration: none;
			background-color: #fff;
			color: #3dcad4;
		}
	}

	.produk-asik{
		background: #3dacfc;

		a{
			background-color: #3dacfc;
			color: #fff;
		}

		a:hover{
			text-decoration: none;
			background-color: #fff;
			color: #3dacfc;
		}
	}

	.produk-permanen{
		background: #939fb3;

		a{
			background-color: #939fb3;
			color: #fff;
		}

		a:hover{
			text-decoration: none;
			background-color: #fff;
			color: #939fb3;
		}
	}

	.warp-produk{
		display: flex;
		flex-wrap: wrap;
	}

	.title-list-produk{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 14px;
		margin: 20px 0px;
		padding-top: 20px;
		border-top: 1px solid #f3f3f4;
	}

	.list-produk{
		width: 100%;
		position: relative;
		border-radius: 20px;
		padding: 20px;
		-webkit-box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
		-moz-box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
		box-shadow: 0px 0px 11px -1px rgba(145,145,145,1);
	}

	.popular-produk{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		padding: 9px 0px;
		text-align: center;
		font-size: 14px;
		font-family: 'Poppins-semi','arial','tahoma';
		color: #ffffff;
		background-image: linear-gradient(to top, #63d6fe, #5dd4f8);
		border-radius: 20px 20px 0px 0px;
	}

	.img-produk{
		width: 50%;
		img{
			width: 100%;
			margin: auto;
			display: block;
		}
	}

	.warp-desc-produk{
		width: 50%;
		padding: 25px 0px 25px 16px;
	}

	.title-produk{
		font-size: 21px;
		font-family: 'Poppins-semi','arial','tahoma';
		color: #ffffff;
		margin-bottom: 3px;
	}

	.desc-produk{
		font-size: 12px;
		font-family: 'Poppins','arial','tahoma';
		color: #ffffff;
		margin-bottom: 22px;
	}

	.harga-produk{
		width: 100%;
		text-align: center;
	}

	.rp-produk{
		font-size: 16px;
		font-family: 'Poppins-bold','arial','tahoma';
		color: #ffffff;
		top: -60px;
		margin-right: 6px;
	}

	.frist-number-harga, .frist-number-harga-ratus, .frist-number-harga-juta{
		font-size: 96px;
		font-family: 'Poppins-bold','arial','tahoma';
		color: #ffffff;
	}

	.last-number-harga, .last-number-harga-ratus, .last-number-harga-juta{
		font-size: 48px;
		font-family: 'Poppins-bold','arial','tahoma';
		color: #ffffff;
	}

	.frist-number-harga-ratus{
		font-size: 80px !important;
	}

	.last-number-harga-ratus{
		font-size: 35px !important;
	} 

	.frist-number-harga-juta{
		font-size: 72px !important;
	}

	.last-number-harga-juta{
		font-size: 30px !important;
	}

	.fiture-produk{
		margin-top: 5px !important;
	}

	.list-fiture{
		font-size: 14px;
		font-family: 'Poppins','arial','tahoma';
		color: #ffffff;
		margin-bottom: 10px;
		padding-left: 15px;

		i{
			margin-left: 5px;
		}
	}

	.btn-langganan-produk{
		text-align: center;
		margin: auto;
		width: 60%;
		margin-top: 20px;

		a{
			font-size: 14px;
			font-family: 'Poppins-semi','arial','tahoma';
			border: 2px solid #fff;
			padding: 10px 47px;
			display: block;
			transition: ease all 0.3s;
		}
	}

	// Konfirmasi Pesanan
	.warp-konfirmasi-pemesanan{
		width: 100%;
		margin: auto;
		margin-bottom: 40px;
	}

	.warp-pemesan{
		width: 100%;
		margin: 20px auto;
		padding: 16px 24px;
		border-radius: 20px;
		background-color: rgba(13, 178, 240, 0.1);
		display: flex;
		flex-wrap: wrap;
	}

	.avatar-pemesan{
		width: 15%;
		padding: 5px 0px;

		img{
			width: 44px;
			height: 44px;
			border-radius: 50%;
			object-fit: cover;
		}
	}

	.detail-pemesan{
		width: 85%;
		text-align: center;
	}

	.nama-pemesan{
		font-size: 18px;
		font-weight: bold;
	}

	.email-pemesan{
		font-size: 14px;
	}

	.warp-note-payment{
		background-color: rgba(255, 184, 0, 0.2);
		margin-bottom: 24px;
		padding: 10px;
	}

	.title-note-payment{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 5px;
	}

	.desc-note-payment{
		font-size: 14px;
	}

	.warp-rincian-harga{
		padding-bottom: 20px;
	}

	.table-order{
		border-top: 1px solid rgba(70, 70, 70, 0.12);
		border-bottom: 1px solid rgba(70, 70, 70, 0.12);
		margin: 15px 0px;
		padding: 15px 0px;
		display: flex;
		flex-wrap: wrap;
	}

	.title-rincian-harga{
		width: 60%;
		font-size: 18px;
		font-family: "Roboto-bold",'arial','tahoma';
	}

	.img-paket{
		width: 100%;

		img{
			width: 100%;
		}
	}

	.order-number-rincian-harga{
		width: 40%;
		font-size: 14px;
		color: rgba(70, 70, 70, 0.38);
		text-align: right;
	}

	.btn-lanjutkan{
		text-align: center;
		padding: 12px 0px;

		a{
			background-color: $color-primary;
			color: #fff;
			font-size: 18px;
			padding: 12px 0px;
			border-radius: 10px;
			transition: ease all 0.3s;
			display: block;
		}

		a:hover{
			background-color: $color-secondary;
			text-decoration: none;
		}
	}

	// List Perangkat
	.list-perangkat{
		border-top: 1px solid #f3f3f4;
		margin: 15px 0px;
		padding-top: 15px;
		display: flex;
		flex-wrap: wrap;
	}

	.ico-device{
		width: 15%;

		img{
			width: 36px;
			margin: auto;
			display: block;
		}
	}

	.ico-device-smartphone{
		width: 15%;

		img{
			width: 22px;
			margin: auto;
			display: block;
		}
	}

	.warp-name-device{
		width: 50%;
	}

	.name-device{
		font-size: 14px;
		font-family: "Roboto-medium",'arial','tahoma';
		margin-bottom: 3px;
		color: #464646;
	}

	.tgl-active{
		font-size: 10px;
		color: #737b87
	}

	.warp-action{
		width: 35%;
		display: flex;
		flex-wrap: wrap;
	}

	.btn-active-inactive{
		width: 60%;
		text-align: center;
	}

	.switch-label-active{
		font-size: 11px;
		color: #1e8c83;
	}

	.switch-label-inactive{
		font-size: 11px;
		color: #737b87;
	}

	.btn-hapus-device{
		border: none;
		padding: 0px;
		background: none;
		width: 40%;
		outline: none;

		&:focus{
			outline: none;

			i{
				color: #e34e4e;
			}
		}

		i{
			font-size: 28px;
			color: #717985;
			margin-bottom: 7px;
		}
	}

	.switch-label-hapus{
		font-size: 11px;
		color: #717985;
	}



	// Footer -----------------------------------------------------------------------
	footer{
		background-color: #f3f3f3;
		// margin-top: 40px;
		padding: 20px 0px 0px;

		position: absolute;
		bottom: 0;
		width: 100%;
		height: 222px;
	}

	.logo-footer{
		margin-bottom: 30px;

		img{
			width: 180px;
			display: block;
			margin: auto;
		}
	}

	.link-footer{
		text-align: center;
		margin-bottom: 24px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			margin: 6px 5px;
			display: inline-block;
		}

		a{
			font-size: 14px;
			color: #575757;
			font-weight: bold;
		}

		a:hover{
			text-decoration: none;
		}

		a:active{
			text-decoration: none;
		}
	}

	.social-footer{
		text-align: center;
		margin-bottom: 24px;

		ul{
			list-style-type: none;
			padding: 0px;
			margin: 0px;
		}

		li{
			margin: 6px 7px;
			display: inline-block;
		}

		img{
			width: 24px;
			height: 24px;
		}
	}

	.copyright{
		background-color: #575757;
		font-size: 12px;
		text-align: center;
		color: #fff;
		padding: 8px 0px 3px;
	}

	.rendering{
		background-color: #575757;
		font-size: 9px;
		text-align: center;
		color: #fff;
		padding: 0px 0px 8px;
	}

	// About
	.home-about{
		padding: 15px 0px 100px;
		background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(0,0,0,0.50), #0e6ead),
			url('../images/bg-home-kontak.jpg');
		background-size: 100%;
	}

	.warp-logo-about{
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		padding: 0px 30px;
		margin-bottom: 62px;
	}

	.logo-about{
		width: 80%;

		img{
			width: 118px;
			height: 14px;
		}
	}

	.nav-burger-about{
		width: 20%;
		text-align: right;

		img{
			width: 18px;
			height: 20px;
		}
	}

	.tag-about{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 20px;
		text-align: center;
		color: #fff;
	}

	// About Us
	.about-us{
		background-color: #0e6ead;
		color: #fff;
	}

	.warp-about-desc{
		padding: 6px 30px 11px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.about-title{
		width: 100%;
		font-size: 24px;
		margin-bottom: 11px;
	}

	.desc-about-us{
		width: 100%;
		font-size: 14px;
	}

	// Award
	.award{
		background-color: #fff;
		padding: 10px 0px 11px;

		.swiper-pagination-bullet{
			width: 6px !important;
			height: 6px !important;
		}

		.swiper-pagination-bullet-active{
			background: #cb202a !important;
		}
	}

	.award-title{
		width: 100%;
		font-size: 24px;
		text-align: center;
		color: #0e6ead;
		margin-bottom: 17px;
	}

	.warp-box-award{
		width: 96% !important;
	  	padding: 15px;
	  	border-radius: 10px;
	  	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
	  	background-color: #ffffff;
	  	margin: 18px 0px 70px 5px;
	}

	.warp-head-box{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: 29px;
	}

	.logo-award{
		width: 65%;

		img{
			width: 100%;
		}
	}

	.date-award{
		width: 35%;
		font-size: 11px;
		text-align: right;
		padding: 5px 0px;
	}

	.judul-award{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 12px;
		color: #0e6ead;
		margin-bottom: 10px;
	}

	.desc-award{
		font-size: 14px;
		color: #000;
		height: 120px;
		text-align: center;
		overflow: hidden;
	}

	// Redaksi
	.redaksi-disclaimer{
		background-image: linear-gradient(to bottom, rgba(14, 110, 173, 0.76), rgba(14, 110, 173, 0.76)),
			url('../images/bg-redaksi-kontak.jpg');
		background-size: cover;
		color: #fff;
	}

	.warp-redaksi{
		border-bottom: 2px solid #fff;
		margin: 0px 0px 36px 0px;
		padding: 11px 30px 36px;
		display: flex;
		flex-wrap: wrap;
	}

	.redaksi-title{
		width: 100%;
		font-size: 24px;
		margin-bottom: 11px;
	}

	.desc-redaksi{
		width: 100%;
		font-size: 14px;
		text-align: center;
	}

	.redaksi-name{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 18px;
	}

	.redaksi-position{
		margin-bottom: 23px;
	}

	.redaksi-others{
		font-weight: bold;
	}

	.warp-discalimer{
		padding: 0px 30px 25px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.discalimer-title{
		width: 100%;
		font-size: 24px;
		margin-bottom: 11px;
	}

	.desc-discalimer{
		width: 100%;
		font-size: 14px;
	}



	// Kode Etik
	.kode-etik{
		color: #000;
	}

	.warp-kode-etik{
		padding: 16px 30px 37px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.kode-etik-title{
		width: 100%;
		font-size: 24px;
		color: #0e6ead;
		margin-bottom: 11px;
	}

	.desc-kode-etik{
		width: 100%;
		font-size: 14px;
	}

	.title-pasal{
		font-family: "Roboto-bold",'tahoma','arial';
		margin-bottom: 14px;
	}

	.title-isi-pasal{
		font-family: "Roboto-bold",'tahoma','arial';
		color: #0e6ead;
		margin-bottom: 14px;
	}

	.isi-pasal{
		margin-bottom: 14px;
		li{
			margin-bottom: 10px;
		}
	}

	// Privacy Policy

	.privacy-policy{
		color: #fff;
		background-color: #0e6ead;
	}

	.warp-privacy-policy{
		padding: 45px 30px 44px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.privacy-policy-title{
		width: 100%;
		font-size: 24px;
		color: #fff;
		margin-bottom: 11px;
	}

	.desc-privacy-policy{
		width: 100%;
		font-size: 14px;
	}

	.number-privacy-policy{
		font-weight: bold;
		margin-bottom: 5px;
	}

	// Tos

	.tos{
		color: #000;
	}

	.warp-tos{
		padding: 45px 30px 44px 30px;
		display: flex;
		flex-wrap: wrap;
	}

	.tos-title{
		width: 100%;
		font-size: 24px;
		color: #0e6ead;
		margin-bottom: 11px;
	}

	.desc-tos{
		width: 100%;
		font-size: 14px;
	}

	.number-tos{
		font-weight: bold;
		margin-bottom: 20px;
	}

	.footer-tos{
		margin-left: 0px;
	}

	// Kontak
	.kontak-kami{
		color: #fff;
		background-color: rgb(12, 51, 89);
		border-bottom: 20px solid #cb202a;
	}

	.warp-kontak-kami{
		padding: 22px 30px 60px 20px;
		display: flex;
		flex-wrap: wrap;
	}

	.kontak-kami-title{
		width: 100%;
		font-size: 24px;
		color: #fff;
		margin-bottom: 11px;
	}

	.kontak-kami-tos{
		width: 100%;
		font-size: 14px;
	}

	.title-office{
		text-align: center;
		font-family: "Roboto-bold",'tahoma','arial';
		font-size: 20px;
	}

	.alamat-office{
		text-align: center;
		font-size: 16px;
	}

	.warp-kontak-list{
		margin-top: 60px;
		display: flex;
		flex-wrap: wrap;
	}

	.kontak-list{
		width: 100%;

		img{
			width: 60px;
			height: 60px;
			margin-right: 10px;
		}
	}

	// Pembayaran
	.btn-back-default{
		margin: 63px 0px 73px;

		a{
			font-size: 16px;
			color: #464646;
		}

		a:hover{
			text-decoration: none;
			color: #464646;
		}

		a:focus{
			text-decoration: none;
			color: #464646;
		}
	}

	.btn-back-to-default{
		color: $color-primary !important;
		font-weight: bold;
	}

	.logo-nav-form-pembayaran{
		margin: 20px 0px;

		img{
			width: 220px;
			display: block;
			margin: auto;
		}
	}

	.title-nav-form{
		background-color: #e5e5e5;
		padding: 6px 15px;
		text-align: center;
		color: #464646;
		font-size: 16px;

		ul{
			list-style-type: none;
			padding: 0;
			margin: 0;
			text-align: left;
		}

		li{
			display: inline-block;
			color: #464646;
			font-size: 14px;
		}

		a{
			color: #464646;
			font-size: 14px;
			font-style: italic;
			margin: 0px 8px;

			&:hover, &:focus{
				color: $color-primary;
				text-decoration: none;
			}
		}
	}

	.tagihan-pembayaran{
		padding: 24px;
		border-radius: 30px;
		box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
		border: solid 1px #848484;
		font-size: 16px;
		color: #464646;
		margin-top: 32px;

		table{
			width: 100%;
		}

		table td{
			border: none !important;
		}

		ol{
			margin: 16px 0px 48px;
		}
	}

	.detail-tagihan-pembayaran{
		display: flex;
		flex-wrap: wrap;
	}

	.head-tagihan-pembayaran{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 18px;
		color: #ffffff;
		padding: 11px 24px;
	  	background-color: $color-primary;
	}

	.title-tagihan-pembayaran{
		font-family: "Roboto-medium",'arial','tahoma';
		font-size: 16px;
		margin-bottom: 37px;
		width: 60%;
	}

	.va-tagihan-pembayaran{
		margin-top: 36px;
	}

	.no-va{
		font-family: "Roboto-medium",'arial','tahoma';
		font-size: 20px;
		margin: 16px 0px;
	}

	.salin-va{
		a{
			padding-bottom: 3px;
			border-bottom: 3px dotted #c4c4c4;
			width: max-content;
			color: #464646;
			cursor: pointer;

			&:hover, &:focus{
				text-decoration: none;
				color: #464646;
				border-bottom: 3px dotted #cbc817;
			}
		}
	}

	.logo-tagihan-pembayaran{
		width: 40%;
		text-align: right;

		img{
			width: auto;
			height: 19px;
			text-align: right;
		}
	}

	// Tos
	.title-page-tos{
		font-family: "Roboto-bold",'arial','tahoma';
		font-size: 20px;
		color: #494949;
		padding: 15px 0px;
		text-align: center;
	}

	.desc-page-tos{
		color: #464646;
		font-size: 14px;
	}

	.number-page-tos{
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 20px;
	}

	.link-page-tos{
		color: $color-primary;
		text-decoration: underline;

		&:hover, &:focus{
			color: $color-secondary;
		}
	}
}